workflows/[JP] Formulário V3 - VG 18 BF / V18-V2.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Não agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendou": {
      "main": [
        [
          {
            "node": "Notifica Grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não agendou": {
      "main": [
        [
          {
            "node": "Notifica Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica Grupo1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica Grupo": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "add lista CG-18-BF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "add lista cg-18-bf na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "add lista V18-V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign3": {
      "main": [
        [
          {
            "node": "add lista v18-v2 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign4": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-19T17:36:30.072Z",
  "id": "tPxjy8h6YV8UwLa7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] Formulário V3 - VG 18 BF / V18-V2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "1f67eabe-2263-456a-81a6-7f9f0fe89be0",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1260,
        360
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.form_response.submitted_at }}",
        "format": "yyyy/MM/dd",
        "options": {}
      },
      "id": "fb891d4a-0128-4ffb-a11d-1389297c8936",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -560,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $('Filter').item.json.form_response.answers[3].email }}&min_start_time={{ $('Date & Time4').item.json.formattedDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "2ae1aaef-faea-4522-9d17-541de3512442",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        340
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a4404ae9-154d-40c0-ae48-0c12e411bd03",
              "leftValue": "={{ $json.form_response.hidden.pagina }}",
              "rightValue": "cg-18-bf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e9a3b606-995d-4ca6-b7b6-ccbafa5097ec",
              "leftValue": "={{ $json.form_response.hidden.pagina }}",
              "rightValue": "v18-v2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4a7d934a-0313-4504-bfd6-e09f65c52ecd",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -1040,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9790315e-0380-4afb-b506-2db0e005ee33",
              "leftValue": "={{ $('Trata Webhook').item.json.form_response.answers[9].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "863de9b4-7d33-43ce-8d00-740d301391d3",
      "name": "agendou",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -260,
        360
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ new DateTime($now).format(\"dd/MM/yyyy\") }}",
            "id_monday": "=",
            "nome": "={{ $('Trata Webhook').item.json.form_response.answers[0].text }}",
            "email": "={{ $('Trata Webhook').item.json.form_response.answers[3].email }}",
            "telefone": "={{ $('Trata Webhook').item.json.form_response.answers[1].phone_number }}",
            "utm_source": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_source }}",
            "utm_campaign": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_campaign }}",
            "utm_medium": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_medium }}",
            "utm_term": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_term }}",
            "utm_content": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_content }}",
            "reunião agendada": "={{ $json.collection[0].start_time.toDateTime().format('yyyy-MM-dd') }}",
            "página": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_monday",
              "displayName": "id_monday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião agendada",
              "displayName": "reunião agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "81190dcf-b7bc-4b15-a54a-024193833b4c",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ new DateTime($now).format(\"dd/MM/yyyy\") }}",
            "id_monday": "=",
            "nome": "={{ $('Trata Webhook').item.json.form_response.answers[0].text }}",
            "email": "={{ $('Trata Webhook').item.json.form_response.answers[3].email }}",
            "telefone": "={{ $('Trata Webhook').item.json.form_response.answers[1].phone_number }}",
            "página": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
            "utm_source": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_source }}",
            "utm_campaign": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_campaign }}",
            "utm_medium": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_medium }}",
            "utm_term": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_term }}",
            "utm_content": "={{ $('Trata Webhook').item.json.form_response.hidden.utm_content }}",
            "reunião agendada": "={{ $json.collection[0].start_time.toDateTime().format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_monday",
              "displayName": "id_monday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião agendada",
              "displayName": "reunião agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "fb7b25b8-1649-4969-9218-08a014571484",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        40,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Página {{ $node[\"Edit Fields\"].json[\"pagina\"] }} - Novo agendamento 🚨\n\nNome: {{ $json.nome }}\nEmail: {{ $json.email }}\nTelefone: {{ $json.telefone }}"
            },
            {
              "name": "phone",
              "value": "120363365606703751-group"
            }
          ]
        },
        "options": {}
      },
      "id": "7cfac751-01fe-454e-a009-03de26c9fcee",
      "name": "Notifica Grupo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ]
    },
    {
      "parameters": {},
      "id": "797a3248-41e0-4340-9d57-87e844b1a194",
      "name": "Não agendou",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        580
      ]
    },
    {
      "parameters": {},
      "id": "820278a0-45ed-4604-bc61-6781d2c8b6f5",
      "name": "Agendou",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        620,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Página {{ $node[\"Edit Fields\"].json[\"pagina\"] }} - Novo lead não agendado 🚨\n\nNome: {{ $json.nome }}\nEmail: {{ $json.email }}\nTelefone: {{ $json.telefone }}"
            },
            {
              "name": "phone",
              "value": "120363365606703751-group"
            }
          ]
        },
        "options": {}
      },
      "id": "6e65aaba-15d8-4685-8b33-de634f8eca87",
      "name": "Notifica Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d74f9cd4-d348-42da-b7a3-f4750dadccaf",
              "name": "pagina",
              "value": "={{ $json.form_response.hidden.pagina }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "697dc7eb-da88-4ba5-8f03-65c384fb054f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        360
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"Trata Webhook\"].json[\"form_response\"][\"answers\"][\"3\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "1a02f478-e2ee-4f6d-8498-674e99b2609b",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1420,
        100
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Trata Webhook\"].json[\"form_response\"][\"answers\"][\"3\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "b023389e-3015-46c5-a645-037abc696569",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1420,
        560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 35,
        "contactId": "={{ $json.id }}"
      },
      "id": "7090e338-9581-40ba-b73b-13b1f5b9d2da",
      "name": "add lista CG-18-BF",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1660,
        100
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Trata Webhook\"].json[\"form_response\"][\"answers\"][\"3\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "b0fc33e0-05ed-44e5-993c-5702ca2a551d",
      "name": "ActiveCampaign2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1420,
        340
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 34,
        "contactId": "={{ $json.id }}"
      },
      "id": "30610013-e0c3-4efa-b534-f4c628fa8e9f",
      "name": "add lista V18-V2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1660,
        340
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 34,
        "contactId": "={{ $json.id }}"
      },
      "id": "5f985aa8-d839-4b27-9df6-dcad9dad2982",
      "name": "add lista cg-18-bf na",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1660,
        560
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Trata Webhook\"].json[\"form_response\"][\"answers\"][\"3\"][\"email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "c9be977f-6a60-4b78-bbab-5594322964a3",
      "name": "ActiveCampaign3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1420,
        800
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 34,
        "contactId": "={{ $json.id }}"
      },
      "id": "a7fb7343-6002-4dc2-aee0-253e82feb214",
      "name": "add lista v18-v2 na",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1660,
        800
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "list"
      },
      "id": "7d6d44a4-e79b-4e14-9552-bd3f52122fb5",
      "name": "ActiveCampaign4",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -440,
        1100
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "18f1743a-a18e-4c2c-bcdf-5454d2b620b8",
              "leftValue": "={{ $json.name }}",
              "rightValue": "[2024][LEADS][CG-18-BF]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8bdd1ea5-7bc6-4884-937e-b1f3d637a8ef",
              "leftValue": "={{ $json.name }}",
              "rightValue": "[2024][LEADS][V18-V2]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "5b270dc2-2b34-43d5-afdf-4a973d310958",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        -220,
        1100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "047a7403-8f5c-493c-9d65-6b9ff8001975",
        "options": {}
      },
      "id": "d76796c5-33ca-4a9e-9904-331d6f8bb725",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1480,
        360
      ],
      "webhookId": "047a7403-8f5c-493c-9d65-6b9ff8001975"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "cg-18-bf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cg-18-bf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3a02bace-32d6-41e6-a00e-1ecdf4b0512f",
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "v18-v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "v18-v2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2716ed9a-01f4-49cd-b1b5-a1132373c65c",
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "cg-18-bf-v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cg-18-bf-v2"
            }
          ]
        },
        "options": {}
      },
      "id": "fc09a1e9-5fad-4f3e-ad69-29f7b6a3a80e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "cg-18-bf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cg-18-bf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3a02bace-32d6-41e6-a00e-1ecdf4b0512f",
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "v18-v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "v18-v2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2a9f10c7-96fa-4f43-ac37-e2f9e417d302",
                    "leftValue": "={{ $node[\"Edit Fields\"].json[\"pagina\"] }}",
                    "rightValue": "cg-18-bf-v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cg-18-bf-v2"
            }
          ]
        },
        "options": {}
      },
      "id": "cd6ca97e-68fa-490c-a82c-3ec0a7becaa6",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        880,
        580
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "Typeform Webhooks",
            "content-length": "7273",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "traceparent": "00-9b3fe7738c71ec1af0ede6f61870f2d8-6627fe395101c5ef-01",
            "x-forwarded-for": "18.204.78.134",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "096a4782b8aa",
            "x-real-ip": "18.204.78.134"
          },
          "params": {},
          "query": {},
          "body": {
            "event_id": "01JDCK2W7YC5AJEGCHXWEG618Q",
            "event_type": "form_response",
            "form_response": {
              "form_id": "YLiwirhI",
              "token": "0kbltdqj2mwibdfg7h0kb9o38jw7owrw",
              "landed_at": "2024-11-23T13:19:04Z",
              "submitted_at": "2024-11-23T13:23:52Z",
              "hidden": {
                "pagina": "v18-v2",
                "utm_campaign": "CADASTRO_LEADS_CG-V18_FRIO_IG-Greatpages",
                "utm_campaign_ads": "",
                "utm_content": "AD37_NOVA_REMESSA-ESTATICO",
                "utm_content_ads": "",
                "utm_medium": "Instagram_Feed",
                "utm_medium_ads": "",
                "utm_source": "MetaAds",
                "utm_source_ads": "",
                "utm_term": "00-Advantage",
                "utm_term_ads": ""
              },
              "definition": {
                "id": "YLiwirhI",
                "title": "Mentoria High Ticket® - CG Escala V3",
                "fields": [
                  {
                    "id": "EYEfRliWUkEe",
                    "ref": "01HHF4CVE6FDDVP3R88TAER6XD",
                    "type": "short_text",
                    "title": "1 Qual seu nome completo?",
                    "properties": {}
                  },
                  {
                    "id": "hCtREjv74bBW",
                    "ref": "fb090355-f7ed-4367-9458-2aae21e1cd35",
                    "type": "phone_number",
                    "title": "Número do WhatsApp com DDD",
                    "properties": {}
                  },
                  {
                    "id": "Ls2JnjJL6GyO",
                    "ref": "d3e38c45-a1f4-42ae-9eed-31e32b5bc029",
                    "type": "short_text",
                    "title": "Seu @ no Instagram",
                    "properties": {}
                  },
                  {
                    "id": "8W3f5fSNGUoe",
                    "ref": "ecd17768-3d51-47df-a5ed-288db2bf67a6",
                    "type": "email",
                    "title": "Qual o seu e-mail principal?",
                    "properties": {}
                  },
                  {
                    "id": "qssZ58r1mTfh",
                    "ref": "01HHF4CWNCDPG9GNKY13NQYCJR",
                    "type": "multiple_choice",
                    "title": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "WApKnjD29scz",
                        "ref": "01HHF4CWNCM2E8AJ4RQRK5F0B7",
                        "label": "Mentor, expert ou infoprodutor"
                      },
                      {
                        "id": "4TTFavHHAMNa",
                        "ref": "01HHF4CWNC6WJ05N9P5141VVJG",
                        "label": "Agência digital ou Coprodutor"
                      },
                      {
                        "id": "JTSEqxzb3tBI",
                        "ref": "a28e1656-652c-4bd0-b0f7-f769a2249187",
                        "label": "Gestor de tráfego ou outro prestador de serviço no digital"
                      },
                      {
                        "id": "xvGrnkHCetMA",
                        "ref": "f1ac31b4-012b-4beb-bdf5-3182e387508b",
                        "label": "Profissional liberal/Prestador de serviço"
                      },
                      {
                        "id": "3vjY3CETOF0m",
                        "ref": "157d1f17-3047-40fe-b182-f7cc1d943ddd",
                        "label": "Afiliados e PLR"
                      },
                      {
                        "id": "BqABG1H2ufYL",
                        "ref": "1b19d434-eaf0-47d8-ba39-e059d4633528",
                        "label": "Nenhuma das opções"
                      }
                    ]
                  },
                  {
                    "id": "dGh9PDRXeaEx",
                    "ref": "b38808fb-8bb3-439a-8f7b-27da74a5d76b",
                    "type": "multiple_choice",
                    "title": "Considerando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? ",
                    "properties": {},
                    "choices": [
                      {
                        "id": "I9P74PT5Zuyc",
                        "ref": "f6443bdd-7bb9-4716-8029-d682069ebcba",
                        "label": "Até 5K/mês"
                      },
                      {
                        "id": "WJhStkZlWeqI",
                        "ref": "5c7a47b2-9279-456f-8922-2a4cea8954e6",
                        "label": "5K a 10K/mês"
                      },
                      {
                        "id": "41YqkW9hQmpH",
                        "ref": "ec52aa93-40da-42c6-96f8-d470896dfdbe",
                        "label": "10K a 15K/mês"
                      },
                      {
                        "id": "Liettt9T02tI",
                        "ref": "6326119f-1752-4cfa-8a7d-8f994484b0bb",
                        "label": "15K a 20K/mês"
                      },
                      {
                        "id": "33dtPZBLPhAx",
                        "ref": "937c2a7f-1e08-4af6-93fa-817d618758fe",
                        "label": "20K a 50K/mês"
                      },
                      {
                        "id": "HcVHKuy9Loum",
                        "ref": "3a8699d9-ac30-4311-bc26-539cd6b2e207",
                        "label": "50k a 100k/mês"
                      },
                      {
                        "id": "eAdGpZXOAlZH",
                        "ref": "21706c82-4fb3-4eb7-b22d-7b87b337c3ef",
                        "label": "100K a 250K/mês"
                      },
                      {
                        "id": "hDURXcvOywYO",
                        "ref": "e3abefa8-2d0a-4d80-9210-47fa0d4b3a84",
                        "label": "250K a 500K/mês"
                      },
                      {
                        "id": "jMAv1KmruDvd",
                        "ref": "05922e98-2a13-40b9-bb74-6d80bdcfb700",
                        "label": "Acima de 500K/mês"
                      },
                      {
                        "id": "1DwfIiJDd85Y",
                        "ref": "6c017928-b582-4907-8b1c-6ae3da4f1cde",
                        "label": "10K a 15K/mês"
                      }
                    ]
                  },
                  {
                    "id": "tWiDD8l3jM3k",
                    "ref": "519e01c4-6f86-4989-9f10-9926a01b9b5f",
                    "type": "multiple_choice",
                    "title": "Em qual cenário você se encaixa",
                    "properties": {},
                    "choices": [
                      {
                        "id": "gINn1gCy0Jiz",
                        "ref": "b9a658fe-cfc1-4bcd-82cf-041495e554da",
                        "label": "Tenho um curso online e quero lançar minha mentoria"
                      },
                      {
                        "id": "CTet1C4B4oii",
                        "ref": "f4552fa4-7f8e-47ac-9e41-8f43340d687a",
                        "label": "Já tenho mentorados e quero escalar as vendas"
                      },
                      {
                        "id": "Tax2HAhck3DV",
                        "ref": "dd31c377-2ce1-4a86-a590-16202142c97d",
                        "label": "Sou prestador de serviço e quero lançar minha mentoria"
                      },
                      {
                        "id": "Ho15erRsq8KI",
                        "ref": "1db9400e-1d21-4188-a75f-4d8c2291c43b",
                        "label": "Sou coprodutor e quero aumentar as vendas de infoproduto do (s) meu (s) expert (s)"
                      },
                      {
                        "id": "gGLKcUUtIWUI",
                        "ref": "b4e50684-151d-41c0-ab77-89c4fa914995",
                        "label": "Sou prestador de serviço e quero aumentar as vendas do meu serviço"
                      }
                    ]
                  },
                  {
                    "id": "VbjFWjwuURQ8",
                    "ref": "4384bc6a-9dca-40ee-9429-9974cf10ee45",
                    "type": "short_text",
                    "title": "Descreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.",
                    "properties": {}
                  },
                  {
                    "id": "3lejJjAUprc9",
                    "ref": "3cb918c2-f1a0-47f2-aa77-5c730d0b01df",
                    "type": "multiple_choice",
                    "title": "Você foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente? ",
                    "properties": {},
                    "choices": [
                      {
                        "id": "34txtt7zwila",
                        "ref": "74c7f4c0-dbfa-4c37-ac68-e0c8e38ac135",
                        "label": "Claro, quero aproveitar!"
                      },
                      {
                        "id": "pFUvKwCfNtYK",
                        "ref": "e182831e-1582-415f-956d-aa0044d3667e",
                        "label": "Pode passar minha vaga para outra pessoa, não estou comprometido com meu negócio."
                      }
                    ]
                  },
                  {
                    "id": "tXw9RZLUtXQT",
                    "ref": "d36e2324-5001-4beb-a146-ddd2084046df",
                    "type": "calendly",
                    "title": " Marque em uma data que você tenha certeza absoluta que poderá comparecer.",
                    "properties": {}
                  }
                ],
                "endings": [
                  {
                    "id": "94H5IoFviZOF",
                    "ref": "c3bee941-4a15-4f07-b67c-1019c47d5a7e",
                    "title": "https://josepbijari.com/obrigado-consultoria/",
                    "type": "url_redirect",
                    "properties": {
                      "redirect_url": "https://josepbijari.com/obrigado-consultoria/"
                    }
                  }
                ]
              },
              "answers": [
                {
                  "type": "text",
                  "text": "Tabita",
                  "field": {
                    "id": "EYEfRliWUkEe",
                    "type": "short_text",
                    "ref": "01HHF4CVE6FDDVP3R88TAER6XD"
                  }
                },
                {
                  "type": "phone_number",
                  "phone_number": "+5562996270063",
                  "field": {
                    "id": "hCtREjv74bBW",
                    "type": "phone_number",
                    "ref": "fb090355-f7ed-4367-9458-2aae21e1cd35"
                  }
                },
                {
                  "type": "text",
                  "text": "Tabitta.maria",
                  "field": {
                    "id": "Ls2JnjJL6GyO",
                    "type": "short_text",
                    "ref": "d3e38c45-a1f4-42ae-9eed-31e32b5bc029"
                  }
                },
                {
                  "type": "email",
                  "email": "tabitamariavitoria@gmail.com",
                  "field": {
                    "id": "8W3f5fSNGUoe",
                    "type": "email",
                    "ref": "ecd17768-3d51-47df-a5ed-288db2bf67a6"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "4TTFavHHAMNa",
                    "label": "Agência digital ou Coprodutor",
                    "ref": "01HHF4CWNC6WJ05N9P5141VVJG"
                  },
                  "field": {
                    "id": "qssZ58r1mTfh",
                    "type": "multiple_choice",
                    "ref": "01HHF4CWNCDPG9GNKY13NQYCJR"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "Liettt9T02tI",
                    "label": "15K a 20K/mês",
                    "ref": "6326119f-1752-4cfa-8a7d-8f994484b0bb"
                  },
                  "field": {
                    "id": "dGh9PDRXeaEx",
                    "type": "multiple_choice",
                    "ref": "b38808fb-8bb3-439a-8f7b-27da74a5d76b"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "Ho15erRsq8KI",
                    "label": "Sou coprodutor e quero aumentar as vendas de infoproduto do (s) meu (s) expert (s)",
                    "ref": "1db9400e-1d21-4188-a75f-4d8c2291c43b"
                  },
                  "field": {
                    "id": "tWiDD8l3jM3k",
                    "type": "multiple_choice",
                    "ref": "519e01c4-6f86-4989-9f10-9926a01b9b5f"
                  }
                },
                {
                  "type": "text",
                  "text": "Vender mais e gastar menos com tráfego pago",
                  "field": {
                    "id": "VbjFWjwuURQ8",
                    "type": "short_text",
                    "ref": "4384bc6a-9dca-40ee-9429-9974cf10ee45"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "34txtt7zwila",
                    "label": "Claro, quero aproveitar!",
                    "ref": "74c7f4c0-dbfa-4c37-ac68-e0c8e38ac135"
                  },
                  "field": {
                    "id": "3lejJjAUprc9",
                    "type": "multiple_choice",
                    "ref": "3cb918c2-f1a0-47f2-aa77-5c730d0b01df"
                  }
                },
                {
                  "type": "url",
                  "url": "https://calendly.com/closers-jp/cg5-consultoria-gratis/invitees/a7d42fe4-2fe2-45c1-95d9-9dcec87f9cba",
                  "field": {
                    "id": "tXw9RZLUtXQT",
                    "type": "calendly",
                    "ref": "d36e2324-5001-4beb-a146-ddd2084046df"
                  }
                }
              ],
              "ending": {
                "id": "94H5IoFviZOF",
                "ref": "c3bee941-4a15-4f07-b67c-1019c47d5a7e"
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/047a7403-8f5c-493c-9d65-6b9ff8001975",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2024-11-19T17:36:30.072Z",
      "createdAt": "2024-11-19T17:36:30.072Z",
      "role": "workflow:owner",
      "workflowId": "tPxjy8h6YV8UwLa7",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "createdAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-24T16:04:15.090Z",
  "versionId": "732d9f9b-6c03-4ab6-bf09-26e0091e65e8"
}