workflows/[CAROL] CG Formação com calendly YAY - DOLLAR.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodizio de sdr": {
      "main": [
        [
          {
            "node": "data da call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - Thaís BMA",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Criar Oportunidade - José",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Criar Oportunidade - Matheus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Agenda Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José1": {
      "main": [
        []
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SDR6": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - Thais e Fábio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Thais e Maria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Thais e Rafaela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR7": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - José e Fábio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - José e Maria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - José e Rafaela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Fábio1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Maria1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Rafaela": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Fábio1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Maria": {
      "main": [
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Rafaela1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR10": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - João e Fábio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Maria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Rafaela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah7": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah8": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Thaís2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís5": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José4": {
      "main": [
        [
          {
            "node": "Notifica grupo | José5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Fábio": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah21": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Maria1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah23": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Rafaela1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah27": {
      "main": [
        []
      ]
    },
    "Criar Oportunidade - João e Maria3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Rafaela3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Fábio3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR12": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - João e Fábio3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Maria3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Rafaela3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah33": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Deborah35": {
      "main": [
        []
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Gerar CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da call": {
      "main": [
        [
          {
            "node": "data da aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da aplicacao": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar CNPJ": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Agenda Reserva": {
      "main": [
        [
          {
            "node": "SDR12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Matheus": {
      "main": [
        [
          {
            "node": "SDR10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José": {
      "main": [
        [
          {
            "node": "SDR7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thaís BMA": {
      "main": [
        [
          {
            "node": "SDR6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-05T19:37:04.065Z",
  "id": "xsNCBr2FlkP8UKCJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] CG Formação com calendly YAY - DOLLAR",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "ab8f847b-a607-4ea8-8d38-a7cfa97b36ca",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -140,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "9a1ef73a-ba9c-4a02-a96f-b06c6a40c74c",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        80,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/85e6ccb1-b72c-49b9-abde-9608c02a1d01&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"6818bfb4266c6f0c820cf90b\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzIwMTgxNzk1LCJqdGkiOiJlZmI4OGIzMi1lZjliLTQwNzctODg2OS05ZDgzM2Q4NzgwNDYiLCJ1c2VyX3V1aWQiOiIzNDhhMzczNy0yM2FlLTQ5OWEtYWE1Yi03NzcxNGUyYTFhMGYifQ.shD1-HqhsYVrda4l-Y4cT7FpKLKMs3wvRgDQ1AksHqAZ1ANHhK3NwCqKNCmsZlqX5n8Of-L5X6diBrUpxOfs3w"
            }
          ]
        },
        "options": {}
      },
      "id": "0593ba5f-4249-48ba-b7bc-d70e062ef5a4",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3295364d-e295-4f4d-9503-e4c6a2bba395",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        300,
        140
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "45ca50ab-04d6-4d4b-a39b-f1d49e2ea6b3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        320
      ],
      "webhookId": "7bd9a73e-16db-479a-b4d3-db5432d8998a"
    },
    {
      "parameters": {
        "workflowId": "uGdmG7D5KUjXN2OK",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "0f4f4622-7c82-4f02-a9fa-fa0486ba4503",
      "name": "rodizio de sdr",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1100,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1c97c058-baf2-4e5c-b19e-e414e8ea195a",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b3c2d7d-bb21-4d66-80e6-17177e452fd9",
        "options": {}
      },
      "id": "5a5bc736-9309-4bcd-b7d8-32588676f8b5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        140
      ],
      "webhookId": "9b3c2d7d-bb21-4d66-80e6-17177e452fd9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1a83651b-1df7-4574-b72c-c4bcda28d763",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Thais BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thais BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9a260e18-8a49-4b34-9fee-fa85052cfb73",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Edison Junior Simões",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "José Edison Junior Simões"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "44706b78-62a9-4173-9e21-5da488a66450",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Deborah Marques",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deborah Marques"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "36f16f08-3107-4336-9489-19b2a40bef53",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Ricardo Leonardi - BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ricardo Leonardi - BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Luciana Gomes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Luciana Gomes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fd731275-1ab5-4892-9073-e4599d8849e3",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8ef7ebfe-eaf3-4f6d-ae5d-3ef9dc9f72b8",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "518a4899-cd0f-4a67-abf5-c7887d897b41",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "sdr bma",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sdr bma"
            }
          ]
        },
        "options": {}
      },
      "id": "6b21fb95-7431-4fea-937d-4107035226a5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2640,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40a98843-8cad-4ca6-af6f-7d925eb7a79b",
      "name": "Notifica grupo | José1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf914\"].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2e0c60a-d198-4174-ada8-f3167d98f70e",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        500,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 2\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "75effb49-2199-4f85-a851-7896678a7563",
      "name": "Criar Oportunidade - Thais e Fábio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 3\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "6d232a81-5287-4f56-afc1-aec736c4b156",
      "name": "Criar Oportunidade - Thais e Maria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 2\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 10\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "1a151959-aef2-40fe-beb1-8237fa387b77",
      "name": "Criar Oportunidade - José e Fábio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "55b11067-dbb0-426b-b6fc-69541cbf8d55",
      "name": "Criar Oportunidade - José e Rafaela1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "0cb4d5f5-b25c-4b15-9bf4-3935ff5a7f1c",
      "name": "Criar Oportunidade - Thais e Rafaela",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 3\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 10\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "2ea7408b-9fc5-44c1-bd6a-2f2ce307a2f7",
      "name": "Criar Oportunidade - José e Maria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        -260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3680,
        -180
      ],
      "id": "505df010-16fd-4e4c-a91e-ea32bcba847b",
      "name": "SDR6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3680,
        20
      ],
      "id": "33252fdf-0e3e-4d2c-a811-6612c5ee2e23",
      "name": "SDR7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9ef4678-b6cb-4d46-a508-4524fbdef7dc",
      "name": "Notifica grupo | Deborah7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 3\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "ba7f3f5a-05b4-42f3-bd15-7a6ddf23fbb4",
      "name": "Criar Oportunidade - João e Maria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "96769bb7-5c9d-4361-90a0-01bfc9c2cff3",
      "name": "Criar Oportunidade - João e Rafaela1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 2\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "152fb56f-cbad-4bd8-b74e-28ef918478b9",
      "name": "Criar Oportunidade - João e Fábio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3680,
        200
      ],
      "id": "a3da6f6b-3bdf-41b4-ac9c-caeaf0ac7abc",
      "name": "SDR10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d6d365f0-f295-467f-85b2-bd5cfb3ddf7f",
      "name": "Notifica grupo | Deborah8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2f4f9e2c-18bf-495c-bc6a-b72c4b15e890",
      "name": "Notifica grupo | Thaís2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa8bd401-2da2-4d70-b6b5-4ba0432561c2",
      "name": "Notifica grupo | Thaís3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2aa7f0e8-4fa6-4553-802c-a7d3ce02107a",
      "name": "Notifica grupo | Thaís",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8999d8ec-9b41-4407-82cd-ab311e7e5b25",
      "name": "Notifica grupo | Thaís4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d558c530-579f-4ce1-8ed8-803116ff3c54",
      "name": "Notifica grupo | Thaís5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f99d4a7d-8f58-4e76-9c7c-904f5e961062",
      "name": "Notifica grupo | Thaís6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "057859ea-6c0e-4235-991d-32a39660fa28",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5f2655e-d56d-4bc6-9d73-353a626e2729",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd75ba9d-25ea-47d5-b3e6-9de59d0000ee",
      "name": "Notifica grupo | José4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9315fbde-2cf1-493b-ba7c-08182b23d4ec",
      "name": "Notifica grupo | José5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a57c5194-ad01-4485-a93c-c7bfc3b80459",
      "name": "Notifica grupo | Deborah21",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2854c720-d641-4650-a571-6de680c1ee4c",
      "name": "Notifica grupo | Deborah22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07220d3f-34e4-423a-92b9-091101237a2f",
      "name": "Notifica grupo | Deborah23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Matheus\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a44fcb17-2cdb-4782-b334-bf4cf317c523",
      "name": "Notifica grupo | Deborah24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Alternativa 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Agenda Reserva\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "98d02f0f-2e5d-4ed8-8837-f7fe72941581",
      "name": "Notifica grupo | Deborah27",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb_Yg2gvoXl80th6B6C9Wh-OLp5WQEp2yTX2ugm5nTMmAt2jUuYtxvU0ynsbTrCaUm0NjRA3qms88SAvq4Jot37rkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "0ec47f73-350d-4f16-8805-1518c115631e",
      "name": "Criar Oportunidade - João e Maria3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-QSsVPVRFaQdWZWw5xAqab7MyZOmE_n-2xQUaAYtXZe5Lz0XiIDSTKynsbTrCaUm2PJpKHDCb0tVVcaHENUtkvI9DJWYrlQMmo_erG4K7M9uM596NsOdVjAp3szAxHWrCxbXqRAWFz3g.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "e07678a1-0eb4-41bb-a17c-6237938b0638",
      "name": "Criar Oportunidade - João e Rafaela3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb87L1Y3_r0N5cFInrsXuBAJKTTJZrW5sF4_KdLnM6sX1nMOhwjVEqrAynsbTrCaUm2d4V2pqY42qeLI82KuEPUrkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "16b76dd5-e019-4d7d-a7f5-8c30e3af14c4",
      "name": "Criar Oportunidade - João e Fábio3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3680,
        380
      ],
      "id": "9a89e9c4-6afb-46cc-af91-7183762af132",
      "name": "SDR12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Alternativa 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Agenda Reserva\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0259664-b751-4187-b2bd-6883eb9610ad",
      "name": "Notifica grupo | Deborah33",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Alternativa 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Agenda Reserva\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f279082a-8102-40cd-a331-628833fea38b",
      "name": "Notifica grupo | Deborah35",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        1180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e870e64-5a2a-4a35-a05c-9fae6fd7d325",
              "name": "nome_sdr",
              "value": "={{ $('rodizio de sdr').item.json.nome_sdr }}",
              "type": "string"
            },
            {
              "id": "91ef9a02-3299-49d2-9c43-ec34c7a52672",
              "name": "email_sdr",
              "value": "={{ $('rodizio de sdr').item.json.email_sdr }}",
              "type": "string"
            },
            {
              "id": "2e6502b5-87b7-471a-b380-b19f9a3f97f6",
              "name": "nome",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb4266c6f0c820cf90a\"].content }}",
              "type": "string"
            },
            {
              "id": "149210d9-9f6b-4851-9284-98de9b788a81",
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb4266c6f0c820cf90b\"].content }}",
              "type": "string"
            },
            {
              "id": "4fb9b988-1edc-46fc-815a-5af8db220607",
              "name": "whatsapp",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb4266c6f0c820cf90c\"].content }}",
              "type": "string"
            },
            {
              "id": "149ea0f6-cb2c-44df-aef1-0c2ecbac4b1a",
              "name": "instagram",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf911\"].content }}",
              "type": "string"
            },
            {
              "id": "3e6ed3b6-94d2-46d1-abe7-9c1c440e8de2",
              "name": "tipo de negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb4266c6f0c820cf90d\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "3cfee21f-b1ec-4390-af75-3e31fc9eac39",
              "name": "cenario",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf912\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "25848940-ae43-46cf-bb17-8a24a1dd2ffb",
              "name": "produto que já desenvolveu",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf913\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "a5331b51-f78e-4050-bd03-85c8df054417",
              "name": "faturamento",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf90e\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "0bce8ae9-c543-46fc-b923-a3dec62bfda9",
              "name": "objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf90f\"].content }}",
              "type": "string"
            },
            {
              "id": "45f2c6ac-f807-47fd-8717-abf51913814b",
              "name": "o que impede de alcançar seu objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf910\"].content }}",
              "type": "string"
            },
            {
              "id": "0675b29d-0ec6-4769-8a36-28c5b1d52b63",
              "name": "aproveitar vaga",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf918\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "88fdf136-608e-4447-8b48-0e25185bb448",
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"6818bfb5266c6f0c820cf914\"].content }}",
              "type": "string"
            },
            {
              "id": "ba067a92-777e-4c21-bf69-406beffae54a",
              "name": "Closer",
              "value": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
              "type": "string"
            },
            {
              "id": "5874c755-f2c2-4537-b0e8-7693e842d1ad",
              "name": "data da call",
              "value": "={{ $('data da call').item.json.callAgendada }}",
              "type": "string"
            },
            {
              "id": "ff208309-fee9-45b0-bdab-96eb0c0e9c3d",
              "name": "data da aplicacao",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        80
      ],
      "id": "9dbbd7d8-dffe-4acd-8ae2-2caf791894a7",
      "name": "Campos"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "62c38db0-66d9-4aa1-9fe8-2183d0133e59",
      "name": "data da call",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1560,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"submittedAt\"] }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "fb8c9c02-f9bf-4eb3-af6a-2df394032ada",
      "name": "data da aplicacao",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1780,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gera um CNPJ válido com 14 dígitos sem formatação\n\nfunction gerarCNPJ() {\n  function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n  }\n\n  const n = [];\n  for (let i = 0; i < 8; i++) {\n    n.push(getRandomInt(0, 9));\n  }\n\n  // Fixo: 0001 (filial padrão)\n  n.push(0, 0, 0, 1);\n\n  const peso1 = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2];\n  let soma = n.reduce((acc, val, idx) => acc + val * peso1[idx], 0);\n  let d1 = soma % 11;\n  d1 = d1 < 2 ? 0 : 11 - d1;\n  n.push(d1);\n\n  const peso2 = [6].concat(peso1);\n  soma = n.reduce((acc, val, idx) => acc + val * peso2[idx], 0);\n  let d2 = soma % 11;\n  d2 = d2 < 2 ? 0 : 11 - d2;\n  n.push(d2);\n\n  return n.join('');\n}\n\n// Retorna como saída\nreturn [\n  {\n    json: {\n      cnpj: gerarCNPJ()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        80
      ],
      "id": "45d7bab3-57db-454f-a93f-53e0f49d28d4",
      "name": "Gerar CNPJ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "b43a977b-838d-411a-be90-3ce07c0d5584",
      "name": "Criar Oportunidade - Agenda Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "44157a43-8bbc-4d4e-b7f5-f67a0b70110b",
      "name": "Criar Oportunidade - Matheus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb9prHSTHi4MrFQBXrS_sw01wgm_4jqPvIyXVOPwn0XwHNB9sEuSWrJkynsbTrCaUm3CdpZGZNsh0BMfTWFhIvPnkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "af784eb5-df11-4f00-a055-bf75d5f2bdf2",
      "name": "Criar Oportunidade - José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb9prHSTHi4MrFQBXrS_sw01wgm_4jqPvIyXVOPwn0XwHNB9sEuSWrJkynsbTrCaUm3CdpZGZNsh0BMfTWFhIvPnkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "8f12407a-1790-46e0-8806-83f07da2f754",
      "name": "Criar Oportunidade - Thaís BMA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        -180
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "5039",
            "content-type": "application/json",
            "x-forwarded-for": "167.99.13.111",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "167.99.13.111",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "68191392a048c713d1ea9cc6",
              "formId": "6818bfb4266c6f0c820cf907",
              "ipAddress": "2804:29b8:50ad:5268:2466:2519:31ef:8d6",
              "operatingSystem": "OS X",
              "operatingSystemVersion": "10_15_7",
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
              "browser": "Chrome",
              "browserVersion": "135.0.0.0",
              "referrerUrl": null,
              "deviceType": "desktop",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "Pernambuco",
                "city": "Caruaru",
                "zipcode": "55000",
                "latitude": -8.1792,
                "longitude": -36.0279,
                "timezone": "America/Recife"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": {
                "utm_source": "MUDE_ESTE_VALOR",
                "utm_medium": "MUDE_ESTE_VALOR",
                "utm_campaign": "MUDE_ESTE_VALOR",
                "utm_content": "MUDE_ESTE_VALOR",
                "utm_term": "MUDE_ESTE_VALOR",
                "_fbp": "fb.1.1742270412627.451017520152784457",
                "_gcl_au": "1.1.599869318.1744865246",
                "_tt_enable_cookie": "1",
                "_ttp": "01JS115FG8EW6DGV8X57CE88JF_.tt.1",
                "_hjSessionUser_2246065": "eyJpZCI6ImM4YzEzZDA4LTNjZDMtNTU5Yy04ZDgyLTEzNmViYjVhMjc5YSIsImNyZWF0ZWQiOjE3NDQ4NjUyNDY3OTUsImV4aXN0aW5nIjp0cnVlfQ==",
                "_clck": "cymcv9|2|fvi|0|1933",
                "_ga": "GA1.1.1550280858.1744865246",
                "ttcsid": "1746032526075::bw_WhQQPZA7lUO_YUCDx.4.1746032865472",
                "ttcsid_C5URFDOVMNUPJ15SHS00": "1746032526075::etJ4CN62XvLc-HWYjFHa.4.1746032867279",
                "_ga_QMHGX1WZCF": "GS1.1.1746032524.4.1.1746032887.31.0.344277224"
              },
              "timeToComplete": null,
              "startedAt": "2025-05-05T19:37:57.198000Z",
              "submittedAt": "2025-05-05T19:39:10.649000Z",
              "createdAt": "2025-05-05T19:37:54.444000Z",
              "updatedAt": "2025-05-05T19:39:10.649000Z",
              "answers": {
                "6818bfb4266c6f0c820cf908": {
                  "answerId": "68191392bcb2d1fbcf70ca01",
                  "fieldTitle": "Aplicação para Consultoria Grátis:",
                  "fieldDescription": "<p>Você terá uma consultoria grátis comigo ou com um dos estrategistas do meu time.</p><p></p><p>Nós faremos um diagnóstico completo do seu negócio, identificando os gargalos e criando um plano de ação para que você possa alcançar o próximo nível no desenvolvimento imobiliário.</p><p></p><p>IMPORTANTE: A sua aplicação através deste questionário NÃO garante que você será aceito para uma das vagas. Avaliaremos cautelosamente cada aplicação e entraremos em contato com os aprovados.</p>",
                  "content": null
                },
                "6818bfb4266c6f0c820cf90a": {
                  "answerId": "68191394bcb2d1fbcf70cc5b",
                  "fieldTitle": "Seu nome:",
                  "fieldDescription": null,
                  "content": "Matheus"
                },
                "6818bfb4266c6f0c820cf90b": {
                  "answerId": "68191399bcb2d1fbcf70cdd5",
                  "fieldTitle": "E-mail:",
                  "fieldDescription": null,
                  "content": "matheusteste@gmail.com"
                },
                "6818bfb4266c6f0c820cf90c": {
                  "answerId": "681913a0bcb2d1fbcf70d075",
                  "fieldTitle": "WhatsApp com DDD:",
                  "fieldDescription": null,
                  "content": "+5581993515055"
                },
                "6818bfb5266c6f0c820cf911": {
                  "answerId": "681913a4bcb2d1fbcf70d212",
                  "fieldTitle": "Seu @ do instagram",
                  "fieldDescription": null,
                  "content": "matheuscristhyan"
                },
                "6818bfb4266c6f0c820cf90d": {
                  "answerId": "681913a9bcb2d1fbcf70d444",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Arquiteto-Incorporador"
                  ]
                },
                "6818bfb5266c6f0c820cf912": {
                  "answerId": "681913aabcb2d1fbcf70d57b",
                  "fieldTitle": "Qual dos cenários abaixo mais combina com o seu momento?",
                  "fieldDescription": null,
                  "content": [
                    "Já construí/incorporei, mas não estou construindo/incorporando no momento"
                  ]
                },
                "6818bfb5266c6f0c820cf913": {
                  "answerId": "681913b3bcb2d1fbcf70daeb",
                  "fieldTitle": "Caso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?",
                  "fieldDescription": null,
                  "content": [
                    "Condomínios"
                  ]
                },
                "6818bfb5266c6f0c820cf90e": {
                  "answerId": "681913b4bcb2d1fbcf70dc8b",
                  "fieldTitle": "Qual é o seu faturamento médio MENSAL em 2025?",
                  "fieldDescription": null,
                  "content": [
                    "De U$ 10.000,00 a U$ 20.000,00"
                  ]
                },
                "6818bfb5266c6f0c820cf90f": {
                  "answerId": "681913b6bcb2d1fbcf70dd82",
                  "fieldTitle": "Qual seu principal objetivo nos próximos 12 meses dentro do mercado imobiliário?",
                  "fieldDescription": null,
                  "content": "teste"
                },
                "6818bfb5266c6f0c820cf910": {
                  "answerId": "681913b9bcb2d1fbcf70e049",
                  "fieldTitle": "O que atualmente te impede de alcançar seu objetivo no mercado imobiliário?",
                  "fieldDescription": null,
                  "content": "teste"
                },
                "6818bfb5266c6f0c820cf918": {
                  "answerId": "681913babcb2d1fbcf70e1cc",
                  "fieldTitle": "Você foi aprovado para uma  das vagas na consultoria. Caso você não responda à confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?",
                  "fieldDescription": null,
                  "content": [
                    "Claro, quero aproveitar!"
                  ]
                },
                "6818bfb5266c6f0c820cf914": {
                  "answerId": "681913bdbcb2d1fbcf70e4f0",
                  "fieldTitle": "Agende o seu horário:",
                  "fieldDescription": null,
                  "content": "https://calendly.com/scheduled_events/0933c88c-3b08-45e1-a9fe-df0ff56db6a2/invitees/81b48951-f838-4f87-b3f5-e7b583711163"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/9b3c2d7d-bb21-4d66-80e6-17177e452fd9",
          "executionMode": "production"
        }
      }
    ],
    "rodizio de sdr": [
      {
        "json": {
          "nome_sdr": "Rafaela ",
          "email_sdr": "closerbma.rafaela@gmail.com"
        }
      }
    ],
    "Criar Oportunidade - Agenda Reserva": [
      {
        "json": 1980
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-23T03:18:57.576Z",
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-05T19:49:42.271Z",
  "versionId": "7c9e5a2f-2f86-4fff-883e-591f20bcca6c"
}