workflows/[CAROL] CG Formação com calendly YAY.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodizio de sdr": {
      "main": [
        [
          {
            "node": "data da call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - Thaís BMA",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Criar Oportunidade - José",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Criar Oportunidade - Matheus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Agenda Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José1": {
      "main": [
        []
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?1": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "SDR6": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - Thais e Fábio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Thais e Maria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Thais e Rafaela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR7": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - José e Fábio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - José e Maria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - José e Rafaela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Fábio1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Maria1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thais e Rafaela": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Fábio1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Maria": {
      "main": [
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José e Rafaela1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR10": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - João e Fábio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Maria1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Rafaela1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah7": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah8": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Thaís2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís5": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José4": {
      "main": [
        [
          {
            "node": "Notifica grupo | José5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Fábio": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah21": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Maria1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah23": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Rafaela1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah27": {
      "main": [
        []
      ]
    },
    "Criar Oportunidade - João e Maria3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Rafaela3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Fábio3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR12": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - João e Fábio3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Maria3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Rafaela3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah33": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Deborah35": {
      "main": [
        []
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Gerar CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da call": {
      "main": [
        [
          {
            "node": "data da aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da aplicacao": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar CNPJ": {
      "main": [
        [
          {
            "node": "nao é parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Agenda Reserva": {
      "main": [
        [
          {
            "node": "SDR12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Matheus": {
      "main": [
        [
          {
            "node": "SDR10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - José": {
      "main": [
        [
          {
            "node": "SDR7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Thaís BMA": {
      "main": [
        [
          {
            "node": "SDR6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao é parcial": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - Agenda Reserva1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Maria": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Rafaela": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - João e Fábio4": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDR": {
      "main": [
        [
          {
            "node": "Criar Oportunidade - João e Fábio4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Maria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Oportunidade - João e Rafaela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Oportunidade - Agenda Reserva1": {
      "main": [
        [
          {
            "node": "SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-10T15:10:03.521Z",
  "id": "0YPyqqpKzXUB9kQD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] CG Formação com calendly YAY",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "c9486781-1dcb-4d15-aa23-7a690326c814",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -360,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "3f6e3d61-9b6e-4073-8c14-9af65fb8dcd1",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/85e6ccb1-b72c-49b9-abde-9608c02a1d01&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b86\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzIwMTgxNzk1LCJqdGkiOiJlZmI4OGIzMi1lZjliLTQwNzctODg2OS05ZDgzM2Q4NzgwNDYiLCJ1c2VyX3V1aWQiOiIzNDhhMzczNy0yM2FlLTQ5OWEtYWE1Yi03NzcxNGUyYTFhMGYifQ.shD1-HqhsYVrda4l-Y4cT7FpKLKMs3wvRgDQ1AksHqAZ1ANHhK3NwCqKNCmsZlqX5n8Of-L5X6diBrUpxOfs3w"
            }
          ]
        },
        "options": {}
      },
      "id": "b3b9efd5-1146-4b3d-a34f-d20096232e28",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4f42be0d-6bf7-4a79-9221-82a7d36ffb55",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        100,
        140
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "020e420a-e1b4-419c-9c2a-5fe82bb70075",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        320
      ],
      "webhookId": "0bf57dc5-be58-42fb-bfcb-ee7b3577d91d"
    },
    {
      "parameters": {
        "workflowId": "V5AbHz3WZvSkoIpP",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "89644409-6628-4d79-9fea-cc0221f6f8c3",
      "name": "rodizio de sdr",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* josé\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Fábio1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b5fef67-1cd7-463d-a730-21733dd7e68b",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "09f33e8f-17ae-42a7-9fdb-96e2711687a8",
        "options": {}
      },
      "id": "3a6adf37-8a10-47aa-a9bc-200c896029c3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        140
      ],
      "webhookId": "09f33e8f-17ae-42a7-9fdb-96e2711687a8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1a83651b-1df7-4574-b72c-c4bcda28d763",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Thais BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thais BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9a260e18-8a49-4b34-9fee-fa85052cfb73",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Edison Junior Simões",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "José Edison Junior Simões"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "44706b78-62a9-4173-9e21-5da488a66450",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Deborah Marques",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deborah Marques"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "36f16f08-3107-4336-9489-19b2a40bef53",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Ricardo Leonardi - BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ricardo Leonardi - BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Luciana Gomes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Luciana Gomes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fd731275-1ab5-4892-9073-e4599d8849e3",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8ef7ebfe-eaf3-4f6d-ae5d-3ef9dc9f72b8",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "518a4899-cd0f-4a67-abf5-c7887d897b41",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "sdr bma",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sdr bma"
            }
          ]
        },
        "options": {}
      },
      "id": "bc24229d-e05b-4522-8d60-4f232ee057cf",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2640,
        -40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Fábio1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "249b0384-5889-4d6f-b59c-2987b6f70dcf",
      "name": "Notifica grupo | José1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers[\"67f7ca64ab4d54d1fb06762c\"].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "477d2eb7-0a6a-483a-b9c9-8a8d6027c096",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        300,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers[\"67f7ca85e24dac1bb605a14b\"].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13f8d4fa-dd94-4f60-8a2c-4876068c582e",
      "name": "agendou?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "13c09ade-ff55-4664-9dfe-0a4a0f1b941e",
      "name": "Criar Oportunidade - Thais e Fábio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        -1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "b81bd55d-1e8b-4ba2-b97b-51893fb3e237",
      "name": "Criar Oportunidade - Thais e Maria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        -900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 10\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "0444619e-e64c-417e-9da2-1507eabdf4da",
      "name": "Criar Oportunidade - José e Fábio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        -300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "44aee3b4-2bf4-41c2-8560-c0ee8df4c2f7",
      "name": "Criar Oportunidade - José e Rafaela1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8wmyLBM8fu7d4_Yb1lrSnyE5xmqkzQSE0e0LY2_Djh0WsW1N-5BoW-ynsbTrCaUm0xX-cROl6IYuaBLPbn9rYNkS417HZljN5YZ-1jUmwVI75WkLBPPQmfV3_8-wrE0q4p2WCjKNwP5A.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 6\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "ab189430-6ae5-4e92-ad9b-a0dc85d1a72e",
      "name": "Criar Oportunidade - Thais e Rafaela",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        -720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb8sMfZZSJvR92PbH2PFHUh-ShfhpolNWOLj7nKXF1T9V8o5aRjgNFPsynsbTrCaUm3nIAyfysHEWT19cL3oetD7keN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 10\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "844535f7-ec46-4d33-8712-ccc0fc8d438b",
      "name": "Criar Oportunidade - José e Maria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4520,
        -120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3960,
        -880
      ],
      "id": "e8d17166-f94c-4853-aedf-aea7235fd54f",
      "name": "SDR6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3980,
        -120
      ],
      "id": "31a5745b-66b5-46a3-acc4-3ae8e9523ad5",
      "name": "SDR7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Fábio\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e970bde3-1043-4383-ad08-cc3c91ec8073",
      "name": "Notifica grupo | Deborah7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "fdde325f-3009-427d-a85e-95e64441ae4f",
      "name": "Criar Oportunidade - João e Maria1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "3f2d563f-a4ad-4f47-b355-f67bfd732069",
      "name": "Criar Oportunidade - João e Rafaela1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n {\n      \"IdCampoFormulario\": 26,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 9\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "8c0d6fa9-e1ad-428d-809d-dc839bf838c3",
      "name": "Criar Oportunidade - João e Fábio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4680,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4060,
        580
      ],
      "id": "df3b7b28-5706-4c8e-a846-1278cc3633bd",
      "name": "SDR10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Fábio\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd147854-2469-45ee-ad48-0e3ef04668e3",
      "name": "Notifica grupo | Deborah8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Thaís\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Fábio1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "53a3662e-60fb-4a82-922e-2652bc7852eb",
      "name": "Notifica grupo | Thaís2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Fábio1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb032652-045e-42b5-b17a-e8bf3e64b372",
      "name": "Notifica grupo | Thaís3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4940,
        -1080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Thaís\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Maria1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffebec86-8e38-4995-90e3-f7e3540c12ad",
      "name": "Notifica grupo | Thaís",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Maria1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e6f7a350-0bf6-4127-96f0-2e35def2b7f1",
      "name": "Notifica grupo | Thaís4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4940,
        -900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Thaís\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Rafaela\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec259b2a-4b83-4c20-9354-ea6c55741c9c",
      "name": "Notifica grupo | Thaís5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thais e Rafaela\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ec578c0-3b57-4616-8996-9aff6d09127f",
      "name": "Notifica grupo | Thaís6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4940,
        -720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* josé\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Maria\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d82718c6-87aa-41e8-b5ea-4001028598fe",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Maria\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b838ea8-f604-4a1d-bc96-86b2b9a97fcb",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* josé\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Rafaela1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0eff3e0b-7126-4b5c-b221-f8e7cc691b6a",
      "name": "Notifica grupo | José4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511987552507"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - José e Rafaela1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d264579c-18c0-4d2e-9876-bf108692bb10",
      "name": "Notifica grupo | José5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Maria1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46099c82-8b21-46d1-8d17-aa89b7348343",
      "name": "Notifica grupo | Deborah21",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Maria1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1f3d299-e6b5-4b07-87a5-6800603d2ebe",
      "name": "Notifica grupo | Deborah22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Rafaela1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e2109a7-3c8a-4228-b12f-f448ef2f3a81",
      "name": "Notifica grupo | Deborah23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Rafaela1\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9000f49-db4a-4d61-896b-d8332e41391c",
      "name": "Notifica grupo | Deborah24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Fábio\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Fábio3\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "262b4b98-ac56-4c2c-b432-72e3961ddb31",
      "name": "Notifica grupo | Deborah27",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb_Yg2gvoXl80th6B6C9Wh-OLp5WQEp2yTX2ugm5nTMmAt2jUuYtxvU0ynsbTrCaUm0NjRA3qms88SAvq4Jot37rkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "2c2f0332-47cb-43c0-a222-5fc293e4de7d",
      "name": "Criar Oportunidade - João e Maria3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-QSsVPVRFaQdWZWw5xAqab7MyZOmE_n-2xQUaAYtXZe5Lz0XiIDSTKynsbTrCaUm2PJpKHDCb0tVVcaHENUtkvI9DJWYrlQMmo_erG4K7M9uM596NsOdVjAp3szAxHWrCxbXqRAWFz3g.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "ad1b213b-b03e-4950-a6dc-972d16f7e15e",
      "name": "Criar Oportunidade - João e Rafaela3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb87L1Y3_r0N5cFInrsXuBAJKTTJZrW5sF4_KdLnM6sX1nMOhwjVEqrAynsbTrCaUm2d4V2pqY42qeLI82KuEPUrkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "99cf5a05-9b3f-44e4-90d3-63aed0944f62",
      "name": "Criar Oportunidade - João e Fábio3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4040,
        1200
      ],
      "id": "11d12487-f56a-4c7c-88ad-632400985ec4",
      "name": "SDR12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Maria Paula\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Maria3\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5d35045a-2a30-4a79-95bc-c599635983d7",
      "name": "Notifica grupo | Deborah33",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Rafaela\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Rafaela3\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d49729e3-412b-4658-84e7-af5a246ab746",
      "name": "Notifica grupo | Deborah35",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        1360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e870e64-5a2a-4a35-a05c-9fae6fd7d325",
              "name": "nome_sdr",
              "value": "={{ $('rodizio de sdr').item.json.nome_sdr }}",
              "type": "string"
            },
            {
              "id": "91ef9a02-3299-49d2-9c43-ec34c7a52672",
              "name": "email_sdr",
              "value": "={{ $('rodizio de sdr').item.json.email_sdr }}",
              "type": "string"
            },
            {
              "id": "2e6502b5-87b7-471a-b380-b19f9a3f97f6",
              "name": "nome",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b85\"].content }}",
              "type": "string"
            },
            {
              "id": "149210d9-9f6b-4851-9284-98de9b788a81",
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b86\"].content }}",
              "type": "string"
            },
            {
              "id": "4fb9b988-1edc-46fc-815a-5af8db220607",
              "name": "whatsapp",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b87\"].content }}",
              "type": "string"
            },
            {
              "id": "149ea0f6-cb2c-44df-aef1-0c2ecbac4b1a",
              "name": "instagram",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c932b4e54680e80128c5\"].content }}",
              "type": "string"
            },
            {
              "id": "3e6ed3b6-94d2-46d1-abe7-9c1c440e8de2",
              "name": "tipo de negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b88\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "3cfee21f-b1ec-4390-af75-3e31fc9eac39",
              "name": "cenario",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c96486aeabfbe8008238\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "25848940-ae43-46cf-bb17-8a24a1dd2ffb",
              "name": "produto que já desenvolveu",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c9a0896156dc380d07be\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "a5331b51-f78e-4050-bd03-85c8df054417",
              "name": "faturamento",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b89\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "0bce8ae9-c543-46fc-b923-a3dec62bfda9",
              "name": "objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b8a\"].content }}",
              "type": "string"
            },
            {
              "id": "45f2c6ac-f807-47fd-8717-abf51913814b",
              "name": "o que impede de alcançar seu objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7c8f1eaf7504471009b8b\"].content }}",
              "type": "string"
            },
            {
              "id": "0675b29d-0ec6-4769-8a36-28c5b1d52b63",
              "name": "aproveitar vaga",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68123d943dfc68b05b0b5d8f\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "88fdf136-608e-4447-8b48-0e25185bb448",
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f7ca64ab4d54d1fb06762c\"].content }}",
              "type": "string"
            },
            {
              "id": "ba067a92-777e-4c21-bf69-406beffae54a",
              "name": "Closer",
              "value": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
              "type": "string"
            },
            {
              "id": "5874c755-f2c2-4537-b0e8-7693e842d1ad",
              "name": "data da call",
              "value": "={{ $('data da call').item.json.callAgendada }}",
              "type": "string"
            },
            {
              "id": "ff208309-fee9-45b0-bdab-96eb0c0e9c3d",
              "name": "data da aplicacao",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            },
            {
              "id": "291a1ed8-cf3a-4a4f-a71a-2c8dbf3e7171",
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        80
      ],
      "id": "64c720c3-0a63-4d63-b0fb-98397e87fadc",
      "name": "Campos"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": true
        }
      },
      "id": "a5032b3b-b813-4881-b800-ba65ed3a28a1",
      "name": "data da call",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"submittedAt\"] }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "0ac4af8d-eff5-4106-a8a9-aecc3c1759cc",
      "name": "data da aplicacao",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1580,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gera um CNPJ válido com 14 dígitos sem formatação\n\nfunction gerarCNPJ() {\n  function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n  }\n\n  const n = [];\n  for (let i = 0; i < 8; i++) {\n    n.push(getRandomInt(0, 9));\n  }\n\n  // Fixo: 0001 (filial padrão)\n  n.push(0, 0, 0, 1);\n\n  const peso1 = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2];\n  let soma = n.reduce((acc, val, idx) => acc + val * peso1[idx], 0);\n  let d1 = soma % 11;\n  d1 = d1 < 2 ? 0 : 11 - d1;\n  n.push(d1);\n\n  const peso2 = [6].concat(peso1);\n  soma = n.reduce((acc, val, idx) => acc + val * peso2[idx], 0);\n  let d2 = soma % 11;\n  d2 = d2 < 2 ? 0 : 11 - d2;\n  n.push(d2);\n\n  return n.join('');\n}\n\n// Retorna como saída\nreturn [\n  {\n    json: {\n      cnpj: gerarCNPJ()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        80
      ],
      "id": "dded42b2-2ac9-4946-b68b-9723c6e579fa",
      "name": "Gerar CNPJ"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "bf83e318-6758-472a-b1e9-b92bd98312da",
      "name": "Criar Oportunidade - Agenda Reserva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        980
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "4fa5e904-ac03-4129-8132-64df29e7ade6",
      "name": "Criar Oportunidade - Matheus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb9prHSTHi4MrFQBXrS_sw01wgm_4jqPvIyXVOPwn0XwHNB9sEuSWrJkynsbTrCaUm3CdpZGZNsh0BMfTWFhIvPnkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "87da9abd-1831-4a2c-a8fb-244fa09152b9",
      "name": "Criar Oportunidade - José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb9prHSTHi4MrFQBXrS_sw01wgm_4jqPvIyXVOPwn0XwHNB9sEuSWrJkynsbTrCaUm3CdpZGZNsh0BMfTWFhIvPnkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "d01d03d7-85e6-4c58-8cba-3e17945ddd53",
      "name": "Criar Oportunidade - Thaís BMA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e77431c5-73ca-4823-b630-06e3290b51ba",
              "leftValue": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"timeToComplete\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        80
      ],
      "id": "09886a93-26a4-422c-b595-391b0831b9f1",
      "name": "nao é parcial"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead Parcial Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Fábio\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Fábio4\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49f585c2-9e8a-4e43-9da9-501ebf056cab",
      "name": "Notifica grupo | Deborah",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        2020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb_Yg2gvoXl80th6B6C9Wh-OLp5WQEp2yTX2ugm5nTMmAt2jUuYtxvU0ynsbTrCaUm0NjRA3qms88SAvq4Jot37rkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "11bb8396-dfd3-4099-91ce-922a5cb2ef11",
      "name": "Criar Oportunidade - João e Maria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        2200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-QSsVPVRFaQdWZWw5xAqab7MyZOmE_n-2xQUaAYtXZe5Lz0XiIDSTKynsbTrCaUm2PJpKHDCb0tVVcaHENUtkvI9DJWYrlQMmo_erG4K7M9uM596NsOdVjAp3szAxHWrCxbXqRAWFz3g.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "9c54024e-0ce8-4079-a58e-782ce587604a",
      "name": "Criar Oportunidade - João e Rafaela",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        2380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Oportunidade/CriarOportunidade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb87L1Y3_r0N5cFInrsXuBAJKTTJZrW5sF4_KdLnM6sX1nMOhwjVEqrAynsbTrCaUm2d4V2pqY42qeLI82KuEPUrkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"TituloOportunidade\": \"{{ $('Campos').item.json.nome }}\",\n  \"NomeLead\": \"{{ $('Campos').item.json.nome }}\",\n\"DocumentoLead\":\"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n  \"Campos\": [\n    {\n      \"IdCampoFormulario\": 16,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[0] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 7,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.faturamento }}\"\n    },\n    {\n      \"IdCampoFormulario\": 17,\n      \"IdConteudo\": 4,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da aplicacao'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 5,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.cenario }}\"\n    },\n    {\n      \"IdCampoFormulario\": 9,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['o que impede de alcançar seu objetivo'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 2,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.email }}\"\n    },\n    {\n      \"IdCampoFormulario\": 4,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['data da call'].split(\" \")[1] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 1,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.instagram }}\"\n    },\n    {\n      \"IdCampoFormulario\": 10,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['tipo de negocio'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 6,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json['produto que já desenvolveu'] }}\"\n    },\n    {\n      \"IdCampoFormulario\": 21,\n      \"IdConteudo\": 6,\n      \"Conteudo\": 1\n    },\n    {\n      \"IdCampoFormulario\": 22,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $('Campos').item.json.whatsapp }}\"\n    },\n{\n      \"IdCampoFormulario\": 31,\n      \"IdConteudo\": 1,\n      \"Conteudo\": \"{{ $node[\"Campos\"].json[\"utm_source\"] }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "5f53f636-b170-4718-9e91-4b1dc5716a19",
      "name": "Criar Oportunidade - João e Fábio4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4760,
        2020
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Fábio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "490b038d-696a-4d39-835e-4ab2553042e9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fábio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a530297-326b-4740-9c3a-528060bfdf7b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Maria Paula",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Maria Paula"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "01681781-092b-4144-9928-6ea607fea45b",
                    "leftValue": "={{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}",
                    "rightValue": "Rafaela ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rafaela "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4140,
        2220
      ],
      "id": "4d5008da-c2b8-4d5f-b7f2-29311eb1aeec",
      "name": "SDR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead Parcial Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Maria Paula\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Maria\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "054cb279-74a5-4108-8a2f-01601e6dfbf6",
      "name": "Notifica grupo | Deborah34",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        2200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead Parcial Carolina Caribé 🚨*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*SDR*Responsável:* Rafaela\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - João e Rafaela\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afac4cca-f56e-4b45-a456-9881b5634639",
      "name": "Notifica grupo | Deborah36",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        2380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apinewintegracao.bomcontrole.com.br/integracao/Lead/Criar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "ApiKey Z0EjZPzTOb-i4DIG6UbelHS1wxJAwH4FLOsWtg0yxJx_5l3XuneUKtlfJ-O1ByYhynsbTrCaUm3EG2bUck3CK79QS7Qk5PpIkeN9kx32iS_DEUTFZFJvUZnrY44htiJFvQwjRqQO3zzcl-BfdcUzhA.."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"PessoaJuridica\": {\n    \"Documento\": \"{{ $('Gerar CNPJ').item.json.cnpj }}\",\n    \"NomeFantasia\": \"{{ $('Campos').item.json.nome }}\",\n    \"RazaoSocial\": \"{{ $('Campos').item.json.nome }}\"\n  },\n  \"Enderecos\": [\n    {\n      \"Cep\": \"55000000\",\n      \"Logradouro\": \"Rua Teste\",\n      \"Numero\": \"123\",\n      \"Complemento\": \"Sala 1\",\n      \"Bairro\": \"Centro\",\n      \"Padrao\": true,\n      \"Referencia\": \"Próximo à praça\",\n      \"TipoLogradouro\": {\n        \"Id\": 1\n      },\n      \"Uf\": \"PE\",\n      \"Cidade\": \"Caruaru\"\n    }\n  ],\n  \"Contatos\": [\n    {\n      \"Nome\": \"{{ $('Campos').item.json.nome }}\",\n      \"Email\": \"{{ $('Campos').item.json.email }}\",\n      \"Telefone\": \"{{ $('Campos').item.json.whatsapp }}\",\n      \"Celular\": \"{{ $('Campos').item.json.whatsapp }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "73ef6e7f-3450-4965-8143-e78ec3e553af",
      "name": "Criar Oportunidade - Agenda Reserva1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        2000
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "5788",
            "content-type": "application/json",
            "x-forwarded-for": "167.99.13.111",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "167.99.13.111",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "68179eb6a048c713d1ea8be6",
              "formId": "67f7c8f1eaf7504471009b82",
              "ipAddress": "189.47.54.113",
              "operatingSystem": "iOS",
              "operatingSystemVersion": "18_1",
              "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/22B83 Instagram 293.1.0.21.50 (iPhone14,8; iOS 18_1; pt_BR; pt; scale=3.00; 1284x2778; 498085230)",
              "browser": "Mozilla",
              "browserVersion": false,
              "referrerUrl": "https://www.incorporacaonapratica.com/",
              "deviceType": "mobile",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "São Paulo",
                "city": "Santos",
                "zipcode": "11045",
                "latitude": -23.9569,
                "longitude": -46.3446,
                "timezone": "America/Sao_Paulo"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": {
                "utm_source": "metaads",
                "utm_medium": "00-QUENTE-GERAL",
                "utm_campaign": "CADASTRO_LEADS_CG_QUENTE_AUTO-v3-yay",
                "utm_content": "AD08-FORMACAO-VIDEO_Group_1",
                "utm_term": "Instagram_Feed",
                "_clsk": "prl4oh|1746378424666|1|1|e.clarity.ms/collect",
                "_fbc": "fb.1.1746378423179.PAZXh0bgNhZW0BMABhZGlkAasmg8Wa_dgBp7LAZqDky44CMFboIbaoADzGI8CAJ6kus1TGkIgVRq7r0ajvP4oQ3uzHkvJ5_aem_GgTm8hTprTijLCpz8mKe9g",
                "_fbp": "fb.1.1746378423183.980882414359319767",
                "hotid": "eyJzaWQiOiIwMzEyZjNlNGI3YjU0OTg2YTQ2MWFjMjhhNWRiM2VmOSIsImNpZCI6IjE3NDYzNzg0MjQ2NTIyNTQ0MzMzMTk2MjE0MDIyNDAiLCJiaWQiOiIxNzQ2Mzc4NDI0NjUyMjU0NDMzMzE5NjIxNDAyMjQwIn0=",
                "ttcsid_C5URFDOVMNUPJ15SHS00": "1746378423864::VcBpZLxfzhyn4Mgc944q.1.1746378424982",
                "_clck": "cnkugw|2|fvm|0|1950",
                "_ga": "GA1.1.963831679.1746378423",
                "_ga_QMHGX1WZCF": "GS2.1.s1746378423$o1$g0$t1746378423$j60$l0$h203180974",
                "_gat_UA-126618422-1": "1",
                "_gcl_au": "1.1.409547688.1746378423",
                "_gid": "GA1.2.1241959167.1746378423",
                "_hjSessionUser_2246065": "eyJpZCI6IjA5OTJjNTRlLTNjOWUtNWE5Ny05NDE5LWFiNDhiZTJmZjJiNiIsImNyZWF0ZWQiOjE3NDYzNzg0MjMzOTksImV4aXN0aW5nIjpmYWxzZX0=",
                "_hjSession_2246065": "eyJpZCI6ImNmNWIwZDM1LTNhYTgtNGFmYy05ZmQ3LTEyZGU4YzAwYmE2MSIsImMiOjE3NDYzNzg0MjMzOTksInMiOjAsInIiOjAsInNiIjowLCJzciI6MCwic2UiOjAsImZzIjoxLCJzcCI6MH0=",
                "_tt_enable_cookie": "1",
                "_ttp": "01JTE47ZHQ4PF12H6RBYSX3QGR_.tt.1",
                "ttcsid": "1746378423865::tKGSVDjEV5KA5Yq3cIQF.1.1746378423865"
              },
              "timeToComplete": 255.117,
              "startedAt": "2025-05-04T17:07:05.470000Z",
              "submittedAt": "2025-05-04T17:11:20.587000Z",
              "createdAt": "2025-05-04T17:07:02.485000Z",
              "updatedAt": "2025-05-04T17:11:24.715000Z",
              "answers": {
                "67f7c8f1eaf7504471009b83": {
                  "answerId": "68179eb6bcb2d1fbcf8fc9b6",
                  "fieldTitle": "Aplicação para Consultoria Grátis:",
                  "fieldDescription": "<p>Você terá uma consultoria grátis comigo ou com um dos estrategistas do meu time.</p><p></p><p>Nós faremos um diagnóstico completo do seu negócio, identificando os gargalos e criando um plano de ação para que você possa alcançar o próximo nível no desenvolvimento imobiliário.</p><p></p><p>IMPORTANTE: A sua aplicação através deste questionário NÃO garante que você será aceito para uma das vagas. Avaliaremos cautelosamente cada aplicação e entraremos em contato com os aprovados.</p>",
                  "content": null
                },
                "67f7c8f1eaf7504471009b85": {
                  "answerId": "68179eb9bcb2d1fbcf8fcb28",
                  "fieldTitle": "Seu nome:",
                  "fieldDescription": null,
                  "content": "Marco Aurélio "
                },
                "67f7c8f1eaf7504471009b86": {
                  "answerId": "68179ec0bcb2d1fbcf8fd14b",
                  "fieldTitle": "E-mail:",
                  "fieldDescription": null,
                  "content": "rodriguesdiretor5@gmail.com"
                },
                "67f7c8f1eaf7504471009b87": {
                  "answerId": "68179ecdbcb2d1fbcf8fdc16",
                  "fieldTitle": "WhatsApp com DDD:",
                  "fieldDescription": null,
                  "content": "+5513997223224"
                },
                "67f7c932b4e54680e80128c5": {
                  "answerId": "68179ed3bcb2d1fbcf8fe00d",
                  "fieldTitle": "Seu @ do instagram",
                  "fieldDescription": null,
                  "content": "@kiko_g3"
                },
                "67f7c8f1eaf7504471009b88": {
                  "answerId": "68179ee7bcb2d1fbcf8fecf0",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Dono de Construtora"
                  ]
                },
                "67f7c96486aeabfbe8008238": {
                  "answerId": "68179ef3bcb2d1fbcf8ff322",
                  "fieldTitle": "Qual dos cenários abaixo mais combina com o seu momento?",
                  "fieldDescription": null,
                  "content": [
                    "Estou construindo/incorporando no momento"
                  ]
                },
                "67f7c9a0896156dc380d07be": {
                  "answerId": "68179f05bcb2d1fbcf8ffb70",
                  "fieldTitle": "Caso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?",
                  "fieldDescription": null,
                  "content": [
                    "Incorporação"
                  ]
                },
                "67f7c8f1eaf7504471009b89": {
                  "answerId": "68179f2dbcb2d1fbcf901515",
                  "fieldTitle": "Qual é o seu faturamento médio MENSAL em 2025?",
                  "fieldDescription": null,
                  "content": [
                    "R$ 250.000,00 a R$ 500.000,00"
                  ]
                },
                "67f7c8f1eaf7504471009b8a": {
                  "answerId": "68179f45bcb2d1fbcf902442",
                  "fieldTitle": "Qual seu principal objetivo nos próximos 12 meses dentro do mercado imobiliário?",
                  "fieldDescription": null,
                  "content": "Aprender escalar vendas e produtos "
                },
                "67f7c8f1eaf7504471009b8b": {
                  "answerId": "68179f5dbcb2d1fbcf903438",
                  "fieldTitle": "O que atualmente te impede de alcançar seu objetivo no mercado imobiliário?",
                  "fieldDescription": null,
                  "content": "Falta de recursos "
                },
                "68123d943dfc68b05b0b5d8f": {
                  "answerId": "68179f69bcb2d1fbcf904018",
                  "fieldTitle": "Você foi aprovado para uma  das vagas na consultoria. Caso você não responda à confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?",
                  "fieldDescription": null,
                  "content": [
                    "Claro, quero aproveitar!"
                  ]
                },
                "67f7ca64ab4d54d1fb06762c": {
                  "answerId": "68179f79bcb2d1fbcf904ac0",
                  "fieldTitle": "Agende o seu horário:",
                  "fieldDescription": null,
                  "content": "https://calendly.com/scheduled_events/c6d96c1d-4746-45f7-8d07-816bd953be98/invitees/1ce32a78-1a73-402f-8283-605dbad8c8f6"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/09f33e8f-17ae-42a7-9fdb-96e2711687a8",
          "executionMode": "production"
        }
      }
    ],
    "Criar Oportunidade - Agenda Reserva": [
      {
        "json": 1980
      }
    ],
    "Criar Oportunidade - Agenda Reserva1": [
      {
        "json": 1980
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-23T03:18:57.576Z",
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-15T20:47:59.461Z",
  "versionId": "9ed8809e-6070-4f81-b292-2d37bd29c73f"
}