workflows/[CAROL] [IP4 Meteorico 03] [JULHO] Formulário.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "GreatPages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GreatPages": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Path": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona na Lista": {
      "main": [
        [
          {
            "node": "Mapeamento de Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Usuário": {
      "main": [
        [
          {
            "node": "Adiciona Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag": {
      "main": [
        [
          {
            "node": "Adiciona na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo": {
      "main": [
        [
          {
            "node": "att contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "busca contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Extrai Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria contato": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca contato": {
      "main": [
        [
          {
            "node": "envia flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "att contact": {
      "main": [
        [
          {
            "node": "envia flow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Dados Planilha |Meteórico 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Planilha |Meteórico 1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-23T18:38:44.024Z",
  "id": "78IzoFPkQaoLmmRb",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] [IP4 Meteorico 03] [JULHO] Formulário",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "7ac2d2cc-bc81-4c68-9a1b-190ace2c717b",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -120,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['DDD_WhatsApp'] = formataTelefone($node['Trata Webhook'].json['DDD_WhatsApp'])\n\nreturn $input.all();"
      },
      "id": "5ef9dad4-1f06-41fb-9634-b34524cdb46d",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        280,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a68488c-f0b4-4406-baf9-b2c4bff1f2fb",
              "name": "nome",
              "value": "={{ $('Formata Telefone').item.json.Seu_nome }}",
              "type": "string"
            },
            {
              "id": "62ec3931-595f-43f5-9181-73c400ca8c9a",
              "name": "email",
              "value": "={{ $('Formata Telefone').item.json.Seu_e_mail }}",
              "type": "string"
            },
            {
              "id": "b7f3a6f5-6974-4aaf-9140-e16dffdddf74",
              "name": "whatsapp",
              "value": "={{ $('Formata Telefone').item.json.DDD_WhatsApp }}",
              "type": "string"
            },
            {
              "id": "bcda957c-484a-41a0-aeea-85ec12bc898e",
              "name": "pagina",
              "value": "={{ $json.pathname }}",
              "type": "string"
            },
            {
              "id": "2a6c5226-c045-4095-b133-00f54d82e245",
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}",
              "type": "string"
            },
            {
              "id": "ae81e3b4-9a73-4b1e-ad38-75bf2fb3682b",
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}",
              "type": "string"
            },
            {
              "id": "30476025-0543-469c-9d9d-a7fee91cde39",
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}",
              "type": "string"
            },
            {
              "id": "6b50b30c-15db-4d2b-a3cc-119a4e209925",
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}",
              "type": "string"
            },
            {
              "id": "0fa84181-01f4-4f7c-85f2-90aafb4906ca",
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}",
              "type": "string"
            },
            {
              "id": "1cad61e4-9a1a-4934-adc4-c7578f4baffa",
              "name": "Data_da_conversao",
              "value": "={{ $('GreatPages').item.json.Data_da_conversao.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "521979f7-1046-4208-ae94-32c2973fc06b",
              "name": "ip_usuário",
              "value": "={{ $('Trata Webhook').item.json.IP_do_usuario }}",
              "type": "string"
            },
            {
              "id": "02913e47-45c4-4eb6-aaf9-b4b3e3f2eef2",
              "name": "fbclid",
              "value": "={{ $('Formata Telefone').item.json.fbclid }}",
              "type": "string"
            },
            {
              "id": "d7235bfe-e9e2-4086-9fde-56fdeb2732f4",
              "name": "gclid",
              "value": "={{ $('Formata Telefone').item.json.gclid }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ab34a701-cceb-405b-9b74-7b1aa1450295",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {},
      "id": "97f509b4-5b65-4372-ab88-31cbb9e0012d",
      "name": "GreatPages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPathFromURL(url) {\n    try {\n        // Usa regex para extrair o caminho da URL\n        const match = url.match(/^https?:\\/\\/[^/]+(\\/[^?#]*)/);\n        if (match) {\n            return match[1]; // Retorna o path\n        } else {\n            return \"Invalid URL\";\n        }\n    } catch (error) {\n        console.error(\"Erro ao processar a URL:\", error.message);\n        return \"Invalid URL\";\n    }\n}\n\n// Exemplo de uso\nconst url = $input.all()[0].json['URL']\nconst pathname = (getPathFromURL(url)); // Retorna \"/ip-ano-novo-v3\"\n\nreturn {pathname}"
      },
      "id": "beab29ed-c5bc-48b5-a23c-347bfed38aac",
      "name": "Extrai Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.nome }}"
        }
      },
      "id": "5c6d2626-5e15-4175-a56b-6fb43e971638",
      "name": "ID Usuário",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1100,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 223,
        "contactId": "={{ $('ID Usuário').item.json.id }}"
      },
      "id": "ea4d49a1-d499-48a1-814a-cc2471c1e1d3",
      "name": "Adiciona na Lista",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1520,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('ID Usuário').item.json.id }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "={{ 153 }}",
                "value": "={{ $('Campos').item.json.utm_content }}"
              },
              {
                "field": "={{ 154 }}",
                "value": "={{ $('Campos').item.json.utm_source }}"
              },
              {
                "field": "={{ 155 }}",
                "value": "={{ $('Campos').item.json.utm_medium }}"
              },
              {
                "field": "={{ 156 }}",
                "value": "={{ $('Campos').item.json.utm_campaign }}"
              },
              {
                "field": "={{ 157 }}",
                "value": "={{ $('Campos').item.json.utm_term }}"
              }
            ]
          }
        }
      },
      "id": "20b01259-e832-4550-8a2d-dc5266920859",
      "name": "Mapeamento de Campos",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1720,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "=1504",
        "contactId": "={{ $json.id }}"
      },
      "id": "14a249bb-b1a5-479d-8c81-2a726404cb23",
      "name": "Adiciona Tag",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1320,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "b12ed730-33d1-4790-98c2-08d4570e58c6",
      "name": "novo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{\"+\"+ $node[\"Formata Telefone\"].json[\"DDD_WhatsApp\"]}}\",\n  \"whatsapp_phone\": \"{{\"+\"+ $node[\"Formata Telefone\"].json[\"DDD_WhatsApp\"]}}\",\n  \"has_opt_in_sms\": false,\n  \"has_opt_in_email\": false,\n  \"consent_phrase\": \"string\"\n} ",
        "options": {}
      },
      "id": "ca9642eb-376a-49e3-bb4a-3131e3143ebd",
      "name": "Cria contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -80
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"Cria contato\"].json[\"data\"][\"id\"] }}"
            },
            {
              "name": "field_id",
              "value": "12359951"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Formata Telefone\"].json[\"DDD_WhatsApp\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a858e2f5-cf22-4f41-9eef-c7f857734d74",
      "name": "att contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        0
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        -180
      ],
      "id": "286d87a1-3dcb-4b16-911e-c473a7aa2c1b",
      "name": "existe"
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=12359951&field_value={{$node[\"Formata Telefone\"].json[\"DDD_WhatsApp\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "617a0fb6-3074-4528-ab9f-ee4e78c4c5a5",
      "name": "busca contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -180
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b47ac03-1259-4e8c-9e8e-22786f6bf427",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "This WhatsApp ID already exists",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5f5ae71-5186-4c70-b5ab-2d22854fb5d7",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        760,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250124100414_279443"
            }
          ]
        },
        "options": {}
      },
      "id": "d33cad67-85d8-410f-9e64-344ea7aa6430",
      "name": "envia flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -200
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $('Cria contato').item.json.data.id }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250124100414_279443"
            }
          ]
        },
        "options": {}
      },
      "id": "08b57f3f-5619-440e-838f-7d5f828180df",
      "name": "envia flow1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -20
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xfqyQOrK-DOw1iReK_SpGfRBBPj0JUuisEuksiu5wAQ/edit?gid=882412983#gid=882412983",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 882412983,
          "mode": "list",
          "cachedResultName": "Meteórico 3 - Captação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfqyQOrK-DOw1iReK_SpGfRBBPj0JUuisEuksiu5wAQ/edit#gid=882412983"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.Data_da_conversao }}",
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_content": "={{ $json.utm_content }}",
            "utm_term": "={{ $json.utm_term }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "pagina": "={{ $json.pagina }}",
            "chave": "={{ $json.whatsapp.slice(-7) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grupo",
              "displayName": "grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "61b044f0-c3ae-4409-9bf3-d0524cde242d",
      "name": "Dados Planilha |Meteórico 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        900,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ca5164fa-307e-4bea-b27b-e8b437b545ef",
        "options": {}
      },
      "id": "eeaa3746-f595-465c-aa38-59dcfd9edcdf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        260
      ],
      "webhookId": "ca5164fa-307e-4bea-b27b-e8b437b545ef"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "content-length": "506",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "934f7fb7d620eaac-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTc0NTQzMzcyNn0.awk3YK3KHSgxXY76hIY6jiFj9_HshTCncVICu4Iuoc0",
            "great-product": "product",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.170.156",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "172.71.170.156"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu_nome": "Matheus",
            "DDD_WhatsApp": "81993515055",
            "Seu_e_mail": "matheus@gmail.com",
            "utm_source": "",
            "utm_medium": "",
            "utm_campaign": "",
            "utm_term": "",
            "utm_content": "",
            "fbclid": "",
            "gclid": "",
            "Referral_Source": "https://app.greatpages.com.br/",
            "Dispositivo": "Desktop",
            "URL": "https://www.incorporacaonapratica.com/mt-02",
            "IP_do_usuario": "190.89.244.58",
            "Data_da_conversao": "2025-04-23 18:41:58",
            "Id_do_formulario": "2268855_1_174492420168016e29cab6c340837147",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Pernambuco",
            "Cidade_do_usuario": "Caruaru",
            "Id_da_pagina": "2268855"
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/ca5164fa-307e-4bea-b27b-e8b437b545ef",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-23T03:18:57.576Z",
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-23T18:42:58.214Z",
  "versionId": "8ad70d4e-7d74-4daf-bc99-5d4b27dcf3d5"
}