workflows/[CAROL] CG Formação com calendly YAY V2.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodizio de sdr": {
      "main": [
        [
          {
            "node": "data da call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "nao é parcial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da call": {
      "main": [
        [
          {
            "node": "data da aplicacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data da aplicacao": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nao é parcial": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preencheu whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu whatsapp": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Thais CLINT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gabriel CLINT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Matheus CLINT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah7": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matheus CLINT": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabriel CLINT": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah15": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thais CLINT": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T04:31:19.059Z",
  "id": "8B2VjCe07rlLhoN3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] CG Formação com calendly YAY V2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "519072e0-cf23-488f-a129-badaad933392",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -360,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "a97f574e-d463-4eb5-88ce-f407777fdce0",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -120,
        140
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/85e6ccb1-b72c-49b9-abde-9608c02a1d01&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e6\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzIwMTgxNzk1LCJqdGkiOiJlZmI4OGIzMi1lZjliLTQwNzctODg2OS05ZDgzM2Q4NzgwNDYiLCJ1c2VyX3V1aWQiOiIzNDhhMzczNy0yM2FlLTQ5OWEtYWE1Yi03NzcxNGUyYTFhMGYifQ.shD1-HqhsYVrda4l-Y4cT7FpKLKMs3wvRgDQ1AksHqAZ1ANHhK3NwCqKNCmsZlqX5n8Of-L5X6diBrUpxOfs3w"
            }
          ]
        },
        "options": {}
      },
      "id": "22505f5d-f26a-4416-b9ad-d584751b4768",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "934d419b-c5aa-48af-8a60-a358d481f429",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        100,
        140
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "015e867b-66fc-45be-ac91-74df9d0d7053",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1240,
        320
      ],
      "webhookId": "6cb847eb-067b-42d4-859f-ec12b7e5787f"
    },
    {
      "parameters": {
        "workflowId": "V5AbHz3WZvSkoIpP",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "16e98bdc-49a3-411e-a721-dde90b343356",
      "name": "rodizio de sdr",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "286d7938-27a1-49e8-9bec-5b886d9dc256",
        "options": {}
      },
      "id": "12fd07fd-a855-4457-84eb-f601c2a83d9b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        140
      ],
      "webhookId": "286d7938-27a1-49e8-9bec-5b886d9dc256"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ef\"].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b494eb2d-32e8-48b4-8661-07f0976d43e5",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        300,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e870e64-5a2a-4a35-a05c-9fae6fd7d325",
              "name": "nome_sdr",
              "value": "={{ $('rodizio de sdr').item.json.nome_sdr }}",
              "type": "string"
            },
            {
              "id": "2e6502b5-87b7-471a-b380-b19f9a3f97f6",
              "name": "nome",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e5\"].content }}",
              "type": "string"
            },
            {
              "id": "149210d9-9f6b-4851-9284-98de9b788a81",
              "name": "email",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e6\"].content }}",
              "type": "string"
            },
            {
              "id": "4fb9b988-1edc-46fc-815a-5af8db220607",
              "name": "whatsapp",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e7\"].content.substring(3) }}",
              "type": "string"
            },
            {
              "id": "149ea0f6-cb2c-44df-aef1-0c2ecbac4b1a",
              "name": "instagram",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ec\"].content }}",
              "type": "string"
            },
            {
              "id": "3e6ed3b6-94d2-46d1-abe7-9c1c440e8de2",
              "name": "tipo de negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e8\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "3cfee21f-b1ec-4390-af75-3e31fc9eac39",
              "name": "cenario",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ed\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "25848940-ae43-46cf-bb17-8a24a1dd2ffb",
              "name": "produto que já desenvolveu",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ee\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "a5331b51-f78e-4050-bd03-85c8df054417",
              "name": "faturamento",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0e9\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "0bce8ae9-c543-46fc-b923-a3dec62bfda9",
              "name": "objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ea\"].content }}",
              "type": "string"
            },
            {
              "id": "45f2c6ac-f807-47fd-8717-abf51913814b",
              "name": "o que impede de alcançar seu objetivo",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0eb\"].content }}",
              "type": "string"
            },
            {
              "id": "0675b29d-0ec6-4769-8a36-28c5b1d52b63",
              "name": "aproveitar vaga",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0f3\"].content[0] }}",
              "type": "string"
            },
            {
              "id": "88fdf136-608e-4447-8b48-0e25185bb448",
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"68c9ca130673b315e80af0ef\"].content }}",
              "type": "string"
            },
            {
              "id": "ba067a92-777e-4c21-bf69-406beffae54a",
              "name": "Closer",
              "value": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
              "type": "string"
            },
            {
              "id": "5874c755-f2c2-4537-b0e8-7693e842d1ad",
              "name": "data da call",
              "value": "={{ $('data da call').item.json.callAgendada }}",
              "type": "string"
            },
            {
              "id": "ff208309-fee9-45b0-bdab-96eb0c0e9c3d",
              "name": "data da aplicacao",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            },
            {
              "id": "291a1ed8-cf3a-4a4f-a71a-2c8dbf3e7171",
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        80
      ],
      "id": "e92bb8ce-c766-49ed-8cc4-35266ae1848c",
      "name": "Campos"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": true
        }
      },
      "id": "9461c3bf-39e1-4a3a-95cb-f38d8fc4e0e2",
      "name": "data da call",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1360,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"submittedAt\"] }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "93abe2bd-d1eb-4eaa-99a2-b16b50a3aadb",
      "name": "data da aplicacao",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1580,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e77431c5-73ca-4823-b630-06e3290b51ba",
              "leftValue": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"timeToComplete\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        80
      ],
      "id": "fb96bf60-942b-4965-90fc-70ba58999403",
      "name": "nao é parcial"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b6fdbd8-bc81-4357-92c9-16786432226b",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f7c8f1eaf7504471009b87\"][\"content\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2640,
        2260
      ],
      "id": "fedec0c1-8417-44bd-98a9-e7a7c2b430a4",
      "name": "preencheu whatsapp"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1a83651b-1df7-4574-b72c-c4bcda28d763",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Thais BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thais BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Gabriel Fernandes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gabriel Fernandes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8ef7ebfe-eaf3-4f6d-ae5d-3ef9dc9f72b8",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            }
          ]
        },
        "options": {}
      },
      "id": "0bc2c19b-64e2-4063-81f5-fa45405441e2",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2640,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "5d2d1078-6d2f-4b15-9eba-3721a1f5e114",
      "name": "Notifica grupo | Deborah7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "fd949810-639d-406f-b531-9fa7601e389a",
      "name": "Notifica grupo | Deborah8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4100,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Thaís\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "b18fef95-a5d0-418b-8aca-6c9ed19f407c",
      "name": "Notifica grupo | Thaís2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        -680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=554599203611"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "eb941c5b-f7d6-44e4-9aae-b2498b0965f4",
      "name": "Notifica grupo | Thaís3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        -680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/39a1b8b1-dcd0-4559-838f-a3af3425121c",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"email\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"instagram\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"tipo de negocio\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"cenario\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"o que impede de alcançar seu objetivo\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"faturamento\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"objetivo\"] }}"
            },
            {
              "name": "produto",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"produto que já desenvolveu\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "dono",
              "value": "matheusschefer.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        600
      ],
      "id": "59279eaf-4175-4ae9-a012-6f492d910ba6",
      "name": "Matheus CLINT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/42d8a0e4-eec6-4397-9247-1dcafa57285f",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"email\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"instagram\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"tipo de negocio\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"cenario\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"o que impede de alcançar seu objetivo\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"faturamento\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"objetivo\"] }}"
            },
            {
              "name": "produto",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"produto que já desenvolveu\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "dono",
              "value": "gabrielfernandes.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        -100
      ],
      "id": "dc88a80a-9b7e-415b-8a91-40704956e994",
      "name": "Gabriel CLINT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Carolina Caribé 🔥*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Gabriel Fernandes\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "a236c94e-d9e1-467c-8634-1568c66d877e",
      "name": "Notifica grupo | Deborah15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "554591088542"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $('Campos').item.json['data da call'].toDateTime().format(\"dd/MM/yyyy HH:mm\") }}\n\n*Nome do lead*: {{ $('Campos').item.json.nome }}\n\n*E-mail*: {{ $('Campos').item.json.email }}\n\n*Whatsapp*: {{ $('Campos').item.json.whatsapp }}\n\n*Faturamento*: {{ $('Campos').item.json.faturamento }}\n\n*Modelo de Negócio*: {{ $('Campos').item.json['tipo de negocio'] }}\n\nFormulario:Consultoria Grátis - CG com Calendly V2\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "3eedc474-7624-4e1a-943e-dc82afd87207",
      "name": "Notifica grupo | Deborah16",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/e9ec218d-6092-41ca-8241-ca74ae954151",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"nome\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"email\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"whatsapp\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"instagram\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"tipo de negocio\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"cenario\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"o que impede de alcançar seu objetivo\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"faturamento\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"objetivo\"] }}"
            },
            {
              "name": "produto",
              "value": "={{ $item(\"0\").$node[\"Campos\"].json[\"produto que já desenvolveu\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_source\"] }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_campaign\"] }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_medium\"] }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_content\"] }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"tracking\"][\"utm_term\"] }}"
            },
            {
              "name": "dono",
              "value": "gabrielfernandes.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        -680
      ],
      "id": "e96ba9d4-0e03-4b40-bc80-adfe1f5ae778",
      "name": "Thais CLINT"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "5589",
            "content-type": "application/json",
            "x-forwarded-for": "104.248.57.202",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "869fd5766395",
            "x-real-ip": "104.248.57.202",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "68dc309445e537ced90ffe39",
              "formId": "68c9ca130673b315e80af0e2",
              "ipAddress": "131.196.6.40",
              "operatingSystem": "OS X",
              "operatingSystemVersion": "10_15_7",
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
              "browser": "Chrome",
              "browserVersion": "140.0.0.0",
              "referrerUrl": "https://www.incorporacaonapratica.com/",
              "deviceType": "desktop",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "Pernambuco",
                "city": "Caruaru",
                "zipcode": "55000",
                "latitude": -8.1792,
                "longitude": -36.0279,
                "timezone": "America/Recife"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": {
                "utm_source": "testesource",
                "utm_medium": "testemedium",
                "utm_campaign": "testename",
                "utm_content": "testecontent",
                "utm_term": "testeterm",
                "_fbp": "fb.1.1753883475955.792696824477286031",
                "_clck": "1gh7dxm^2^fzq^0^2098",
                "_gcl_au": "1.1.1467318066.1759175575",
                "_fbc": "fb.1.1759175574588.fbclid",
                "_gid": "GA1.2.2118143053.1759175575",
                "_tt_enable_cookie": "1",
                "_ttp": "01K6BGJ1AFDEDSC8EE1MXVPTWT_.tt.1",
                "_ltuid": "19CbQh",
                "_ga": "GA1.1.1499565879.1759175575",
                "_ltusession": "1759175711678__1",
                "ttcsid": "1759175574865::qPfAdGTI1fxXmXFT9_Y-.1.1759175711973.0",
                "ttcsid_CEDLAVJC77UDF9713HP0": "1759175574864::MdFNMncPODiCmdVFob7E.1.1759175711973.0",
                "_clsk": "10z9g6y^1759175712730^3^1^e.clarity.ms/collect",
                "_ga_324806166": "GS2.1.s1759178423$o2$g0$t1759178423$j60$l0$h0",
                "_ga_5GVPZDVNW9": "GS2.1.s1759178423$o2$g0$t1759178423$j60$l0$h1083179883",
                "_ga_BJR0JVV5FR": "GS2.1.s1759178423$o2$g0$t1759178423$j60$l0$h0",
                "_ga_PEGMJDK06R": "GS2.1.s1759178423$o2$g0$t1759178423$j60$l0$h0"
              },
              "timeToComplete": 43.233,
              "startedAt": "2025-09-30T19:33:42.948000Z",
              "submittedAt": "2025-09-30T19:34:26.181000Z",
              "createdAt": "2025-09-30T19:33:40.302000Z",
              "updatedAt": "2025-09-30T19:34:28.189000Z",
              "answers": {
                "68c9ca130673b315e80af0e3": {
                  "answerId": "68dc3094397b622b92b184f7",
                  "fieldTitle": "Aplicação para Consultoria Grátis:",
                  "fieldDescription": "<p>Você terá uma consultoria grátis comigo ou com um dos estrategistas do meu time.</p><p></p><p>Nós faremos um diagnóstico completo do seu negócio, identificando os gargalos e criando um plano de ação para que você possa alcançar o próximo nível no desenvolvimento imobiliário.</p><p></p><p>IMPORTANTE: A sua aplicação através deste questionário NÃO garante que você será aceito para uma das vagas. Avaliaremos cautelosamente cada aplicação e entraremos em contato com os aprovados.</p>",
                  "content": null
                },
                "68c9ca130673b315e80af0e5": {
                  "answerId": "68dc3095397b622b92b184fa",
                  "fieldTitle": "Informe seu nome completo:",
                  "fieldDescription": null,
                  "content": "MATHEUS CRSTHYAN"
                },
                "68c9ca130673b315e80af0e7": {
                  "answerId": "68dc3099397b622b92b18504",
                  "fieldTitle": "WhatsApp com DDD:",
                  "fieldDescription": null,
                  "content": "+558191013614"
                },
                "68c9ca130673b315e80af0e6": {
                  "answerId": "68dc309c397b622b92b18509",
                  "fieldTitle": "E-mail:",
                  "fieldDescription": null,
                  "content": "matheus@gmail.com"
                },
                "68c9ca130673b315e80af0ec": {
                  "answerId": "68dc30a5397b622b92b1851b",
                  "fieldTitle": "Seu @ do instagram",
                  "fieldDescription": null,
                  "content": "teste"
                },
                "68c9ca130673b315e80af0e8": {
                  "answerId": "68dc30a7397b622b92b1851f",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Dono de Imobiliária"
                  ]
                },
                "68c9ca130673b315e80af0ed": {
                  "answerId": "68dc30a9397b622b92b18526",
                  "fieldTitle": "Qual dos cenários abaixo mais combina com o seu momento?",
                  "fieldDescription": null,
                  "content": [
                    "Estou construindo/incorporando pela primeira vez"
                  ]
                },
                "68c9ca130673b315e80af0ee": {
                  "answerId": "68dc30aa397b622b92b1852a",
                  "fieldTitle": "Caso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?",
                  "fieldDescription": null,
                  "content": [
                    "Venda de casa na planta"
                  ]
                },
                "68c9ca130673b315e80af0e9": {
                  "answerId": "68dc30ad397b622b92b1852f",
                  "fieldTitle": "Qual é o seu faturamento médio MENSAL em 2025?",
                  "fieldDescription": null,
                  "content": [
                    "R$ 50.000,00 a R$ 100.000,00"
                  ]
                },
                "68c9ca130673b315e80af0ea": {
                  "answerId": "68dc30ae397b622b92b18531",
                  "fieldTitle": "Qual seu principal objetivo nos próximos 12 meses dentro do mercado de desenvolvimento imobiliário? Seja o mais específico possível.",
                  "fieldDescription": null,
                  "content": "teste"
                },
                "68c9ca130673b315e80af0eb": {
                  "answerId": "68dc30af397b622b92b18533",
                  "fieldTitle": "O que atualmente te impede de alcançar seu objetivo no mercado imobiliário? Seja o mais específico possível.",
                  "fieldDescription": null,
                  "content": "teste"
                },
                "68c9ca130673b315e80af0f3": {
                  "answerId": "68dc30b0397b622b92b18537",
                  "fieldTitle": "Você foi aprovado para uma  das vagas na consultoria. Caso você não responda à confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?",
                  "fieldDescription": null,
                  "content": [
                    "Claro, quero aproveitar!"
                  ]
                },
                "68c9ca130673b315e80af0ef": {
                  "answerId": "68dc30b2397b622b92b1853a",
                  "fieldTitle": "Agende seu horário abaixo e assim que confirmar, toque em ENVIAR no final do formulário para notificar o especialista da sua reunião.",
                  "fieldDescription": "<p>Essa pode ser a sua virada de chave no mercado imobiliário, não deixe essa oportunidade passar.</p>",
                  "content": "https://calendly.com/scheduled_events/457100ab-8537-4935-9ca4-7c116180d01e/invitees/43cb3921-ead9-4c92-b1ed-9a939603f062"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/286d7938-27a1-49e8-9bec-5b886d9dc256",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-23T03:18:57.576Z",
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-30T19:58:05.742Z",
  "versionId": "0936b3e4-31e7-4372-bea7-042665a59adc"
}