workflows/[CAROL] CG Formação com calendly API.json
{
  "active": true,
  "connections": {
    "Monday.com": {
      "main": [
        [
          {
            "node": "Monday.com1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com1": {
      "main": [
        [
          {
            "node": "Monday.com3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Monday.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Monday.com2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com2": {
      "main": [
        [
          {
            "node": "Monday.com7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com7": {
      "main": [
        [
          {
            "node": "Monday.com8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Monday.com9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com9": {
      "main": [
        [
          {
            "node": "Monday.com10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com10": {
      "main": [
        [
          {
            "node": "Monday.com11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada3": {
      "main": [
        [
          {
            "node": "Date & Time5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time5": {
      "main": [
        [
          {
            "node": "Monday.com12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com12": {
      "main": [
        [
          {
            "node": "Monday.com13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com13": {
      "main": [
        [
          {
            "node": "Monday.com14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião4": {
      "main": [
        [
          {
            "node": "Notifica grupo | Thaís",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião5": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago Gregório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodizio de sdr": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com3": {
      "main": [
        [
          {
            "node": "formata data reunião4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com8": {
      "main": [
        [
          {
            "node": "formata data reunião5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com11": {
      "main": [
        [
          {
            "node": "formata data reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com14": {
      "main": [
        [
          {
            "node": "formata data reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada4": {
      "main": [
        [
          {
            "node": "Date & Time6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time6": {
      "main": [
        [
          {
            "node": "Monday.com16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com16": {
      "main": [
        [
          {
            "node": "Monday.com17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com17": {
      "main": [
        [
          {
            "node": "Monday.com18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com18": {
      "main": [
        [
          {
            "node": "formata data reunião2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada5": {
      "main": [
        [
          {
            "node": "Date & Time7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time7": {
      "main": [
        [
          {
            "node": "Monday.com19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com19": {
      "main": [
        [
          {
            "node": "Monday.com20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com20": {
      "main": [
        [
          {
            "node": "Monday.com21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com21": {
      "main": [
        [
          {
            "node": "formata data reunião3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "rodizio de sdr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Agendada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Deborah": {
      "main": [
        []
      ]
    },
    "Call Agendada6": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "Monday.com22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com22": {
      "main": [
        [
          {
            "node": "Monday.com23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com23": {
      "main": [
        [
          {
            "node": "Monday.com24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião6": {
      "main": [
        [
          {
            "node": "Notifica grupo | Deborah3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com24": {
      "main": [
        [
          {
            "node": "formata data reunião6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Thaís": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Tiago Gregório": {
      "main": [
        []
      ]
    },
    "Notifica grupo | José": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Deborah2": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Deborah3": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-09T13:35:52.648Z",
  "id": "IHImzfmEq5imCuwL",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] CG Formação com calendly API",
  "nodes": [
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "5c36ecf0-4e8d-4d35-8a89-85761e049418",
      "name": "Monday.com",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        -460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "f4bbd803-f631-463b-aeaf-39ed0f0f591d",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        180,
        140
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "a172f522-2388-43fe-bf2c-fcbd70081d7a",
      "name": "Monday.com1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        -460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "3309e26f-5b67-4ccc-bf61-af69b73b94c5",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        400,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "6cd376b8-8f7a-4fc2-a087-81163943d474",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        -460
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "e7a5edbd-9348-4cdd-b8b6-6117db6623f3",
      "name": "Call Agendada1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        -460
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/85e6ccb1-b72c-49b9-abde-9608c02a1d01&invitee_email={{ $('Trata Webhook').item.json.form_response.answers[6].email }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzIwMTgxNzk1LCJqdGkiOiJlZmI4OGIzMi1lZjliLTQwNzctODg2OS05ZDgzM2Q4NzgwNDYiLCJ1c2VyX3V1aWQiOiIzNDhhMzczNy0yM2FlLTQ5OWEtYWE1Yi03NzcxNGUyYTFhMGYifQ.shD1-HqhsYVrda4l-Y4cT7FpKLKMs3wvRgDQ1AksHqAZ1ANHhK3NwCqKNCmsZlqX5n8Of-L5X6diBrUpxOfs3w"
            }
          ]
        },
        "options": {}
      },
      "id": "53212ec9-d091-435e-966e-751eacc89652",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        140
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a9f1da71-5a9d-4938-9cbd-27bed296b4f6",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        620,
        140
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "c8e03381-f03d-4dbc-8fd2-5d3436a358b1",
      "name": "Call Agendada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "b8d5b7f2-09a8-4797-8c96-8fdd20373890",
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        -220
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "2c92eb49-990c-4fc7-b60a-5c285062c7d4",
      "name": "Monday.com2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        -220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "de22c915-b292-453a-b7e3-56683baec418",
      "name": "Monday.com7",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        -220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "67f4e6ae-f232-419e-9170-2dd7f24f21bc",
      "name": "Call Agendada2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "009a8b26-e708-41fb-b3d4-46c0b9cb8f93",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        20
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "5fddfdfe-5b27-49b4-8bfe-8a3a46bb948c",
      "name": "Monday.com9",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        20
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "49bcf8b0-9987-4d10-9816-28ae0d4486cf",
      "name": "Monday.com10",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        20
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "fa78bc34-aaeb-4565-be90-b80255d74ee3",
      "name": "Call Agendada3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        240
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "c71b7357-71f0-4f81-81ac-a112b7b813aa",
      "name": "Date & Time5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        240
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "33b171a7-e981-468f-a368-3511930d2426",
      "name": "Monday.com12",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "3e6589fa-f281-4bc2-9734-6ea618151cb0",
      "name": "Monday.com13",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "a932cc48-8fb5-4ebe-bced-5b2977a69557",
      "name": "formata data reunião1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "1a4603de-4604-4860-a210-657ae6e555bd",
      "name": "formata data reunião4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        -460
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "143b5e4b-dbef-415e-ae09-043302453456",
      "name": "formata data reunião5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        -220
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "ec9f2e40-ef59-4600-8c42-f09526fab023",
      "name": "formata data reunião",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        240
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "aa2b4353-8354-4d02-a343-65a6111db773",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        320
      ],
      "webhookId": "d4370845-20a3-4f88-bc84-c57439f1e990"
    },
    {
      "parameters": {
        "workflowId": "uGdmG7D5KUjXN2OK",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "6dc9f414-6010-499b-88af-e57ea33ea9c9",
      "name": "rodizio de sdr",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1140,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"bma.thaiscloser@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada1\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "4f488221-afe3-4573-978d-df1b344323b4",
      "name": "Monday.com3",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        -460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com2').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"tiagogregorio@mentoriahighticket.com.br\", \"data0\": \"{{ $node[\"Call Agendada\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "157296d1-2d93-4e5d-abde-ab57b291a948",
      "name": "Monday.com8",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        -220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com9').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time3\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"joseedison.bma@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada2\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "8e25f835-79d3-4f5e-bb1e-d6b44a3794ec",
      "name": "Monday.com11",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        20
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com12').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time5\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"deborahmarques.bma@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada3\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "9655ee11-c606-4609-87c4-4a13fbd433c0",
      "name": "Monday.com14",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Thaís\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19b86516-6199-4f9a-a656-3a3fef0e0f9f",
      "name": "Notifica grupo | Thaís",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        -460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57c95a7a-a4d9-404f-a605-f7fff364b9c2",
      "name": "Notifica grupo | Tiago Gregório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        -220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado do disparo via API*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: José\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com9').item.json.id }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "faf6ded2-fed2-4173-88af-42156bad0ad6",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Débora\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com12').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04468e6c-785f-4576-a20a-e22baa944c73",
      "name": "Notifica grupo | Deborah",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        240
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "b102bd14-7847-4861-8ca3-f765202d1337",
      "name": "Call Agendada4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "96f46324-74fb-469d-956a-378e8416ad1f",
      "name": "Date & Time6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        480
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "0a964648-ac7f-4fb5-ba98-590f560bafc6",
      "name": "Monday.com16",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "978e3865-b4c0-4bc2-9d54-d709fbdf889e",
      "name": "Monday.com17",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "a190703d-e839-4c3c-a00a-f103440f2799",
      "name": "formata data reunião2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        480
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com16').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time6\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"bma.ricardoleonardi@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada4\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "cde3c1fc-e0ab-4884-bc93-0c6f008fe807",
      "name": "Monday.com18",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Ricardo\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com16').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b0a378a-8016-4753-a195-dfc73b474eb1",
      "name": "Notifica grupo | Deborah1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        480
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "6a62fca2-753e-4809-83b2-96595b97e7d6",
      "name": "Call Agendada5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        720
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "3dd3d201-1c57-4171-9e34-e979bae72a7e",
      "name": "Date & Time7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        720
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "8b7efcbe-10ec-4630-8e1d-24113664687d",
      "name": "Monday.com19",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "1aa540cb-8c8f-442b-ae9c-dd8b3450bfbe",
      "name": "Monday.com20",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "29648c5b-f51b-45ae-a2ed-169127d44b07",
      "name": "formata data reunião3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        720
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com19').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time7\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"lucianagomes.bma@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada5\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "dcf8ec6d-3aef-4881-884e-0fbf3bdb5675",
      "name": "Monday.com21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        720
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Luciana\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com19').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01654fca-70cc-4764-af42-aaefd1eee12a",
      "name": "Notifica grupo | Deborah2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        720
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "79510c30-4538-449a-b2c1-a4bd43134d9b",
        "options": {}
      },
      "id": "e2ce2b64-e186-4630-8ef9-7fae89a9fe0a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        140
      ],
      "webhookId": "79510c30-4538-449a-b2c1-a4bd43134d9b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1a83651b-1df7-4574-b72c-c4bcda28d763",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Thais BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thais BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9a260e18-8a49-4b34-9fee-fa85052cfb73",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Edison Junior Simões",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "José Edison Junior Simões"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "44706b78-62a9-4173-9e21-5da488a66450",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Deborah Marques",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deborah Marques"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "36f16f08-3107-4336-9489-19b2a40bef53",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Ricardo Leonardi - BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ricardo Leonardi - BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Luciana Gomes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Luciana Gomes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fd731275-1ab5-4892-9073-e4599d8849e3",
                    "leftValue": "={{ $('Busca Invite').item.json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            }
          ]
        },
        "options": {}
      },
      "id": "964be225-50d3-42c4-9475-c84ea4740391",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "fbe3de7b-419f-457c-a96f-585f213bab1a",
      "name": "Call Agendada6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1920,
        960
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.form_response.submitted_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd ",
        "options": {
          "timezone": true
        }
      },
      "id": "5dc9ec97-54f8-4d79-bb5a-eafe66631ffd",
      "name": "Date & Time8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        960
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5689478999",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.form_response.answers[4].text }}",
        "additionalFields": {}
      },
      "id": "e0ec14ba-0990-4aeb-8561-d8c6d1c9594b",
      "name": "Monday.com22",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2360,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n----------\nQual dos cenários abaixo mais combina com o seu momento?\n\n{{ $('Trata Webhook').item.json.form_response.answers[1].choice.label }}\n\n\n----------\nCaso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n\n{{ $('Trata Webhook').item.json.form_response.answers[2].choice.label }}\n\n\n----------\nQual é o seu faturamento MENSAL médio?\n\n{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n\n----------\nCalendly:\n\n{{ $('Trata Webhook').item.json.form_response.answers[7].url }}"
      },
      "id": "9afa6327-e4de-45d6-85ca-ac1033c5512c",
      "name": "Monday.com23",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2580,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "4abec344-eede-4415-aa85-b5e34b6ad465",
      "name": "formata data reunião6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3000,
        960
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5689478999",
        "itemId": "={{ $('Monday.com22').item.json.id }}",
        "columnValues": "={\"n_meros\": \"{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"texto3__1\": \"wa.me/{{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\", \"data\":\"{{ $node[\"Date & Time8\"].json[\"formattedDate\"] }}\", \"texto71__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_source\"] }}\", \"texto34__1\":\"Formação\", \"texto4__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\", \"texto32__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_content\"] }}\", \"texto2__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_medium\"] }}\", \"texto1__1\":\"{{ $node[\"Trata Webhook\"].json[\"form_response\"][\"hidden\"][\"utm_term\"] }}\", \"pessoas__1\": \"joaobijari.bma@gmail.com\", \"data0\": \"{{ $node[\"Call Agendada6\"].json[\"callAgendada\"] }}\", \"texto9__1\":\"{{ $('Trata Webhook').item.json.form_response.answers[6].email }}\", \"person\":\"{{ $node[\"rodizio de sdr\"].json[\"email_sdr\"] }}\"}"
      },
      "id": "035d07d6-1ed2-4bd4-adf2-fc28ea27bc81",
      "name": "Monday.com24",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2800,
        960
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "ZHdCRr90m7Qp2m7i",
          "name": "Carol Caribé"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João\n\n*SDR Responsável*: {{ $node[\"rodizio de sdr\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: \n{{ $('Trata Webhook').item.json.form_response.answers[4].text }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.form_response.answers[6].email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.form_response.answers[5].phone_number }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.form_response.answers[3].choice.label }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.form_response.answers[0].choice.label }}\n\n*Informações completas no Monday*: https://carol-carib.monday.com/boards/5689478999/views/135923185/pulses/{{ $('Monday.com22').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a426bf24-e650-4a59-8cb3-ec311d2b7a64",
      "name": "Notifica grupo | Deborah3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        960
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "Typeform Webhooks",
            "content-length": "6957",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "traceparent": "00-e2e7ddc1483a27dd50b48745d9b96d3e-5a0fb32f37ad5bb2-01",
            "x-forwarded-for": "18.210.136.162",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "18.210.136.162"
          },
          "params": {},
          "query": {},
          "body": {
            "event_id": "01JRDCEHN8B28PN4GH0XMFANN5",
            "event_type": "form_response",
            "form_response": {
              "form_id": "Z5vr92UL",
              "token": "9y27u4b128f5id6f6o2gf9y27rnjzimi",
              "landed_at": "2025-04-09T13:36:57Z",
              "submitted_at": "2025-04-09T13:39:49Z",
              "hidden": {
                "utm_campaign": "xxxxx",
                "utm_content": "xxxxx",
                "utm_medium": "xxxxx",
                "utm_source": "xxxxx",
                "utm_term": "xxxxx"
              },
              "definition": {
                "id": "Z5vr92UL",
                "title": "Consultoria Grátis - CG com Calendly - API (copy)",
                "fields": [
                  {
                    "id": "NA2UgXjNKNKx",
                    "ref": "9cdf796b-be5f-4f01-8130-92c48de282fb",
                    "type": "multiple_choice",
                    "title": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "Xaq62Fq1fhEr",
                        "ref": "242cfed3-8810-4079-b45f-c0823a957a9d",
                        "label": "Corretor (a) de imóveis"
                      },
                      {
                        "id": "3Ytxw9ynxexA",
                        "ref": "12fd6e4a-605a-44d8-81ad-320935d520e1",
                        "label": "Engenheiro (a)"
                      },
                      {
                        "id": "eUR1E5Zxs06F",
                        "ref": "c97e39b0-d9fd-4f00-b2b2-c875cd0341a7",
                        "label": "Arquiteto (a)"
                      },
                      {
                        "id": "vTGm6KtGEYDE",
                        "ref": "89fb52cc-8b98-4e6b-ac8a-b47e83a1c0d4",
                        "label": "Empresário (a) ou empreendedor (a) no mercado imobiliário"
                      },
                      {
                        "id": "Ckt0HtMBDxt8",
                        "ref": "c599e3a5-1262-4a10-8294-802e6bda8b1f",
                        "label": "Incorporador (a)"
                      },
                      {
                        "id": "9RslLhWWmErC",
                        "ref": "5ef79fb2-acb7-4e66-933f-5c80b8694945",
                        "label": "Construtor"
                      },
                      {
                        "id": "N6TlPoFvOeGj",
                        "ref": "3e5f873e-9074-4827-b411-05881a8f180a",
                        "label": "Nenhuma das opções"
                      }
                    ]
                  },
                  {
                    "id": "3b7SFhopyQvc",
                    "ref": "5041df88-8396-4e10-b60c-509f7c65e4b7",
                    "type": "multiple_choice",
                    "title": "Qual dos cenários abaixo mais combina com o seu momento?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "rDdDxuPrhYzm",
                        "ref": "09e065ac-bcf6-4e23-91c2-3d9b6f89feca",
                        "label": "Estou construindo/incorporando no momento"
                      },
                      {
                        "id": "t2z0Z1gogCFm",
                        "ref": "bd96d18e-23d4-41e6-a6d1-c0cea1a76b01",
                        "label": "Já construí/incorporei, mas não estou construindo/incorporando no momento"
                      },
                      {
                        "id": "A8zT3ZGeXryo",
                        "ref": "f28401e4-6d52-490c-9055-fafca1e0190e",
                        "label": "Nunca construí/incorporei, nem estou construindo/incorporando"
                      },
                      {
                        "id": "QBDCIsILam8x",
                        "ref": "c9b1b506-9cb5-498e-b725-9c7ed27b637a",
                        "label": "Quero prestar serviço para incorporadoras ou desenvolvedores imobiliários"
                      }
                    ]
                  },
                  {
                    "id": "6vE5EFazKgzW",
                    "ref": "f7704bfa-2926-4d02-99f1-388558c343be",
                    "type": "multiple_choice",
                    "title": "Caso já atue no desenvolvimento imobiliário, qual tipo de produto você já desenvolveu?\n",
                    "properties": {},
                    "allow_other_choice": true,
                    "choices": [
                      {
                        "id": "3xP9XMGEdfbJ",
                        "ref": "7c519669-063d-4a75-8b0e-e2718071b4b9",
                        "label": "Incorporação"
                      },
                      {
                        "id": "N56rkzClY7tz",
                        "ref": "562fd4e4-bf61-4db9-a5bf-94a443ecd3d7",
                        "label": "Loteamentos"
                      },
                      {
                        "id": "UaZ4E3kRbcoF",
                        "ref": "59cd2860-3ceb-420a-8e21-b13d6407f471",
                        "label": "Condomínios"
                      },
                      {
                        "id": "4Lt5QQSTQoev",
                        "ref": "f2832a8f-b8e1-4403-ae72-9bcefd7f2f8f",
                        "label": "Venda de casa na planta"
                      },
                      {
                        "id": "9tTHZgIuV4AT",
                        "ref": "114a08e3-b725-49ac-bda4-cfe525344261",
                        "label": "Multipropriedade"
                      },
                      {
                        "id": "mTf6ihDpzzXF",
                        "ref": "250fec5c-36d4-4341-bb1d-02f374d87dce",
                        "label": "Segunda moradia voltada para renda"
                      },
                      {
                        "id": "pXtM4WWLEOEj",
                        "ref": "a78a5f44-2a00-4090-9206-64bef5fd4115",
                        "label": "Comercial (lojas, shoppings, escritórios, galpões, etc..)"
                      },
                      {
                        "id": "Q5xcV7b13HxN",
                        "ref": "0ae01c3a-7090-4c9b-a732-16787e022520",
                        "label": "Industrial (parques ou galpões)"
                      }
                    ]
                  },
                  {
                    "id": "8Uz5ga4IciOI",
                    "ref": "ffc8465b-16a2-47ce-ae31-7ee9325c3465",
                    "type": "multiple_choice",
                    "title": "Qual o seu faturamento MENSAL médio?",
                    "properties": {},
                    "choices": [
                      {
                        "id": "ZjcLHfCcpq3T",
                        "ref": "535bb8f0-ce4d-4041-9219-3ceecedb480d",
                        "label": "Até R$10.000,00"
                      },
                      {
                        "id": "UFleVWUpBXmK",
                        "ref": "fc0882aa-d36a-4574-83c0-ae2af424d759",
                        "label": "R$10.000,00 à R$25.000,00"
                      },
                      {
                        "id": "RKVuQfH6aT9w",
                        "ref": "b2aacc5e-5704-45f5-a3da-23bcac737b66",
                        "label": "R$25.000,00 à R$50.000,00"
                      },
                      {
                        "id": "utMkfjHlpgrV",
                        "ref": "d73e5bf5-0cc6-4767-920c-2829a95cfe59",
                        "label": "R$50.000,00 à R$100.000,00"
                      },
                      {
                        "id": "ud3SY3sMMktX",
                        "ref": "c5971b08-c6e5-4950-85b5-771f56dad3b8",
                        "label": "R$100.000,00 à R$250.000,00"
                      },
                      {
                        "id": "wqcwxF6zbC3c",
                        "ref": "00954068-3b70-4c33-8460-932f92cc7fbe",
                        "label": "R$250.000,00 à R$500.000,00"
                      },
                      {
                        "id": "VZFH9sqFXwBY",
                        "ref": "fff6df55-22f4-4621-9cd7-fdcdfada0fa3",
                        "label": "Acima de R$500.000,00"
                      }
                    ]
                  },
                  {
                    "id": "UVf0GjSyk73b",
                    "ref": "51c9cdf6-e46c-4a50-a65a-0f7ac13e6824",
                    "type": "short_text",
                    "title": "First name",
                    "properties": {}
                  },
                  {
                    "id": "pH7S9LFgIGEQ",
                    "ref": "397ff9f6-18eb-4fe1-abb3-35809afa13b1",
                    "type": "phone_number",
                    "title": "Phone number",
                    "properties": {}
                  },
                  {
                    "id": "azi5bcReNwoO",
                    "ref": "b39297ed-1a6d-4745-9340-1d6fa475c51f",
                    "type": "email",
                    "title": "Email",
                    "properties": {}
                  },
                  {
                    "id": "48hkHh206vvl",
                    "ref": "a77aa7a3-bc5a-449d-80f1-342fc9dec388",
                    "type": "calendly",
                    "title": "Agende um Horário abaixo:",
                    "properties": {}
                  }
                ],
                "endings": [
                  {
                    "id": "JItOYg8TXPRX",
                    "ref": "db81b50c-ee8d-4bee-a269-c8694fe161ef",
                    "title": "*Quase Lá:*\n\nSe você não confirmar AGORA, sua vaga será transferida para outro empresário que confirme. \n\nÉ uma consultoria com um consultor especialista da IP, onde entregamos muito valor. Portanto, não aceitamos reagendamento e se não confirmar, cedemos a vaga para o próximo.\n\nEm até 15 minutos, um consultor entrará em contato, caso você não confirme sua participação, sua vaga será transferida para o próximo interessado.",
                    "type": "thankyou_screen",
                    "properties": {
                      "show_button": false,
                      "share_icons": false,
                      "button_mode": "default_redirect"
                    }
                  }
                ],
                "settings": {
                  "partial_responses_to_all_integrations": false
                }
              },
              "answers": [
                {
                  "type": "choice",
                  "choice": {
                    "id": "Ckt0HtMBDxt8",
                    "label": "Incorporador (a)",
                    "ref": "c599e3a5-1262-4a10-8294-802e6bda8b1f"
                  },
                  "field": {
                    "id": "NA2UgXjNKNKx",
                    "type": "multiple_choice",
                    "ref": "9cdf796b-be5f-4f01-8130-92c48de282fb"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "t2z0Z1gogCFm",
                    "label": "Já construí/incorporei, mas não estou construindo/incorporando no momento",
                    "ref": "bd96d18e-23d4-41e6-a6d1-c0cea1a76b01"
                  },
                  "field": {
                    "id": "3b7SFhopyQvc",
                    "type": "multiple_choice",
                    "ref": "5041df88-8396-4e10-b60c-509f7c65e4b7"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "4Lt5QQSTQoev",
                    "label": "Venda de casa na planta",
                    "ref": "f2832a8f-b8e1-4403-ae72-9bcefd7f2f8f"
                  },
                  "field": {
                    "id": "6vE5EFazKgzW",
                    "type": "multiple_choice",
                    "ref": "f7704bfa-2926-4d02-99f1-388558c343be"
                  }
                },
                {
                  "type": "choice",
                  "choice": {
                    "id": "utMkfjHlpgrV",
                    "label": "R$50.000,00 à R$100.000,00",
                    "ref": "d73e5bf5-0cc6-4767-920c-2829a95cfe59"
                  },
                  "field": {
                    "id": "8Uz5ga4IciOI",
                    "type": "multiple_choice",
                    "ref": "ffc8465b-16a2-47ce-ae31-7ee9325c3465"
                  }
                },
                {
                  "type": "text",
                  "text": "Matheus",
                  "field": {
                    "id": "UVf0GjSyk73b",
                    "type": "short_text",
                    "ref": "51c9cdf6-e46c-4a50-a65a-0f7ac13e6824"
                  }
                },
                {
                  "type": "phone_number",
                  "phone_number": "+5581993515055",
                  "field": {
                    "id": "pH7S9LFgIGEQ",
                    "type": "phone_number",
                    "ref": "397ff9f6-18eb-4fe1-abb3-35809afa13b1"
                  }
                },
                {
                  "type": "email",
                  "email": "matheus@gmail.com",
                  "field": {
                    "id": "azi5bcReNwoO",
                    "type": "email",
                    "ref": "b39297ed-1a6d-4745-9340-1d6fa475c51f"
                  }
                },
                {
                  "type": "url",
                  "url": "https://calendly.com/d/cnbk-g83-6dg/cg-geral-carol-caribe-api/invitees/e6db7b4d-9bfc-4b0e-841b-ffe171c858b9",
                  "field": {
                    "id": "48hkHh206vvl",
                    "type": "calendly",
                    "ref": "a77aa7a3-bc5a-449d-80f1-342fc9dec388"
                  }
                }
              ],
              "ending": {
                "id": "JItOYg8TXPRX",
                "ref": "db81b50c-ee8d-4bee-a269-c8694fe161ef"
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/79510c30-4538-449a-b2c1-a4bd43134d9b",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-23T03:18:57.576Z",
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-09T14:01:19.016Z",
  "versionId": "3102238d-2142-4f3d-9506-e0fd5a725c85"
}