workflows/[CAROL] [WEBNARIO PERPETUO] Formulário.json
{
  "active": false,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "GreatPages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GreatPages": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Path": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona na Lista": {
      "main": [
        []
      ]
    },
    "ID Usuário": {
      "main": [
        [
          {
            "node": "Adiciona Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag": {
      "main": [
        [
          {
            "node": "Adiciona na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo": {
      "main": [
        [
          {
            "node": "att contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "busca contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Extrai Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria contato": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca contato": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "att contact": {
      "main": [
        [
          {
            "node": "add tag2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Planilha |Meteórico 1": {
      "main": [
        []
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Dados Planilha |Meteórico 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone1": {
      "main": [
        [
          {
            "node": "Cria contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sem nono digito": {
      "main": [
        [
          {
            "node": "busca contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "sem nono digito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca contato1": {
      "main": [
        [
          {
            "node": "add tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag1": {
      "main": [
        [
          {
            "node": "envia fluxo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag": {
      "main": [
        [
          {
            "node": "envia fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag2": {
      "main": [
        [
          {
            "node": "envia fluxo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T20:36:49.132Z",
  "id": "sPKBhW1cXVtS01dC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[CAROL] [WEBNARIO PERPETUO] Formulário",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "415cb484-b057-4469-8184-ba508e869b6b",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -340,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['DDD_WhatsApp'] = formataTelefone($node['Trata Webhook'].json['DDD_WhatsApp'])\n\nreturn $input.all();"
      },
      "id": "9211ee56-23d5-426d-86ec-aefd84114d17",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        60,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a68488c-f0b4-4406-baf9-b2c4bff1f2fb",
              "name": "nome",
              "value": "={{ $('Formata Telefone').item.json.Seu_nome }}",
              "type": "string"
            },
            {
              "id": "62ec3931-595f-43f5-9181-73c400ca8c9a",
              "name": "email",
              "value": "={{ $('Formata Telefone').item.json.Seu_e_mail }}",
              "type": "string"
            },
            {
              "id": "b7f3a6f5-6974-4aaf-9140-e16dffdddf74",
              "name": "whatsapp",
              "value": "={{ $('Formata Telefone').item.json.DDD_WhatsApp }}",
              "type": "string"
            },
            {
              "id": "bcda957c-484a-41a0-aeea-85ec12bc898e",
              "name": "pagina",
              "value": "={{ $json.pathname }}",
              "type": "string"
            },
            {
              "id": "2a6c5226-c045-4095-b133-00f54d82e245",
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}",
              "type": "string"
            },
            {
              "id": "ae81e3b4-9a73-4b1e-ad38-75bf2fb3682b",
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}",
              "type": "string"
            },
            {
              "id": "30476025-0543-469c-9d9d-a7fee91cde39",
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}",
              "type": "string"
            },
            {
              "id": "6b50b30c-15db-4d2b-a3cc-119a4e209925",
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}",
              "type": "string"
            },
            {
              "id": "0fa84181-01f4-4f7c-85f2-90aafb4906ca",
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}",
              "type": "string"
            },
            {
              "id": "1cad61e4-9a1a-4934-adc4-c7578f4baffa",
              "name": "Data_da_conversao",
              "value": "={{ $('GreatPages').item.json.Data_da_conversao.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "521979f7-1046-4208-ae94-32c2973fc06b",
              "name": "ip_usuário",
              "value": "={{ $('Trata Webhook').item.json.IP_do_usuario }}",
              "type": "string"
            },
            {
              "id": "02913e47-45c4-4eb6-aaf9-b4b3e3f2eef2",
              "name": "fbclid",
              "value": "={{ $('Formata Telefone').item.json.fbclid }}",
              "type": "string"
            },
            {
              "id": "d7235bfe-e9e2-4086-9fde-56fdeb2732f4",
              "name": "gclid",
              "value": "={{ $('Formata Telefone').item.json.gclid }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "65824c7d-d1fe-439b-b78a-938442f3e1e5",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        460
      ]
    },
    {
      "parameters": {},
      "id": "932f8ef5-feb3-44ca-a8cc-a91cdceaf26b",
      "name": "GreatPages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -140,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPathFromURL(url) {\n    try {\n        // Usa regex para extrair o caminho da URL\n        const match = url.match(/^https?:\\/\\/[^/]+(\\/[^?#]*)/);\n        if (match) {\n            return match[1]; // Retorna o path\n        } else {\n            return \"Invalid URL\";\n        }\n    } catch (error) {\n        console.error(\"Erro ao processar a URL:\", error.message);\n        return \"Invalid URL\";\n    }\n}\n\n// Exemplo de uso\nconst url = $input.all()[0].json['URL']\nconst pathname = (getPathFromURL(url)); // Retorna \"/ip-ano-novo-v3\"\n\nreturn {pathname}"
      },
      "id": "c5664549-228c-42c8-b7e6-61c744505087",
      "name": "Extrai Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        460
      ]
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.nome }}"
        }
      },
      "id": "b5e92883-6d5b-486c-b515-eabaf2f09441",
      "name": "ID Usuário",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1100,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 224,
        "contactId": "={{ $('ID Usuário').item.json.id }}"
      },
      "id": "305dc057-2b25-4b9f-add4-fde3b72abb92",
      "name": "Adiciona na Lista",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1520,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('ID Usuário').item.json.id }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "={{ 161 }}",
                "value": "={{ $('Campos').item.json.utm_content }}"
              },
              {
                "field": "={{ 162 }}",
                "value": "={{ $('Campos').item.json.utm_source }}"
              },
              {
                "field": "={{ 163 }}",
                "value": "={{ $('Campos').item.json.utm_medium }}"
              },
              {
                "field": "={{ 159 }}",
                "value": "={{ $('Campos').item.json.utm_campaign }}"
              },
              {
                "field": "={{ 160 }}",
                "value": "={{ $('Campos').item.json.utm_term }}"
              },
              {
                "field": "={{ 164 }}",
                "value": "={{ $node[\"Campos\"].json[\"pagina\"] }}"
              }
            ]
          }
        }
      },
      "id": "fd5612a1-638d-4602-aae9-bb95d665290a",
      "name": "Mapeamento de Campos",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1720,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "=1506",
        "contactId": "={{ $json.id }}"
      },
      "id": "31267cbb-daf3-4d19-908c-2f35632df7a7",
      "name": "Adiciona Tag",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1320,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "e60b1384-f178-4b9b-8c36-d277351157ab",
      "name": "novo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{\"+\"+ $json.numerosFormatados.comNonoDigito }}\",\n  \"whatsapp_phone\": \"{{\"+\"+ $json.numerosFormatados.comNonoDigito }}\",\n  \"has_opt_in_sms\": false,\n  \"has_opt_in_email\": false,\n  \"consent_phrase\": \"string\"\n} ",
        "options": {}
      },
      "id": "a0634cdc-7e08-4e50-b95d-0c7109eaf613",
      "name": "Cria contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -80
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"Cria contato\"].json[\"data\"][\"id\"] }}"
            },
            {
              "name": "field_id",
              "value": "12359951"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Formata Telefone1\"].json[\"numerosFormatados\"][\"comNonoDigito\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec6b6b42-a8f1-4788-ac34-e72ce899d334",
      "name": "att contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        0
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        -380
      ],
      "id": "1e490092-49de-43ae-a19f-a90faaafa45a",
      "name": "existe"
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=12359951&field_value={{ $('Formata Telefone1').item.json.numerosFormatados.comNonoDigito }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "73b11cb3-1968-450f-b68e-9b9e93c5ea52",
      "name": "busca contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -380
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b47ac03-1259-4e8c-9e8e-22786f6bf427",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "This WhatsApp ID already exists",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e2bea91-d9ea-4bc7-90a2-b5f9de2fb924",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        760,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1xfqyQOrK-DOw1iReK_SpGfRBBPj0JUuisEuksiu5wAQ/edit?gid=621729137#gid=621729137",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2131917887,
          "mode": "list",
          "cachedResultName": "aula exclusiva maio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfqyQOrK-DOw1iReK_SpGfRBBPj0JUuisEuksiu5wAQ/edit#gid=2131917887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.Data_da_conversao }}",
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "telefone": "={{ $json.whatsapp }}",
            "página": "={{ $json.pagina }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_content": "={{ $json.utm_content }}",
            "utm_term": "={{ $json.utm_term }}",
            "ip_usuário": "={{ $json[\"ip_usuário\"] }}",
            "fbclid": "={{ $json.fbclid }}",
            "gclid": "={{ $json.gclid }}",
            "chave": "={{ $json.whatsapp.slice(-7) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip_usuário",
              "displayName": "ip_usuário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grupo",
              "displayName": "grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fbclid",
              "displayName": "fbclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gclid",
              "displayName": "gclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "335e79d9-28d7-4a8f-a9f2-63fbb601e701",
      "name": "Dados Planilha |Meteórico 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        900,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e15a0446-2e98-4d35-b6df-ea4846ddcb14",
        "options": {}
      },
      "id": "efcfe3e9-4f00-4068-8e1e-f1e218484f92",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -580,
        460
      ],
      "webhookId": "e15a0446-2e98-4d35-b6df-ea4846ddcb14"
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\");\n    let ddi = \"55\";\n    let ddd, telefone;\n\n    if (number.length === 13) {\n        ddi = number.substring(0, 2);\n        ddd = number.substring(2, 4);\n        telefone = number.substring(4);\n    } else if (number.length === 12) {\n        if (number.startsWith(\"55\")) {\n            ddd = number.substring(2, 4);\n            telefone = number.substring(4);\n        } else if (number.startsWith(\"0\")) {\n            return formataTelefone(number.substring(1));\n        } else {\n            return { comNonoDigito: number, semNonoDigito: number };\n        }\n    } else if (number.length === 11) {\n        ddd = number.substring(0, 2);\n        telefone = number.substring(2);\n    } else if (number.length === 10) {\n        ddd = number.substring(0, 2);\n        telefone = \"9\" + number.substring(2);\n    } else {\n        return { comNonoDigito: number, semNonoDigito: number };\n    }\n\n    let telefoneComNono = telefone.length === 8 ? \"9\" + telefone : telefone;\n    let telefoneSemNono = telefoneComNono.startsWith(\"9\") ? telefoneComNono.substring(1) : telefoneComNono;\n\n    return {\n        comNonoDigito: ddi + ddd + telefoneComNono,\n        semNonoDigito: ddi + ddd + telefoneSemNono\n    };\n}\n\nlet numerosFormatados = formataTelefone($node['Trata Webhook'].json['DDD_WhatsApp']);\n\n$input.all()[0].json[\"numerosFormatados\"] = numerosFormatados\nreturn $input.all();\n"
      },
      "id": "a22bdfc0-6dbb-4027-a5e4-19a79ab7525d",
      "name": "Formata Telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        280,
        -80
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1780,
        -580
      ],
      "id": "747b8b95-ab08-4e7a-8c0c-5f1148a4778d",
      "name": "sem nono digito"
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=12359951&field_value={{$node[\"Formata Telefone1\"].json[\"numerosFormatados\"][\"semNonoDigito\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8baa5907-fa65-4636-8ad4-eb280ab81de2",
      "name": "busca contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -580
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49a86e22-a9c4-4d6a-b179-2a4335dbb72e",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65979c86-536f-4b14-b661-61bafe510e0f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1540,
        -400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "790031fe-5973-404e-85ac-a13ea5337043",
      "name": "add tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        -380
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "e6ee9857-d001-4498-82d1-d458be8a1102",
      "name": "add tag1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        -600
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "765ed749-7e54-453e-b868-86e0f68691c2",
      "name": "add tag2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -20
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"busca contato1\"].json[\"data\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250409204931_955537"
            }
          ]
        },
        "options": {}
      },
      "id": "2aeb0d7e-2d74-4cd6-b8ff-d2ca2f5e1046",
      "name": "envia fluxo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -620
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"busca contato\"].json[\"data\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250409204931_955537"
            }
          ]
        },
        "options": {}
      },
      "id": "c5cd646a-fd0d-49f8-8598-9f22a210c7d6",
      "name": "envia fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -400
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 992532:cc8fa1dc88700e115938c625cc148dc6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"Cria contato\"].json[\"data\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250409204931_955537"
            }
          ]
        },
        "options": {}
      },
      "id": "977eb60b-f4af-437d-a096-7acb443c603f",
      "name": "envia fluxo3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -40
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "content-length": "679",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "93c336a72315eaa0-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTc0NjY0NzA4Mn0.KrRnFObVS0GL7-YeplXErAGtn85q1aDZe7vpoGYENt0",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.170.117",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b00e11001b6",
            "x-real-ip": "172.71.170.117"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu_nome": "Matheus",
            "DDD_WhatsApp": "81993515055",
            "Seu_e_mail": "matheus@GMAIL.COM",
            "utm_source": "cg",
            "utm_medium": "ads",
            "utm_campaign": "meteorico",
            "utm_term": "yayforms",
            "utm_content": "ad",
            "fbclid": "",
            "gclid": "",
            "Referral_Source": "Acesso direto",
            "Dispositivo": "Desktop",
            "URL": "https://www.incorporacaonapratica.com/reuniao-maio-v2?utm_source=cg&utm_medium=ads&utm_campaign=meteorico&utm_id=teste&utm_term=yayforms&utm_content=ad",
            "IP_do_usuario": "2804:29b8:50ad:5268:48d8:b153:d542:6c8e",
            "Data_da_conversao": "2025-05-07 19:44:35",
            "Id_do_formulario": "2481288_1_1746568469681a85150a4ac810139599",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Pernambuco",
            "Cidade_do_usuario": "Caruaru",
            "Id_da_pagina": "2481288"
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/6cbeacff-dff1-4b42-bf7a-68529d85f6ac",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-05-19T20:36:49.132Z",
      "createdAt": "2025-05-19T20:36:49.132Z",
      "role": "workflow:owner",
      "workflowId": "sPKBhW1cXVtS01dC",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-05-23T03:18:57.576Z",
      "createdAt": "2024-05-23T03:18:57.576Z",
      "id": "ZAUbeJXqG1plGMYs",
      "name": "carol"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-19T20:36:49.132Z",
  "versionId": "734e7367-f828-4e09-832e-480f4b4d37d1"
}