workflows/[JP] CG V3 SS com Calendly Yay Forms.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Monday.com9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com9": {
      "main": [
        [
          {
            "node": "Monday.com10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com10": {
      "main": [
        [
          {
            "node": "Monday.com11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com11": {
      "main": [
        [
          {
            "node": "formata data reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Agendada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada": {
      "main": [
        [
          {
            "node": "Date & Time5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time5": {
      "main": [
        [
          {
            "node": "Monday.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com": {
      "main": [
        [
          {
            "node": "Monday.com12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com12": {
      "main": [
        [
          {
            "node": "Monday.com13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com13": {
      "main": [
        [
          {
            "node": "formata data reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?1": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião": {
      "main": [
        [
          {
            "node": "Notifica grupo | José1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José3": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL ": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 5": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 6": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?2": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada1": {
      "main": [
        [
          {
            "node": "Date & Time6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time6": {
      "main": [
        [
          {
            "node": "Monday.com1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com1": {
      "main": [
        [
          {
            "node": "Monday.com14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com14": {
      "main": [
        [
          {
            "node": "Monday.com15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com15": {
      "main": [
        [
          {
            "node": "formata data reunião2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José5": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 8": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 9": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 10": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 11": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada3": {
      "main": [
        [
          {
            "node": "Date & Time7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time7": {
      "main": [
        [
          {
            "node": "Monday.com2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com2": {
      "main": [
        [
          {
            "node": "Monday.com16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com16": {
      "main": [
        [
          {
            "node": "Monday.com17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião3": {
      "main": [
        [
          {
            "node": "Notifica grupo | José6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com17": {
      "main": [
        [
          {
            "node": "formata data reunião3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José6": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 12": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 13": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 14": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 15": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada4": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "Monday.com3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com3": {
      "main": [
        [
          {
            "node": "Monday.com18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com18": {
      "main": [
        [
          {
            "node": "Monday.com19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião4": {
      "main": [
        [
          {
            "node": "Notifica grupo | José7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com19": {
      "main": [
        [
          {
            "node": "formata data reunião4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 16": {
      "main": [
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 17": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 18": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 19": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time9": {
      "main": [
        [
          {
            "node": "Monday.com4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com4": {
      "main": [
        [
          {
            "node": "Monday.com20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com20": {
      "main": [
        [
          {
            "node": "Monday.com21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião5": {
      "main": [
        [
          {
            "node": "Notifica grupo | José8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com21": {
      "main": [
        [
          {
            "node": "formata data reunião5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 20": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 21": {
      "main": [
        [
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 22": {
      "main": [
        [
          {
            "node": "Wait17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait17": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 23": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T17:56:01.918Z",
  "id": "gySNendCoPHGLcUN",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] CG V3 SS com Calendly Yay Forms",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "c3d461cf-e1dd-4e17-b6ce-fa0011095896",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -460,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "57c5d976-5303-40d9-bcdf-ca672542249f",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        40,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "46743869-ece5-4fc2-8420-de0a85fcfa6d",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "60afa3a1-cad4-4b83-91f0-280419b2a902",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        260,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "9e3434b8-5f75-404f-b4db-7b4d5d163f20",
      "name": "Call Agendada2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        -440
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "9b2748fb-bc7e-4aaf-9840-97c3a133d943",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        -440
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "1d84cca7-96cb-415c-8f5c-3025be0656ba",
      "name": "Monday.com9",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "14908aea-3df2-4256-bac3-0fe9b579a21d",
      "name": "Monday.com10",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2600,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "642087fc-bdef-4a7d-87c3-c0426b0d2c3f",
      "name": "formata data reunião1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        -440
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com9').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time3').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada2').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time3').item.json.formattedDate }}\", \"person\":\"tiagogregorio@mentoriahighticket.com.br\" }"
      },
      "id": "dd557356-e7ed-4659-bddb-a5691f9bf5fb",
      "name": "Monday.com11",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2820,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com9').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f95766ab-8ce2-461e-841d-4129255be017",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Pedro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ab1e8543-34d3-4886-9b14-0e322b169c3f",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c5175e7a-fc10-42a9-a658-be7b072cd5e4",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Sdr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sdr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d2d2b77e-20cd-40d8-84d7-26ac7e2782c3",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "sdr high ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sdr high ticket"
            }
          ]
        },
        "options": {}
      },
      "id": "efffdb41-e8c4-4d36-8439-3f90e772b2e6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "e362ee5e-5496-4526-86f9-45d4e2b83b9d",
      "name": "Call Agendada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "5bfcb0e6-e1c3-4073-9c02-1c0e99484253",
      "name": "Date & Time5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "be6600da-f845-4793-95af-938bcbf5e092",
      "name": "Monday.com",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "99b2baa9-d6b5-49f8-9c05-fa5f73f4dfd2",
      "name": "Monday.com12",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2600,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "828d47e8-c524-4389-bc07-29ff26fbfcd3",
      "name": "formata data reunião",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time5').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time5').item.json.formattedDate }}\", \"person\":\"bma.guilhermebijari@gmail.com\" }"
      },
      "id": "a0f9cf27-b73c-4618-bf5f-446a326e7098",
      "name": "Monday.com13",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2820,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c2a6c9a-4c8b-495f-9308-3e3ee7aacaa9",
      "name": "Notifica grupo | José1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf72d'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "df6dbc90-6fa6-4d1f-a600-604152798a69",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf72e'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f4ee81d-618f-4394-bae5-a6d07d8ebc1a",
      "name": "agendou?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e635a43c-5cc0-4613-ac38-5281e496d24o",
        "options": {}
      },
      "id": "9170ab4a-9aa1-49c4-a80a-b437a0a829fd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        20
      ],
      "webhookId": "e635a43c-5cc0-4613-ac38-5281e496d24e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5534984133437"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $node[\"formata data reunião1\"].json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com9').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9dedfc4c-fab3-4d13-a2dd-2e96248d7a9a",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545991193001‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $node[\"formata data reunião\"].json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "506aef10-2904-48ab-9abe-9d7089d42029",
      "name": "Notifica grupo | José4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "f617e610-67da-487e-a92e-03be82a2c1ea",
      "name": "MSG PRE-CALL 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -440
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        -440
      ],
      "id": "b1690dda-6dbf-453c-b196-bd09330a1f5a",
      "name": "Wait",
      "webhookId": "82a761c3-6130-41bd-b147-8f23619e6e12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "d7286208-66cb-4eec-8b0a-2cf670f68321",
      "name": "MSG PRE-CALL 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -440
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        -440
      ],
      "id": "1c0d19bb-664e-437d-9515-e9b4f5653089",
      "name": "Wait1",
      "webhookId": "1f6fbef3-4913-4af6-a0b5-992d50b960aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848 \n"
            }
          ]
        },
        "options": {}
      },
      "id": "9ae6cd79-b27c-4fd3-b6fe-c2ba84a92cc5",
      "name": "MSG PRE-CALL 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        -440
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        -440
      ],
      "id": "ab1defd2-aac8-4013-b558-f8f0a4d79bbb",
      "name": "Wait2",
      "webhookId": "54ae3c7b-56e9-466a-b52e-29762384333a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "8bcda57f-9394-49cd-b53e-126a92a5287b",
      "name": "MSG PRE-CALL 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "03334b69-91fc-4b5c-b20f-74731db3c024",
      "name": "MSG PRE-CALL PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "8d357c4f-d492-4079-8743-c56efe17eaf6",
      "name": "MSG PRE-CALL ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -200
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        -200
      ],
      "id": "bdaa9d55-a0cd-4994-881e-e5a34ee3b19d",
      "name": "Wait3",
      "webhookId": "41083ba3-b3ad-4462-a40a-299fbfa16566"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "d7c18d7c-caed-49d0-87ed-a5d528b20b90",
      "name": "MSG PRE-CALL 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        -200
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        -200
      ],
      "id": "245179f3-0ecd-4b08-9aa9-7ce3c9ebe7f8",
      "name": "Wait4",
      "webhookId": "a3e5dae0-0a34-4bd7-9f86-cba8042ad685"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "b25212df-b8ec-4b68-a893-dbbc35619b8f",
      "name": "MSG PRE-CALL 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        -200
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        -200
      ],
      "id": "65ab44c9-daae-48c4-ad0e-47c03ff1ff03",
      "name": "Wait5",
      "webhookId": "3521ad1c-42ca-449f-9f7a-2bd3893c67cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "e4034919-16da-4a30-83b3-910a08f7dee2",
      "name": "MSG PRE-CALL 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "c37227c3-1c87-4eb4-8fe5-0e731e8766d2",
      "name": "MSG PRE-CALL PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf72f'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1d217e4-1578-4164-9579-3c3070846c7c",
      "name": "agendou?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "29cd0416-a5e6-4097-aa1e-d1b3e886f125",
      "name": "Call Agendada1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        40
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "4ac41d49-ef66-4839-a5ad-9efacd978156",
      "name": "Date & Time6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        40
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "3a7ac81c-11d0-4133-87c6-49150cd58c7d",
      "name": "Monday.com1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        40
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "29609308-a4b5-4604-8542-58504e467795",
      "name": "Monday.com14",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2600,
        40
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "eedfd094-05a6-442e-ac94-e000cd928f15",
      "name": "formata data reunião2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        40
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com1').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time6').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada1').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time6').item.json.formattedDate }}\", \"person\":\"joaobijari.bma@gmail.com\" }"
      },
      "id": "f37aee2c-1451-4571-a633-144b2d402317",
      "name": "Monday.com15",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2820,
        40
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40d3fd80-42d0-49e5-bf16-94639691ccde",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545998211421‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $node[\"formata data reunião2\"].json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e376b91-db95-4330-9f3d-ec5601043600",
      "name": "Notifica grupo | José5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "5275fd77-ac9f-4dcb-b327-4cbfd75e3495",
      "name": "MSG PRE-CALL 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        40
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        40
      ],
      "id": "8b8aa9fa-27ed-4aa5-ae40-c63ac6704992",
      "name": "Wait6",
      "webhookId": "41083ba3-b3ad-4462-a40a-299fbfa16566"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "a244400b-0441-4ac5-8449-83726ff53755",
      "name": "MSG PRE-CALL 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        40
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        40
      ],
      "id": "e5e2f110-86be-4cbf-9208-ce8b133e8503",
      "name": "Wait7",
      "webhookId": "a3e5dae0-0a34-4bd7-9f86-cba8042ad685"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "34b3b777-5c14-43cd-b04c-5635c269b084",
      "name": "MSG PRE-CALL 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        40
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        40
      ],
      "id": "42a56a1c-5a8d-49e7-9fd9-5dfbf2844bb2",
      "name": "Wait8",
      "webhookId": "3521ad1c-42ca-449f-9f7a-2bd3893c67cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "61fe866d-8457-4c46-bcd8-1055fc4d532f",
      "name": "MSG PRE-CALL 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "f1c197bd-c542-4a41-9365-e69078f4292d",
      "name": "MSG PRE-CALL PDF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        40
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "7953b4e2-8d3d-4909-a3c8-58d03cb41ce8",
      "name": "Call Agendada3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        260
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "14bcb838-abab-41eb-98ef-7c2dee733acd",
      "name": "Date & Time7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        260
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "e3e5d989-993e-416c-9c1e-55bf3db2b84a",
      "name": "Monday.com2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "52cf1259-81aa-4a92-9a24-b60771ec01bf",
      "name": "Monday.com16",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2600,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "6fa1a48a-847a-4d3f-8bb0-acc34cdc1bb1",
      "name": "formata data reunião3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        260
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com2').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time7').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada3').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time7').item.json.formattedDate }}\", \"person\":\"gislenealexandre.bma@gmail.com\" }"
      },
      "id": "c6ae243e-4be4-4198-8a78-dcf6f8c09f7d",
      "name": "Monday.com17",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2820,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cc7b798-9fb2-40d6-874a-75c57be0e61b",
      "name": "Notifica grupo | José6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "0f4a703b-b6a9-416f-9d86-e9f320b37f9c",
      "name": "MSG PRE-CALL 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        260
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        260
      ],
      "id": "7dd83e18-e253-4eb5-962c-f1b57d3e80be",
      "name": "Wait9",
      "webhookId": "41083ba3-b3ad-4462-a40a-299fbfa16566"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "b89b4c8f-01ca-47e8-abe1-b8c0f550aa24",
      "name": "MSG PRE-CALL 13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        260
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        260
      ],
      "id": "f074448e-071b-4d34-b5b4-417c4d3d54a2",
      "name": "Wait10",
      "webhookId": "a3e5dae0-0a34-4bd7-9f86-cba8042ad685"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "62cbc74f-dbf9-4cc8-9b51-aa341c88b542",
      "name": "MSG PRE-CALL 14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        260
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        260
      ],
      "id": "70c3abba-1dc4-4fab-90ac-a1f17d8cd151",
      "name": "Wait11",
      "webhookId": "3521ad1c-42ca-449f-9f7a-2bd3893c67cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "d7d9a377-8a06-4e65-ac3c-81db3df020cf",
      "name": "MSG PRE-CALL 15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "19c99686-2fb9-4726-8132-9ae47086283a",
      "name": "MSG PRE-CALL PDF3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        260
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "4a3abb96-448d-4aaf-b25b-03e4d734611c",
      "name": "Call Agendada4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        480
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "7c2ebfb4-e41b-40df-b9a6-383c5136d6d6",
      "name": "Date & Time8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        480
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "983906a1-1278-47e9-9d9c-18ee3dc0bb14",
      "name": "Monday.com3",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2380,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "ca208f8f-3537-472b-900f-eb7b83885b05",
      "name": "Monday.com18",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2600,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "709f492d-03cf-4dbe-96cd-b4e535ce6f65",
      "name": "formata data reunião4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        480
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com3').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time8').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada4').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time8').item.json.formattedDate }}\", \"person\":\"gislenealexandre.bma@gmail.com\" }"
      },
      "id": "1612ee08-87b0-4e55-b2a1-27827caa44de",
      "name": "Monday.com19",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2820,
        480
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com3').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cb4ad99d-8ac1-4a04-aa7a-34c361893966",
      "name": "Notifica grupo | José7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "5162e13a-c0a7-46d1-8e49-2e9101fed52d",
      "name": "MSG PRE-CALL 16",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        480
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        480
      ],
      "id": "8d464115-2aed-42b9-a631-4c90264f43bd",
      "name": "Wait12",
      "webhookId": "41083ba3-b3ad-4462-a40a-299fbfa16566"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "35a1205e-ca08-4c3e-aae7-035325627e4e",
      "name": "MSG PRE-CALL 17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        480
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        480
      ],
      "id": "b4440840-4dc7-43fa-a251-105414b685c1",
      "name": "Wait13",
      "webhookId": "a3e5dae0-0a34-4bd7-9f86-cba8042ad685"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "2a936428-6946-4252-9321-bbdad57b98f2",
      "name": "MSG PRE-CALL 18",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        480
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        480
      ],
      "id": "4d0806b6-ad92-434c-8a2b-b59a7d29f2e4",
      "name": "Wait14",
      "webhookId": "3521ad1c-42ca-449f-9f7a-2bd3893c67cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "a87e24fc-be05-4607-a5b7-a1149393b9d3",
      "name": "MSG PRE-CALL 19",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5120,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "74b5e910-eb36-4532-862f-1ed17980185e",
      "name": "MSG PRE-CALL PDF4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5340,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "78aff739-5436-49fe-af9e-20fcf1ce6f4c",
              "leftValue": "={{ $json.response.timeToComplete }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        40
      ],
      "id": "10701e57-14f8-4b57-aa6e-ce21f7ee7660",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "d0f21a84-e876-4f1e-aeb5-5cabe34cd185",
      "name": "Date & Time9",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        320,
        1140
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}",
        "additionalFields": {}
      },
      "id": "f5738faf-2f82-47ee-ad94-7d27a907541c",
      "name": "Monday.com4",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        540,
        1140
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe6dc69d10fe10cf724\"].content }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf727\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf726\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf728\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf729\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72a\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72b\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf72c\"].content }}\n\n----------\nCalendly\n\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72d'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72e'].content }}\n{{ $('Webhook').item.json.body.response.answers['67f0afe7dc69d10fe10cf72f'].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "eba73860-96c2-4214-9750-42b24fd510c9",
      "name": "Monday.com20",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        760,
        1140
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "5a1a8044-77bb-4da5-9e0c-df6837a036c7",
      "name": "formata data reunião5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1180,
        1140
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com4').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\",\"person\":\"gislenealexandre.bma@gmail.com\" }"
      },
      "id": "a4453dec-efef-4230-8858-f736e1ff1018",
      "name": "Monday.com21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        980,
        1140
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0afe6dc69d10fe10cf724'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf727'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf725'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf729'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0afe7dc69d10fe10cf728'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly SS (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com4').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "37dea20c-c655-4c28-84c7-ef417e92f5d2",
      "name": "Notifica grupo | José8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "904a7944-4a26-4b73-8054-d731ec8a9f2d",
      "name": "MSG PRE-CALL 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1140
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        1140
      ],
      "id": "b439e8e8-7421-445a-a032-7515783697a0",
      "name": "Wait15",
      "webhookId": "41083ba3-b3ad-4462-a40a-299fbfa16566"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "2805b287-24b5-4872-8ab2-2d35bb270217",
      "name": "MSG PRE-CALL 21",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        1140
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2600,
        1140
      ],
      "id": "a2367a65-ba08-4ecc-8637-540f484873c7",
      "name": "Wait16",
      "webhookId": "a3e5dae0-0a34-4bd7-9f86-cba8042ad685"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "777f2167-9786-4de3-963f-d60523fb09a5",
      "name": "MSG PRE-CALL 22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        1140
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3060,
        1140
      ],
      "id": "e4d1bccb-f8b5-45c8-a9b1-0ecb3b0b89d0",
      "name": "Wait17",
      "webhookId": "3521ad1c-42ca-449f-9f7a-2bd3893c67cb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "66bbc421-6a37-40a8-881e-313cc555b923",
      "name": "MSG PRE-CALL 23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0afe7dc69d10fe10cf725\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "abd15859-88f8-46c1-b226-f8be581d9beb",
      "name": "MSG PRE-CALL PDF5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        1140
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "4374",
            "content-type": "application/json",
            "x-forwarded-for": "67.205.189.168",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "67.205.189.168",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "680a823dbbd9c73751328a0e",
              "formId": "67f0afe6dc69d10fe10cf722",
              "ipAddress": "2804:29b8:50ad:5268:78ed:d974:11d3:314f",
              "operatingSystem": "OS X",
              "operatingSystemVersion": "10_15_7",
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
              "browser": "Chrome",
              "browserVersion": "135.0.0.0",
              "referrerUrl": null,
              "deviceType": "desktop",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "Pernambuco",
                "city": "Caruaru",
                "zipcode": "55000",
                "latitude": -8.1792,
                "longitude": -36.0279,
                "timezone": "America/Recife"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": {
                "utm_source": "MUDE_ESTE_VALOR",
                "utm_medium": "MUDE_ESTE_VALOR",
                "utm_campaign": "MUDE_ESTE_VALOR",
                "utm_content": "MUDE_ESTE_VALOR",
                "utm_term": "MUDE_ESTE_VALOR",
                "_fbp": "fb.1.1742270412627.451017520152784457",
                "_gcl_au": "1.1.599869318.1744865246",
                "_ga": "GA1.2.1550280858.1744865246",
                "_tt_enable_cookie": "1",
                "_ttp": "01JS115FG8EW6DGV8X57CE88JF_.tt.1",
                "ttcsid": "1744865246730.1.1744865246730",
                "_hjSessionUser_2246065": "eyJpZCI6ImM4YzEzZDA4LTNjZDMtNTU5Yy04ZDgyLTEzNmViYjVhMjc5YSIsImNyZWF0ZWQiOjE3NDQ4NjUyNDY3OTUsImV4aXN0aW5nIjpmYWxzZX0=",
                "_clck": "cymcv9|2|fv5|0|1933",
                "ttcsid_C5URFDOVMNUPJ15SHS00": "1744865246729.1.1744865247435",
                "_ga_QMHGX1WZCF": "GS1.1.1744865245.1.1.1744866841.60.0.1678656892"
              },
              "timeToComplete": 40.474,
              "startedAt": "2025-04-24T18:26:07.699000Z",
              "submittedAt": "2025-04-24T18:26:48.173000Z",
              "createdAt": "2025-04-24T18:26:05.330000Z",
              "updatedAt": "2025-04-24T18:26:50.156000Z",
              "answers": {
                "67f0afe6dc69d10fe10cf724": {
                  "answerId": "680a823dbcb2d1fbcfe02871",
                  "fieldTitle": "Qual seu nome completo?",
                  "fieldDescription": null,
                  "content": "mathes"
                },
                "67f0afe7dc69d10fe10cf725": {
                  "answerId": "680a823fbcb2d1fbcfe02a53",
                  "fieldTitle": "Número de WhatsApp com DDD",
                  "fieldDescription": null,
                  "content": "+5581993515055"
                },
                "67f0afe7dc69d10fe10cf726": {
                  "answerId": "680a8246bcb2d1fbcfe02f70",
                  "fieldTitle": "Seu @ no Instagram",
                  "fieldDescription": null,
                  "content": "TESTE"
                },
                "67f0afe7dc69d10fe10cf727": {
                  "answerId": "680a8248bcb2d1fbcfe03132",
                  "fieldTitle": "Qual o seu e-mail principal?",
                  "fieldDescription": null,
                  "content": "jp@mentoriahighticket.com.br"
                },
                "67f0afe7dc69d10fe10cf728": {
                  "answerId": "680a824dbcb2d1fbcfe03446",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Agência digital ou Coprodutor"
                  ]
                },
                "67f0afe7dc69d10fe10cf729": {
                  "answerId": "680a824ebcb2d1fbcfe035d7",
                  "fieldTitle": "Qual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);",
                  "fieldDescription": null,
                  "content": [
                    "R$ 20.000,00 a R$ 50.000,00"
                  ]
                },
                "67f0afe7dc69d10fe10cf731": {
                  "answerId": "680a824fbcb2d1fbcfe036a0",
                  "fieldTitle": "Quanto de RECEITA (entrada de caixa) você tem por mês?",
                  "fieldDescription": "<p>PS: fique tranquilo, não vamos divulgar este dado ou te expor. É para calcularmos seu % de competência X caixa.</p>",
                  "content": [
                    "R$ 20.000,00 a R$ 50.000,00"
                  ]
                },
                "67f0afe7dc69d10fe10cf72a": {
                  "answerId": "680a8251bcb2d1fbcfe03734",
                  "fieldTitle": "Em qual cenário você se encaixa",
                  "fieldDescription": null,
                  "content": [
                    "Sou coprodutor e quero aumentar as vendas de infoproduto do (s) meu (s) expert (s)"
                  ]
                },
                "67f0afe7dc69d10fe10cf72b": {
                  "answerId": "680a8252bcb2d1fbcfe037d2",
                  "fieldTitle": "Descreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.",
                  "fieldDescription": null,
                  "content": "Descreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo."
                },
                "67f0afe7dc69d10fe10cf72c": {
                  "answerId": "680a8255bcb2d1fbcfe0396d",
                  "fieldTitle": "Você foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?",
                  "fieldDescription": null,
                  "content": [
                    "Claro, quero aproveitar!"
                  ]
                },
                "67f0afe7dc69d10fe10cf72e": {
                  "answerId": "680a8257bcb2d1fbcfe03b49",
                  "fieldTitle": "Agende um horário abaixo",
                  "fieldDescription": null,
                  "content": "https://calendly.com/scheduled_events/a838a709-57b9-4482-9390-66b3f386d53f/invitees/cd5a0853-adff-48d3-ae42-20d6713ebc99"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/e635a43c-5cc0-4613-ac38-5281e496d24o",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-09T21:20:41.272Z",
  "versionId": "048c6de9-4712-4f6c-b0a4-5a74dc2351f9"
}