workflows/[JP] [PERPÉTUO IMERSÃO 2025] Formulário.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "GreatPages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GreatPages": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Path": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Extrai Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        []
      ]
    },
    "Dados Planilha |Meteórico 1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T03:41:28.253Z",
  "id": "iCfcl8u9ZEWU48sw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] [PERPÉTUO IMERSÃO 2025] Formulário",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "35f6c8f5-88a0-4a71-975f-48089947884f",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['Telefone_do_Whatsapp_com_DDD'] = formataTelefone($node['Trata Webhook'].json['Telefone_do_Whatsapp_com_DDD'])\n\nreturn $input.all();"
      },
      "id": "8a0b3365-dc84-434c-a8f0-c2e02ac9adce",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        300,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a68488c-f0b4-4406-baf9-b2c4bff1f2fb",
              "name": "nome",
              "value": "={{ $('Formata Telefone').item.json.Seu_nome }}",
              "type": "string"
            },
            {
              "id": "62ec3931-595f-43f5-9181-73c400ca8c9a",
              "name": "email",
              "value": "={{ $('Formata Telefone').item.json.Seu_melhor_e_mail }}",
              "type": "string"
            },
            {
              "id": "b7f3a6f5-6974-4aaf-9140-e16dffdddf74",
              "name": "whatsapp",
              "value": "={{ $('Formata Telefone').item.json.Telefone_do_Whatsapp_com_DDD }}",
              "type": "string"
            },
            {
              "id": "bcda957c-484a-41a0-aeea-85ec12bc898e",
              "name": "pagina",
              "value": "={{ $json.pathname }}",
              "type": "string"
            },
            {
              "id": "2a6c5226-c045-4095-b133-00f54d82e245",
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}",
              "type": "string"
            },
            {
              "id": "ae81e3b4-9a73-4b1e-ad38-75bf2fb3682b",
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}",
              "type": "string"
            },
            {
              "id": "30476025-0543-469c-9d9d-a7fee91cde39",
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}",
              "type": "string"
            },
            {
              "id": "6b50b30c-15db-4d2b-a3cc-119a4e209925",
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}",
              "type": "string"
            },
            {
              "id": "0fa84181-01f4-4f7c-85f2-90aafb4906ca",
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}",
              "type": "string"
            },
            {
              "id": "1cad61e4-9a1a-4934-adc4-c7578f4baffa",
              "name": "Data_da_conversao",
              "value": "={{ $('GreatPages').item.json.Data_da_conversao.toDateTime().format('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "521979f7-1046-4208-ae94-32c2973fc06b",
              "name": "ip_usuário",
              "value": "={{ $('Trata Webhook').item.json.IP_do_usuario }}",
              "type": "string"
            },
            {
              "id": "02913e47-45c4-4eb6-aaf9-b4b3e3f2eef2",
              "name": "fbclid",
              "value": "={{ $('Formata Telefone').item.json.fbclid }}",
              "type": "string"
            },
            {
              "id": "d7235bfe-e9e2-4086-9fde-56fdeb2732f4",
              "name": "gclid",
              "value": "={{ $('Formata Telefone').item.json.gclid }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0dce9ec6-c54d-4130-aae2-5b775b88f8b1",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        240
      ]
    },
    {
      "parameters": {},
      "id": "7d1f010e-7bca-4dfe-8cae-d04d1fd8bae9",
      "name": "GreatPages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        100,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPathFromURL(url) {\n    try {\n        // Usa regex para extrair o caminho da URL\n        const match = url.match(/^https?:\\/\\/[^/]+(\\/[^?#]*)/);\n        if (match) {\n            return match[1]; // Retorna o path\n        } else {\n            return \"Invalid URL\";\n        }\n    } catch (error) {\n        console.error(\"Erro ao processar a URL:\", error.message);\n        return \"Invalid URL\";\n    }\n}\n\n// Exemplo de uso\nconst url = $input.all()[0].json['URL']\nconst pathname = (getPathFromURL(url)); // Retorna \"/ip-ano-novo-v3\"\n\nreturn {pathname}"
      },
      "id": "b9a686c2-1d0b-4b47-97de-472668e4fbc4",
      "name": "Extrai Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nNv-ax09ll2PYa-LgzGQMVDBsW6GZFEtRZqEDryhHIs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1261237942,
          "mode": "list",
          "cachedResultName": "meteorico imht",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNv-ax09ll2PYa-LgzGQMVDBsW6GZFEtRZqEDryhHIs/edit#gid=1261237942"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "email": "={{ $json.email }}",
            "pagina": "={{ $json.pagina }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_content": "={{ $json.utm_content }}",
            "utm_term": "={{ $json.utm_term }}",
            "chave": "={{ $json.whatsapp.slice(-7) }}",
            "data": "={{ $json.Data_da_conversao }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grupo",
              "displayName": "grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0eff3b73-8a33-446b-acb9-0e3f13e06818",
      "name": "Dados Planilha |Meteórico 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        900,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "25fa2891-4874-4ac4-b116-7a1ff5219c29",
        "options": {}
      },
      "id": "e8ee63a3-ce0e-4eae-994e-8cf90a6d007c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        240
      ],
      "webhookId": "25fa2891-4874-4ac4-b116-7a1ff5219c29"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "content-length": "983",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "96367b338727e9ad-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTc1MzIyNDQ2MX0.M5dhD_9FwoBvfphaUzvfJu_9qnVp1mmQlk7S5OFKG4w",
            "great-product": "product",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.167.144",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "bec1c24ede7b",
            "x-real-ip": "172.71.167.144"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu_nome": "bhhghg ghghg",
            "Seu_melhor_e_mail": "djjsjsjsjjs@gmail.com",
            "Telefone_do_Whatsapp_com_DDD": "(51) 91234-5678",
            "utm_source": "MetaAds",
            "utm_medium": "Instagram_Feed",
            "utm_campaign": "CADASTRO_LEADS_WEBNAR_FRIO_AUTO-INTERESSES-29-07-PG2",
            "utm_term": "00-MENTORES",
            "utm_content": "AD01-AULA",
            "Referral_Source": "Acesso direto",
            "Dispositivo": "Mobile",
            "URL": "https://www.josepbijari.com/webnario-p2?utm_source=MetaAds&utm_campaign=CADASTRO_LEADS_WEBNAR_FRIO_AUTO-INTERESSES-29-07-PG2&utm_medium=Instagram_Feed&utm_term=00-MENTORES&utm_content=AD01-AULA&utm_id=120226417748760094&fbclid=PAZXh0bgNhZW0BMABhZGlkAashYQ0ess4Bp_jewwL1KNzEoZcGHtbOzGEroQZSsBirAmsBucbEpqFYAD3eS_UxrsARNyjc_aem_Nyk8XWmIc42ESwT_bklwxg",
            "IP_do_usuario": "2804:14c:7933:80a2:b4af:83cf:29af:603",
            "Data_da_conversao": "2025-07-22 22:47:32",
            "Id_do_formulario": "3021032_1_17502785576853219dedf4c818033269",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Rio Grande do Sul",
            "Cidade_do_usuario": "Canoas",
            "Id_da_pagina": "3021032"
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/21914b19-283f-4f3d-8475-0b0325a62ef7",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-26T03:44:01.769Z",
  "versionId": "5d5cac06-f5a8-4acd-8f6e-860dce528827"
}