workflows/[JP] CG V3 com Calendly Yay Forms.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "Monday.com9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com9": {
      "main": [
        [
          {
            "node": "Monday.com10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com10": {
      "main": [
        [
          {
            "node": "Monday.com11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com11": {
      "main": [
        [
          {
            "node": "formata data reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Agendada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada": {
      "main": [
        [
          {
            "node": "Date & Time5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time5": {
      "main": [
        [
          {
            "node": "Monday.com",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com": {
      "main": [
        [
          {
            "node": "Monday.com12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com12": {
      "main": [
        [
          {
            "node": "Monday.com13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com13": {
      "main": [
        [
          {
            "node": "formata data reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?1": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?2": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica gislaine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião": {
      "main": [
        [
          {
            "node": "Notifica grupo | José1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?3": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José3": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL ": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 5": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 6": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José4": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada1": {
      "main": [
        [
          {
            "node": "Date & Time6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time6": {
      "main": [
        [
          {
            "node": "Monday.com1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com1": {
      "main": [
        [
          {
            "node": "Monday.com14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com14": {
      "main": [
        [
          {
            "node": "Monday.com15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com15": {
      "main": [
        [
          {
            "node": "formata data reunião2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José5": {
      "main": [
        [
          {
            "node": "Notifica grupo | José6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José6": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 8": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 9": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 10": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 11": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada3": {
      "main": [
        [
          {
            "node": "Date & Time7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time7": {
      "main": [
        [
          {
            "node": "Monday.com2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com2": {
      "main": [
        [
          {
            "node": "Monday.com16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com16": {
      "main": [
        [
          {
            "node": "Monday.com17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião3": {
      "main": [
        [
          {
            "node": "Notifica grupo | José7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com17": {
      "main": [
        [
          {
            "node": "formata data reunião3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 12": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 13": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 14": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 15": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada4": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "Monday.com3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com3": {
      "main": [
        [
          {
            "node": "Monday.com18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com18": {
      "main": [
        [
          {
            "node": "Monday.com19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião4": {
      "main": [
        [
          {
            "node": "Notifica grupo | José8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com19": {
      "main": [
        [
          {
            "node": "formata data reunião4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 16": {
      "main": [
        [
          {
            "node": "Wait12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait12": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 17": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 18": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 19": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL PDF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rodizio SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time9": {
      "main": [
        [
          {
            "node": "Monday.com4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com4": {
      "main": [
        [
          {
            "node": "Monday.com20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com20": {
      "main": [
        [
          {
            "node": "Monday.com21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monday.com21": {
      "main": [
        [
          {
            "node": "Notifica grupo | José9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José9": {
      "main": [
        [
          {
            "node": "Define campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define campos": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rodizio SDR": {
      "main": [
        [
          {
            "node": "Date & Time9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-17T18:09:35.291Z",
  "id": "ILz2juy8hGE8OBoD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] CG V3 com Calendly Yay Forms",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "508875c1-1a11-45a5-ad39-db8381a5da8b",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -480,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "23bd065c-9d7d-4158-897e-31efa729d957",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        40,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "bae52251-fb2f-474e-bd19-42cd7432f0a5",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd8810bf-2815-4455-9e3e-f9bc5f425087",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        260,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "75ea71f6-92e2-4c12-abd4-e0c4c20fe42d",
      "name": "Call Agendada2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        -440
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "4e6f57d1-7d3b-41ba-82bd-5f59e64b881b",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2280,
        -440
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "a6aebbd4-0f6c-4664-b0d5-4194dcf42638",
      "name": "Monday.com9",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2500,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nConsiderando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes? \n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "049d4666-7ba5-4782-be37-de86d3815c37",
      "name": "Monday.com10",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2720,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "c2761d03-379d-4495-888c-f704f7f99c84",
      "name": "formata data reunião1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3140,
        -440
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com9').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time3').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada2').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time3').item.json.formattedDate }}\", \"person\":\"tiagogregorio@mentoriahighticket.com.br\" }"
      },
      "id": "dadcbc6f-96c2-4597-baba-dabb297ed695",
      "name": "Monday.com11",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2940,
        -440
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com9').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cb51c3a-3a2b-4b42-acaf-4d9d979233be",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Pedro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "32dd10d8-4eeb-40f8-a24e-f7f2d854f188",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "646c5b31-b128-45d4-b4de-2332987d96a5",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Sdr",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sdr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "baa80cd1-79ee-4392-a9b0-698e21805d38",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "sdr high ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sdr high ticket"
            }
          ]
        },
        "options": {}
      },
      "id": "70e849e6-80b0-4ad3-a13d-1a040c7189cb",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1600,
        60
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "85b12d39-cbb6-4478-ac6b-a5da2875e7b7",
      "name": "Call Agendada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "f5dd6ccd-9ad3-4f25-b16b-aa07317fc971",
      "name": "Date & Time5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2280,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "54c2aab0-357e-4a52-9615-cc076e2dd19d",
      "name": "Monday.com",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2500,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nQual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nQuanto de RECEITA (entrada de caixa) você tem por mês?\n\n{{ $('Trata Webhook').item.json.response.answers['67e42777aeb2a5aa080ed00b'].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "4ebdbbc1-351d-4d7f-be86-f48b1746facf",
      "name": "Monday.com12",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2720,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "47aeacf9-7fff-437a-8956-fff27d32283f",
      "name": "formata data reunião",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3140,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time5').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time5').item.json.formattedDate }}\", \"person\":\"bma.guilhermebijari@gmail.com\" }"
      },
      "id": "d2893daf-9980-4fca-9eb3-c714636400bb",
      "name": "Monday.com13",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2940,
        -200
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Bijari\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b76d632f-9a1e-4ac6-a628-242a1c60977c",
      "name": "Notifica grupo | José1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67d85ebf54c27f525602b0b2'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3fa1ced0-cbba-4080-8a07-d39192796f3e",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead não agendado*\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0fbb94bf-043c-451b-80aa-3e215ccad50b",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67d85e9487d155859c0dd13e'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "efff2a3e-6e79-4a49-99c9-761e5a93a311",
      "name": "agendou?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67d85db5958b4bee2f0906b4'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b7afe20-09b2-4e2d-99dc-0e2081b1d0aa",
      "name": "agendou?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        820,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5535998248312"
            },
            {
              "name": "message",
              "value": "=*Novo lead não agendado*\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "db2e7865-7d14-4ea2-8c5c-d4d3675e6df1",
      "name": "Notifica gislaine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        540
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vg-v3-calendly-yayforms",
        "options": {}
      },
      "id": "efa5c3c7-ce93-4a21-a468-c5c0b0737351",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        20
      ],
      "webhookId": "f5df5a46-45fa-4b4b-968b-6ea08b6ecfb1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5534984133437"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com9').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b95e74fb-a6ba-4d42-8a34-1933dabb0123",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545991193001‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Bijari\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ffe5dbb-b235-43bc-b800-1335440a5cd7",
      "name": "Notifica grupo | José4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0afe7dc69d10fe10cf72f\"][\"content\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2dd57dff-1b3e-47dc-8725-5ab087266066",
      "name": "agendou?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1000,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "06a48242-6b6c-4bcf-9993-98a0f306853d",
      "name": "MSG PRE-CALL 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        -440
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        -440
      ],
      "id": "e9fe0185-4c86-4a0d-8899-36f183560eb2",
      "name": "Wait",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "95865a2d-d9c5-43a9-9132-9183b73a076a",
      "name": "MSG PRE-CALL 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        -440
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        -440
      ],
      "id": "47e76b1d-4c1b-472f-8cbb-19395f370cdd",
      "name": "Wait1",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "511ef638-d485-4a55-82b9-47a41cb3362a",
      "name": "MSG PRE-CALL 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        -440
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5020,
        -440
      ],
      "id": "413cb337-d74a-4014-8f65-60c93e95a525",
      "name": "Wait2",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "be48f251-5366-4b5c-9222-24fb5f8592d4",
      "name": "MSG PRE-CALL 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "381dd07a-d10a-4af5-aa6f-ca879dcffb3a",
      "name": "MSG PRE-CALL PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        -440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "22e16e96-9ad6-4a46-b2d7-18a8805b9751",
      "name": "MSG PRE-CALL ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        -200
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        -200
      ],
      "id": "fa4a5595-0e61-4bfd-8649-17f86518262f",
      "name": "Wait3",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "a95884f0-66ab-4397-a7dd-1b38099a4826",
      "name": "MSG PRE-CALL 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        -200
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        -200
      ],
      "id": "fc1721be-2736-4583-a206-1aee83a1b3f5",
      "name": "Wait4",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "e1675510-137e-4505-9620-e4642eacf630",
      "name": "MSG PRE-CALL 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        -200
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5020,
        -200
      ],
      "id": "b5b5d0d7-c62d-444f-ae99-32649d24e2a2",
      "name": "Wait5",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "c09241f8-863a-4809-ad16-96ed06e0187c",
      "name": "MSG PRE-CALL 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "f41141d6-7d8d-4f25-8008-9ee04044763b",
      "name": "MSG PRE-CALL PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "1234267e-4199-4532-b677-f4077b33683b",
      "name": "Call Agendada1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "8a0f4899-bb97-45ed-9bce-8f65d7ce966a",
      "name": "Date & Time6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2280,
        80
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "1424f47f-fb5b-4f3f-a044-0fb4da150653",
      "name": "Monday.com1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2500,
        80
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nQual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nQuanto de RECEITA (entrada de caixa) você tem por mês?\n\n{{ $('Trata Webhook').item.json.response.answers['67e42777aeb2a5aa080ed00b'].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "5ddabb17-7a39-4f8a-8a15-62cd78930291",
      "name": "Monday.com14",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2720,
        80
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "f25f6085-f119-4197-831c-bc9139a39f74",
      "name": "formata data reunião2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3140,
        80
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com1').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time6').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada1').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time6').item.json.formattedDate }}\", \"person\":\"joaobijari.bma@gmail.com\" }"
      },
      "id": "ceec479c-07db-477f-acdf-2bdb18826d95",
      "name": "Monday.com15",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2940,
        80
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "17e72c85-1540-4230-9f5f-cfabd9d2de4d",
      "name": "Notifica grupo | José5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545998211421‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4b1ee036-e187-4601-b20b-0306906f5727",
      "name": "Notifica grupo | José6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "8b2027b8-5520-48ba-b879-aa385d0b8aff",
      "name": "MSG PRE-CALL 8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        80
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        80
      ],
      "id": "0fad738b-5d1b-49e9-826a-1f01f0c88e2a",
      "name": "Wait6",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "16f0bcbf-8610-4f00-9b9f-09ed5b472502",
      "name": "MSG PRE-CALL 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        80
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        80
      ],
      "id": "7fb86008-c4f7-45fb-902d-af2ae84a35a1",
      "name": "Wait7",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "7baf560a-80b2-46aa-b8a2-37fecd348a02",
      "name": "MSG PRE-CALL 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        80
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5020,
        80
      ],
      "id": "fd84230e-5fd0-47fe-a39a-844b01579729",
      "name": "Wait8",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "7f31c74d-a1c5-4c23-b14d-ce5f2dec723f",
      "name": "MSG PRE-CALL 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "d33e77c0-1e23-40c0-9db0-2b16f7b481d1",
      "name": "MSG PRE-CALL PDF2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "cc4d2407-f188-4080-b53e-211c83ed0a17",
      "name": "Call Agendada3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "ef4f67ce-8fb4-4de5-a811-4620229f9c7a",
      "name": "Date & Time7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "bbb52f49-5692-4bde-b4e4-9a5bf1205add",
      "name": "Monday.com2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2500,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nQual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nQuanto de RECEITA (entrada de caixa) você tem por mês?\n\n{{ $('Trata Webhook').item.json.response.answers['67e42777aeb2a5aa080ed00b'].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "94451de5-4a65-42b9-acb1-cff2654a4c09",
      "name": "Monday.com16",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2720,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "faf9038b-d8c3-43b2-a3f3-ec3366880af2",
      "name": "formata data reunião3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3140,
        300
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com2').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time7').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada3').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time7').item.json.formattedDate }}\", \"person\":\"gislenealexandre.bma@gmail.com\" }"
      },
      "id": "405b93d5-2764-4cbf-b8d8-e27db41a3f58",
      "name": "Monday.com17",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2940,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com2').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15ac3bb6-42f6-4d00-90f1-54780a70df3e",
      "name": "Notifica grupo | José7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "779c7345-7de2-4a5f-98a5-8fc5897966cb",
      "name": "MSG PRE-CALL 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        300
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        300
      ],
      "id": "98f8634f-650f-4631-b67d-d44d1abff75e",
      "name": "Wait9",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "43347bd8-93fa-4273-b08c-d7b3ba6dc9a7",
      "name": "MSG PRE-CALL 13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        300
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        300
      ],
      "id": "086cef74-d0a6-4cda-8e46-e9ee162543d9",
      "name": "Wait10",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "a623a7fc-6360-4c63-a787-1af4d4b064b0",
      "name": "MSG PRE-CALL 14",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        300
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5020,
        300
      ],
      "id": "af22e3e8-89fa-4b33-bf4e-44a881f2de2e",
      "name": "Wait11",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "b5ab80c0-4cb4-4b9d-8ebd-d805a0bbcac8",
      "name": "MSG PRE-CALL 15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "2af33129-2ef5-435a-af97-30822aadabd1",
      "name": "MSG PRE-CALL PDF3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "c11d9db1-f6f3-4d83-846e-c49fdb2f27dc",
      "name": "Call Agendada4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2060,
        500
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "7bde4069-0f74-4341-9421-5ac9a82beace",
      "name": "Date & Time8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2280,
        500
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "297408f1-a210-4ecd-8e1b-c951dd6ce1f1",
      "name": "Monday.com3",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2500,
        500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nQual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nQuanto de RECEITA (entrada de caixa) você tem por mês?\n\n{{ $('Trata Webhook').item.json.response.answers['67e42777aeb2a5aa080ed00b'].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "763446b5-c7c7-4ea6-bc84-775b964a1ffd",
      "name": "Monday.com18",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2720,
        500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "5a62b3db-ffb0-4410-aacb-cf199dae32a2",
      "name": "formata data reunião4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3140,
        500
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com3').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Date & Time8').item.json.formattedDate }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"data2\":\"{{ $('Call Agendada4').item.json.callAgendada }}\", \"data\":\"{{ $('Date & Time8').item.json.formattedDate }}\", \"person\":\"gislenealexandre.bma@gmail.com\" }"
      },
      "id": "e953bd18-45ac-491b-8828-db7f832cabce",
      "name": "Monday.com19",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2940,
        500
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com3').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8979039b-dff0-40a0-b81d-ae8257b21bfe",
      "name": "Notifica grupo | José8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E aí, tudo bem? JP Bijari aqui. Você foi agendado com um consultor do meu time, mas presta atenção: isso não garante sua vaga."
            }
          ]
        },
        "options": {}
      },
      "id": "22a2b5d7-9352-45d4-b548-cb38984e1895",
      "name": "MSG PRE-CALL 16",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        500
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4100,
        500
      ],
      "id": "2dcdd23e-e9d0-4b33-8ba9-a22a03ebfab2",
      "name": "Wait12",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Como de fato é uma consultoria de mais de 1:30h e não calls rápidas com foco em te vender como o mercado faz, temos muitos interessados e se a pessoa não confirmar, tiramos da agenda para ceder a vaga e quem não compareceu, não pode remarcar.\n \nEntão em breve o consultor que conduzirá sua reunião vai te mandar uma mensagem, responde ele para confirmar!"
            }
          ]
        },
        "options": {}
      },
      "id": "c22edbce-9073-40f5-942b-c0e5fcf93922",
      "name": "MSG PRE-CALL 17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        500
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4560,
        500
      ],
      "id": "0926a7f0-c402-4e4c-87df-45de9a122721",
      "name": "Wait13",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=Enquanto isso, vou te dar um presente: uma palestra secreta sobre como vender mais e mais caro e gerar leads mais qualificados e mais baratos.\n\nSugiro que assista antes da consultoria, pois o link vai expirar em 36h.\n\nhttps://vimeo.com/1074435848/c9a0a6c4f0"
            }
          ]
        },
        "options": {}
      },
      "id": "d7b5b15a-167a-4ec5-bdf6-49abe07ce940",
      "name": "MSG PRE-CALL 18",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        500
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5020,
        500
      ],
      "id": "fc887c8d-2735-4530-97ac-0870f5d7393a",
      "name": "Wait14",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "message",
              "value": "=E por última, algumas informações sobre nós e alguns cases de sucesso que pode se espelhar. "
            }
          ]
        },
        "options": {}
      },
      "id": "26529602-d881-4822-a835-01a5c174b44d",
      "name": "MSG PRE-CALL 19",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5240,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-document/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}"
            },
            {
              "name": "document",
              "value": "https://raw.githubusercontent.com/bmaworkflows/arquivos/main/Pré-call BMA Abril 2025_compressed.pdf"
            },
            {
              "name": "fileName",
              "value": "Apresentacao-pre-call"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b4b83b-b9fc-4fb1-972f-82c660ba789b",
      "name": "MSG PRE-CALL PDF4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "78aff739-5436-49fe-af9e-20fcf1ce6f4c",
              "leftValue": "={{ $json.response.timeToComplete }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        20
      ],
      "id": "a5573e05-c26d-4fa8-8b5e-05a4e0b7e50a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "8d10d312-c986-4fcd-94c9-ff851f087213",
      "name": "Date & Time9",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        380,
        1280
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}",
        "additionalFields": {}
      },
      "id": "e765f2c6-5fda-489a-822c-cdf5a11f729f",
      "name": "Monday.com4",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        600,
        1280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cc363179a9b4503cc88\"].content }}\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}\n\n\n----------\n@ do Instagram:\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d830b2c9cdeff4740f1540\"].content }}\n\n\n----------\nQual das opções abaixo mais condiz com seu negócio hoje? ?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}\n\n\n----------\nQual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}\n\n\n----------\nQuanto de RECEITA (entrada de caixa) você tem por mês?\n\n{{ $('Trata Webhook').item.json.response.answers['67e42777aeb2a5aa080ed00b'].content[0] }}\n\n\n----------\nEm qual cenário você se encaixa\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d63e08401ba690720f3\"].content }}\n\n\n----------\nDescreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85d9354c27f525602b09e\"].content }}\n\n\n----------\nVocê foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85da054c27f525602b0a0\"].content }}\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.response.answers[\"67d85e9487d155859c0dd13e\"].content || $('Trata Webhook').item.json.response.answers[\"67d85db5958b4bee2f0906b4\"].content || $('Trata Webhook').item.json.response.answers[\"67d85ebf54c27f525602b0b2\"].content }}\n\nOrigens:\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
      },
      "id": "5ffcf5a4-a42d-46fe-861a-5a26636e66ff",
      "name": "Monday.com20",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        820,
        1280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Monday.com4').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{new DateTime($now).format(\"yyyy-MM-dd HH:mm:ss\")}}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content.replace(\"+\",\"\") }}\", \"texto3\":\"{{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\", \"texto7\":\"{{ $('Trata Webhook').item.json.response.tracking.utm_source }}\", \"person\":\"{{ $node[\"Rodizio SDR\"].json[\"email_sdr\"] }}\" }"
      },
      "id": "cac30b1d-2372-493d-a594-396d0a66a809",
      "name": "Monday.com21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1040,
        1280
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead Parcial funil JP🚨\n*\n\n*SDR Responsável:* {{ $node[\"Rodizio SDR\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67d83087c9cdeff4740f1532\"][\"content\"] }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67d85cc363179a9b4503cc88'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67d830983b0494524b022b59'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67d85d1154c27f525602b09a'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67d85cd963179a9b4503cc8a'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/pulses/{{ $('Monday.com4').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5294ea1-1df1-4b5c-87df-2f5fdb08d847",
      "name": "Notifica grupo | José9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        1280
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aKp0wGMzVQuwavOE",
          "mode": "list",
          "cachedResultName": "[JP] Envia recuperaçao parciais"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1700,
        1280
      ],
      "id": "80d63c50-b9fe-4f02-8636-ccbdfea07dfd",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3126ae3e-5941-4bfc-b546-6e6f399440a4",
              "name": "Nome",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d83087c9cdeff4740f1532\"].content }}",
              "type": "string"
            },
            {
              "id": "f697b6ea-9170-4e43-8c06-e50171899818",
              "name": "WhatsApp",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d830983b0494524b022b59\"].content }}",
              "type": "string"
            },
            {
              "id": "c5c4eae2-ccb9-40ef-821a-8754e5ecfc42",
              "name": "Faturamento",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85d1154c27f525602b09a\"].content[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        1280
      ],
      "id": "afec3441-d489-44ed-983c-4692d9d41e2d",
      "name": "Define campos"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LWmIGCByIZ3GpWo0",
          "mode": "list",
          "cachedResultName": "Rodízio de SDR BMA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        120,
        1280
      ],
      "id": "29d16a0f-5a7d-404a-9cbf-5cef901096db",
      "name": "Rodizio SDR"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "2872",
            "content-type": "application/json",
            "x-forwarded-for": "142.93.53.80",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b00e11001b6",
            "x-real-ip": "142.93.53.80",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "682484b9f9b67e9a0992174b",
              "formId": "67d8306a4642fbbe660b7f54",
              "ipAddress": "177.12.48.26",
              "operatingSystem": "OS X",
              "operatingSystemVersion": "10_15_7",
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36",
              "browser": "Chrome",
              "browserVersion": "135.0.0.0",
              "referrerUrl": null,
              "deviceType": "desktop",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "Rio de Janeiro",
                "city": "Niterói",
                "zipcode": "24020",
                "latitude": -22.8896,
                "longitude": -43.1054,
                "timezone": "America/Sao_Paulo"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": [],
              "timeToComplete": null,
              "startedAt": "2025-05-14T11:55:40.759000Z",
              "createdAt": "2025-05-14T11:55:37.683000Z",
              "updatedAt": "2025-05-14T11:56:01.304000Z",
              "answers": {
                "67d83087c9cdeff4740f1532": {
                  "answerId": "682484babcb2d1fbcffb2bb9",
                  "fieldTitle": "Qual seu nome completo?",
                  "fieldDescription": null,
                  "content": "teste victor"
                },
                "67d830983b0494524b022b59": {
                  "answerId": "682484bcbcb2d1fbcffb2c4a",
                  "fieldTitle": "Número de WhatsApp com DDD",
                  "fieldDescription": null,
                  "content": "+5522981840417"
                },
                "67d830b2c9cdeff4740f1540": {
                  "answerId": "682484c3bcb2d1fbcffb3062",
                  "fieldTitle": "Seu @ no Instagram",
                  "fieldDescription": null,
                  "content": "teste victor"
                },
                "67d85cc363179a9b4503cc88": {
                  "answerId": "682484c6bcb2d1fbcffb31e9",
                  "fieldTitle": "Qual o seu e-mail principal?",
                  "fieldDescription": null,
                  "content": "teste@teste.ig"
                },
                "67d85cd963179a9b4503cc8a": {
                  "answerId": "682484cabcb2d1fbcffb3564",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Gestor de tráfego ou outro prestador de serviço no digital"
                  ]
                },
                "67d85d1154c27f525602b09a": {
                  "answerId": "682484ccbcb2d1fbcffb36d4",
                  "fieldTitle": "Qual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);",
                  "fieldDescription": null,
                  "content": [
                    "R$ 250.000,00 a R$ 500.000,00"
                  ]
                },
                "67e42777aeb2a5aa080ed00b": {
                  "answerId": "682484cdbcb2d1fbcffb37b5",
                  "fieldTitle": "Quanto de RECEITA (entrada de caixa) você tem por mês?",
                  "fieldDescription": "<p>PS: fique tranquilo, não vamos divulgar este dado ou te expor. É para calcularmos seu % de competência X caixa.</p>",
                  "content": [
                    "R$ 250.000,00 a R$ 500.000,00"
                  ]
                },
                "67d85d63e08401ba690720f3": {
                  "answerId": "682484cfbcb2d1fbcffb3861",
                  "fieldTitle": "Em qual cenário você se encaixa",
                  "fieldDescription": null,
                  "content": [
                    "Sou coprodutor e quero aumentar as vendas de infoproduto do (s) meu (s) expert (s)"
                  ]
                },
                "67d85d9354c27f525602b09e": {
                  "answerId": "682484d1bcb2d1fbcffb39c6",
                  "fieldTitle": "Descreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.",
                  "fieldDescription": null,
                  "content": null
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/vg-v3-calendly-yayforms",
          "executionMode": "production"
        }
      }
    ],
    "Monday.com4": [
      {
        "json": {
          "id": "9125496173"
        }
      }
    ],
    "Monday.com20": [
      {
        "json": {
          "id": "4110937144"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-20T03:40:51.377Z",
  "versionId": "5f54e18b-b2ad-4fdd-b86c-d5d99c502d2b"
}