workflows/[JP] Agendamento Calendly.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-23T02:57:37.418Z",
    "createdAt": "2026-07-23T02:57:37.418Z",
    "versionId": "393b5a6f-9e1f-4dd1-8e15-5d9c7a71718a",
    "workflowId": "SlZo8jyHETfwI6gs",
    "nodes": [
      {
        "parameters": {
          "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
        },
        "id": "7ac21b45-68dd-42e5-ac7b-58a1aaa9ee98",
        "name": "Trata Webhook",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          336,
          848
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "0e94548e-da55-49c9-85b0-cb48997648dc",
          "options": {}
        },
        "id": "29a534f6-fc27-4c65-a082-a4e84995d7d4",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          112,
          848
        ],
        "webhookId": "0e94548e-da55-49c9-85b0-cb48997648dc"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "4b4359e0-d29f-4e27-9485-80524e4359bd",
                "leftValue": "={{ $json.event }}",
                "rightValue": "invitee.created",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "eac61d6e-12a7-4d0a-8a89-3199766ab279",
        "name": "Evento",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          544,
          848
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "Consultoria Grátis - Exclusivo Matheus",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "e7d76642-66a1-4c51-beea-4bf4a3e62557"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "MATHEUS 15K"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d55175e5-d13d-4ff0-92b0-a4918355634d",
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "Consultoria Grátis - Exclusivo Tiago",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TIAGO 15K"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "06de4561-11ca-4537-bc75-7c2994ef6ffe",
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "Consultoria Grátis - Exclusivo Karllos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "KARLLOS 15K"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "957ba99e-ae5f-4827-8cdc-293860c4c95c",
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "Consultoria Grátis - Exclusivo Guilherme",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "GUILHERME 15K"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a18798b1-8541-4815-b84a-fb1cd5cb5ef6",
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "Consultoria Grátis - API",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Consultoria Grátis - API"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "75c2a48b-8f6c-4a85-8503-017e742d85f3",
                      "leftValue": "={{ $json.payload.scheduled_event.name }}",
                      "rightValue": "CG - Consultoria Grátis - Agendamentos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ISCA"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          848,
          320
        ],
        "id": "f1b87d28-f395-425e-badf-69ccd2a12da2",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/39354e52-81a5-4047-b916-62cb33e9e1b2",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1184,
          304
        ],
        "id": "b87117b1-e08c-4812-a774-b091208ebdcf",
        "name": "Leva para a clint Matheus"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "77f11cde-7411-442b-b1db-ee6b48e4a1da",
        "name": "Notifica grupo | Matheus",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1408,
          304
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4YH49tLjYSDBDmg3",
            "mode": "list",
            "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
            "cachedResultName": "Enfileirador PRE-CALL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1408,
          128
        ],
        "id": "37e280e1-d1ac-488d-a8ea-34da9e8ad598",
        "name": "Call 'PRÉ-CALL CLOSERS'1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
                "name": "closer",
                "value": "Matheus Schefer",
                "type": "string"
              },
              {
                "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
                "name": "data",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
                "name": "nome",
                "value": "={{ $json.payload.name }}",
                "type": "string"
              },
              {
                "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
                "type": "string"
              },
              {
                "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
                "name": "data_fim",
                "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "add-start_time",
                "name": "start_time",
                "value": "={{ $json.payload.scheduled_event.start_time }}",
                "type": "string"
              },
              {
                "id": "add-event_uri",
                "name": "event_uri",
                "value": "={{ $json.payload.scheduled_event.uri }}",
                "type": "string"
              },
              {
                "id": "add-is_reschedule",
                "name": "is_reschedule",
                "value": "={{ $json.payload.old_invitee != null }}",
                "type": "boolean"
              },
              {
                "id": "email-3faeac66-e7c4-46ca-b4a1-ab55325a6000",
                "name": "email",
                "value": "={{ $json.payload.email }}",
                "type": "string"
              },
              {
                "id": "join-3faeac66-e7c4-46ca-b4a1-ab55325a6000",
                "name": "join_url",
                "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1184,
          128
        ],
        "id": "3faeac66-e7c4-46ca-b4a1-ab55325a6000",
        "name": "campos pre call1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=553192106666"
              },
              {
                "name": "message",
                "value": "=*Novo Agendamento - Evento disparado pelo Calendly*\n\n*Data da Reunião:* {{ $json.payload\n   .scheduled_event\n   .start_time\n   .toDateTime()                 \n   .setZone('America/Sao_Paulo') \n   .toFormat('dd/MM/yyyy HH:mm') \n}}\nAgenda: {{ $json.payload.scheduled_event.name }}\n\nNome: {{ $json.payload.name }}\nEmail: {{ $json.payload.email }}\nTelefone: {{ $item(\"0\").$node[\"Evento\"].json[\"body\"][\"payload\"][\"questions_and_answers\"][\"0\"][\"question\"] }}\n\nNome do Closer: {{ $json.payload.scheduled_event.event_memberships[0].user_name }}\n\nPS: Se o nome do closer vier com *sdr*, é agenda reserva."
              }
            ]
          },
          "options": {}
        },
        "id": "c411968e-b205-4d8f-83fe-0ea518fb2049",
        "name": "MSG Alisson",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          832
        ],
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Matheus Schefer BMA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "de6a8ad6-5f43-4068-925a-95c237c31ce7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Matheus Schefer BMA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b147503a-356f-4d39-9355-85cbae122f5b",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Tiago Gregório",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tiago Gregório"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f7775150-dc71-4413-b26d-39116c455b75",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Karllos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Karllos"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9a358e7e-6f78-4075-b66b-f3876bce9758",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Guilherme Luiz",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Guilherme Luiz"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1408,
          608
        ],
        "id": "422ef26c-677d-4c42-b078-bf7c7b5690a7",
        "name": "Closer"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/eb9b7b9a-96c1-4aac-bac9-b12796ee7113",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1712,
          512
        ],
        "id": "629c7de5-78c8-44e1-ac9c-8e93fd856dcf",
        "name": "Leva para a clint Matheus1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "8c353a87-2609-4ba7-b8f2-e9d461ffff69",
        "name": "Notifica grupo | Matheus1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          512
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4YH49tLjYSDBDmg3",
            "mode": "list",
            "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
            "cachedResultName": "Enfileirador PRE-CALL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1920,
          336
        ],
        "id": "b27346cb-b23a-405e-bdef-aa3e42e410c1",
        "name": "Call 'PRÉ-CALL CLOSERS'"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
                "name": "closer",
                "value": "Matheus Schefer",
                "type": "string"
              },
              {
                "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
                "name": "data",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
                "name": "nome",
                "value": "={{ $json.payload.name }}",
                "type": "string"
              },
              {
                "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
                "type": "string"
              },
              {
                "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
                "name": "data_fim",
                "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "add-start_time",
                "name": "start_time",
                "value": "={{ $json.payload.scheduled_event.start_time }}",
                "type": "string"
              },
              {
                "id": "add-event_uri",
                "name": "event_uri",
                "value": "={{ $json.payload.scheduled_event.uri }}",
                "type": "string"
              },
              {
                "id": "add-is_reschedule",
                "name": "is_reschedule",
                "value": "={{ $json.payload.old_invitee != null }}",
                "type": "boolean"
              },
              {
                "id": "email-f4c865e5-0c45-473b-8712-66b914db4112",
                "name": "email",
                "value": "={{ $json.payload.email }}",
                "type": "string"
              },
              {
                "id": "join-f4c865e5-0c45-473b-8712-66b914db4112",
                "name": "join_url",
                "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          336
        ],
        "id": "f4c865e5-0c45-473b-8712-66b914db4112",
        "name": "campos pre call"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4YH49tLjYSDBDmg3",
            "mode": "list",
            "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
            "cachedResultName": "Enfileirador PRE-CALL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1920,
          736
        ],
        "id": "b29e7911-b16c-4260-ba2d-36606aaccf66",
        "name": "Call 'PRÉ-CALL CLOSERS'2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
                "name": "closer",
                "value": "Tiago Gregorio",
                "type": "string"
              },
              {
                "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
                "name": "data",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
                "name": "nome",
                "value": "={{ $json.payload.name }}",
                "type": "string"
              },
              {
                "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
                "type": "string"
              },
              {
                "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
                "name": "data_fim",
                "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "add-start_time",
                "name": "start_time",
                "value": "={{ $json.payload.scheduled_event.start_time }}",
                "type": "string"
              },
              {
                "id": "add-event_uri",
                "name": "event_uri",
                "value": "={{ $json.payload.scheduled_event.uri }}",
                "type": "string"
              },
              {
                "id": "add-is_reschedule",
                "name": "is_reschedule",
                "value": "={{ $json.payload.old_invitee != null }}",
                "type": "boolean"
              },
              {
                "id": "email-d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
                "name": "email",
                "value": "={{ $json.payload.email }}",
                "type": "string"
              },
              {
                "id": "join-d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
                "name": "join_url",
                "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          736
        ],
        "id": "d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
        "name": "campos pre call2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1712,
          912
        ],
        "id": "214d17f9-b8a7-4aed-900b-7d44d2fa9b72",
        "name": "Leva para a clint Tiago"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "22b759df-3c80-4a37-9449-e8f29255a1c5",
        "name": "Notifica grupo | Tiago",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          912
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4YH49tLjYSDBDmg3",
            "mode": "list",
            "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
            "cachedResultName": "Enfileirador PRE-CALL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1920,
          1136
        ],
        "id": "052bc1b9-f979-444d-8f0a-dd332b2e03ba",
        "name": "Call 'PRÉ-CALL CLOSERS'3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
                "name": "closer",
                "value": "Karllos",
                "type": "string"
              },
              {
                "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
                "name": "data",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
                "name": "nome",
                "value": "={{ $json.payload.name }}",
                "type": "string"
              },
              {
                "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
                "type": "string"
              },
              {
                "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
                "name": "data_fim",
                "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "add-start_time",
                "name": "start_time",
                "value": "={{ $json.payload.scheduled_event.start_time }}",
                "type": "string"
              },
              {
                "id": "add-event_uri",
                "name": "event_uri",
                "value": "={{ $json.payload.scheduled_event.uri }}",
                "type": "string"
              },
              {
                "id": "add-is_reschedule",
                "name": "is_reschedule",
                "value": "={{ $json.payload.old_invitee != null }}",
                "type": "boolean"
              },
              {
                "id": "email-b91d14b0-6f2b-4192-8a81-2eb6970098ea",
                "name": "email",
                "value": "={{ $json.payload.email }}",
                "type": "string"
              },
              {
                "id": "join-b91d14b0-6f2b-4192-8a81-2eb6970098ea",
                "name": "join_url",
                "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          1136
        ],
        "id": "b91d14b0-6f2b-4192-8a81-2eb6970098ea",
        "name": "campos pre call3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d0137c59-2ebd-4f97-ab54-4e04839e211a",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1712,
          1312
        ],
        "id": "69fa6997-593b-4f85-a62e-8dcbef01ef15",
        "name": "Leva para a clint Tiago1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Karllos\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "afa06fd7-2ea8-4154-b67e-9b649e78f253",
        "name": "Notifica grupo | Tiago1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          1312
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "4YH49tLjYSDBDmg3",
            "mode": "list",
            "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
            "cachedResultName": "Enfileirador PRE-CALL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {}
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1920,
          1536
        ],
        "id": "ec2284c3-6d2e-4546-bcba-7d26a6394ddb",
        "name": "Call 'PRÉ-CALL CLOSERS'4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
                "name": "closer",
                "value": "Guilherme Luiz",
                "type": "string"
              },
              {
                "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
                "name": "data",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
                "name": "nome",
                "value": "={{ $json.payload.name }}",
                "type": "string"
              },
              {
                "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
                "type": "string"
              },
              {
                "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
                "name": "data_fim",
                "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
                "type": "string"
              },
              {
                "id": "add-start_time",
                "name": "start_time",
                "value": "={{ $json.payload.scheduled_event.start_time }}",
                "type": "string"
              },
              {
                "id": "add-event_uri",
                "name": "event_uri",
                "value": "={{ $json.payload.scheduled_event.uri }}",
                "type": "string"
              },
              {
                "id": "add-is_reschedule",
                "name": "is_reschedule",
                "value": "={{ $json.payload.old_invitee != null }}",
                "type": "boolean"
              },
              {
                "id": "email-cb360eef-6bf4-4f4d-8534-e4875075b8ea",
                "name": "email",
                "value": "={{ $json.payload.email }}",
                "type": "string"
              },
              {
                "id": "join-cb360eef-6bf4-4f4d-8534-e4875075b8ea",
                "name": "join_url",
                "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          1536
        ],
        "id": "cb360eef-6bf4-4f4d-8534-e4875075b8ea",
        "name": "campos pre call4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725088d1-0bea-42ed-b27c-f4adbf8eb821",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1712,
          1712
        ],
        "id": "6a2dbe8d-706d-49bc-9eba-350637cd14c8",
        "name": "Leva para a clint Tiago2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Guilherme Luiz\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "7bbbd960-116a-47e9-8109-fa00e1c14bed",
        "name": "Notifica grupo | Tiago2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          1712
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Matheus Schefer BMA",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "de6a8ad6-5f43-4068-925a-95c237c31ce7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Matheus Schefer BMA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b147503a-356f-4d39-9355-85cbae122f5b",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Tiago Gregório",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tiago Gregório"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "f7775150-dc71-4413-b26d-39116c455b75",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Karllos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Karllos"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9a358e7e-6f78-4075-b66b-f3876bce9758",
                      "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                      "rightValue": "Guilherme Luiz",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Guilherme Luiz"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1712,
          2336
        ],
        "id": "105ad878-f866-4815-909b-40ea75133707",
        "name": "Closer1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/eb9b7b9a-96c1-4aac-bac9-b12796ee7113",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2048,
          2112
        ],
        "id": "541071f6-f8b3-46a7-acec-cc6eee0c3908",
        "name": "Leva para a clint Matheus2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "7b721114-3028-42e5-8d90-1ed43ee1190b",
        "name": "Notifica grupo | Matheus3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2256,
          2112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2048,
          2304
        ],
        "id": "a9041b3f-35b4-4e88-8669-727cb4fc7fe6",
        "name": "Leva para a clint Tiago3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "10c01ea0-15ac-4d36-b12f-479d8bc6b6f3",
        "name": "Notifica grupo | Tiago3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2256,
          2304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d0137c59-2ebd-4f97-ab54-4e04839e211a",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2048,
          2480
        ],
        "id": "82113b30-da7f-4381-8f52-ced8034d622c",
        "name": "Leva para a clint Tiago4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Karllos\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "417f26ce-dc16-4809-90a3-ef486a5cf582",
        "name": "Notifica grupo | Tiago4",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2256,
          2480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725088d1-0bea-42ed-b27c-f4adbf8eb821",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ $json.payload.name }}"
              },
              {
                "name": "email",
                "value": "={{ $json.payload.email }}"
              },
              {
                "name": "telefone",
                "value": "={{ $json.payload.questions_and_answers[0].answer }}"
              },
              {
                "name": "data_call",
                "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2048,
          2640
        ],
        "id": "1a95287f-32bf-43b9-99be-e4a41a607097",
        "name": "Leva para a clint Tiago5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Client-Token",
                "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone",
                "value": "=120363285621576178-group"
              },
              {
                "name": "message",
                "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Guilherme Luiz\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
              }
            ]
          },
          "options": {}
        },
        "id": "aa76e893-33ac-4f67-9cf3-e6b3bf2b299f",
        "name": "Notifica grupo | Tiago5",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2256,
          2640
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.event }}",
                "rightValue": "invitee.canceled",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          764,
          1108
        ],
        "name": "É cancelamento?",
        "id": "cancel-if"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "update fila_precall set status='cancelado', updated_at=now() where event_uri = '{{ $json.payload.scheduled_event.uri }}' and status in ('pending','sending');",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1004,
          1108
        ],
        "name": "PG: cancela",
        "id": "cancel-pg",
        "credentials": {
          "postgres": {
            "id": "GxgbRWKv7Xal5lZi",
            "name": "Supabase BMA (pooler)"
          }
        }
      }
    ],
    "connections": {
      "Trata Webhook": {
        "main": [
          [
            {
              "node": "Evento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Trata Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evento": {
        "main": [
          [
            {
              "node": "MSG Alisson",
              "type": "main",
              "index": 0
            },
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É cancelamento?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "campos pre call1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leva para a clint Matheus",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [],
          [],
          [],
          [
            {
              "node": "Closer1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Matheus": {
        "main": [
          [
            {
              "node": "Notifica grupo | Matheus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "campos pre call1": {
        "main": [
          [
            {
              "node": "Call 'PRÉ-CALL CLOSERS'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Matheus1": {
        "main": [
          [
            {
              "node": "Notifica grupo | Matheus1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "campos pre call": {
        "main": [
          [
            {
              "node": "Call 'PRÉ-CALL CLOSERS'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Closer": {
        "main": [
          [
            {
              "node": "campos pre call",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leva para a clint Matheus1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "campos pre call2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leva para a clint Tiago",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "campos pre call3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leva para a clint Tiago1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "campos pre call4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leva para a clint Tiago2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "campos pre call2": {
        "main": [
          [
            {
              "node": "Call 'PRÉ-CALL CLOSERS'2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "campos pre call3": {
        "main": [
          [
            {
              "node": "Call 'PRÉ-CALL CLOSERS'3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago1": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "campos pre call4": {
        "main": [
          [
            {
              "node": "Call 'PRÉ-CALL CLOSERS'4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago2": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Closer1": {
        "main": [
          [
            {
              "node": "Leva para a clint Matheus2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Leva para a clint Tiago3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Leva para a clint Tiago4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Leva para a clint Tiago5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Matheus2": {
        "main": [
          [
            {
              "node": "Notifica grupo | Matheus3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago3": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago4": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leva para a clint Tiago5": {
        "main": [
          [
            {
              "node": "Notifica grupo | Tiago5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É cancelamento?": {
        "main": [
          [
            {
              "node": "PG: cancela",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Matheus Cristhyan",
    "name": null,
    "description": null
  },
  "activeVersionId": "393b5a6f-9e1f-4dd1-8e15-5d9c7a71718a",
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento": {
      "main": [
        [
          {
            "node": "MSG Alisson",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É cancelamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "campos pre call1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leva para a clint Matheus",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Closer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Matheus": {
      "main": [
        [
          {
            "node": "Notifica grupo | Matheus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call1": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Matheus1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Matheus1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closer": {
      "main": [
        [
          {
            "node": "campos pre call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leva para a clint Matheus1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos pre call2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leva para a clint Tiago",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos pre call3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leva para a clint Tiago1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "campos pre call4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leva para a clint Tiago2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call2": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call3": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call4": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closer1": {
      "main": [
        [
          {
            "node": "Leva para a clint Matheus2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leva para a clint Tiago3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leva para a clint Tiago4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leva para a clint Tiago5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Matheus2": {
      "main": [
        [
          {
            "node": "Notifica grupo | Matheus3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago3": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago4": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leva para a clint Tiago5": {
      "main": [
        [
          {
            "node": "Notifica grupo | Tiago5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É cancelamento?": {
      "main": [
        [
          {
            "node": "PG: cancela",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2024-05-14T20:50:55.756Z",
  "id": "SlZo8jyHETfwI6gs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] Agendamento Calendly",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "7ac21b45-68dd-42e5-ac7b-58a1aaa9ee98",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        336,
        848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e94548e-da55-49c9-85b0-cb48997648dc",
        "options": {}
      },
      "id": "29a534f6-fc27-4c65-a082-a4e84995d7d4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        848
      ],
      "webhookId": "0e94548e-da55-49c9-85b0-cb48997648dc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4b4359e0-d29f-4e27-9485-80524e4359bd",
              "leftValue": "={{ $json.event }}",
              "rightValue": "invitee.created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eac61d6e-12a7-4d0a-8a89-3199766ab279",
      "name": "Evento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        848
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "Consultoria Grátis - Exclusivo Matheus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e7d76642-66a1-4c51-beea-4bf4a3e62557"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MATHEUS 15K"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d55175e5-d13d-4ff0-92b0-a4918355634d",
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "Consultoria Grátis - Exclusivo Tiago",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TIAGO 15K"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06de4561-11ca-4537-bc75-7c2994ef6ffe",
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "Consultoria Grátis - Exclusivo Karllos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KARLLOS 15K"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "957ba99e-ae5f-4827-8cdc-293860c4c95c",
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "Consultoria Grátis - Exclusivo Guilherme",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GUILHERME 15K"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a18798b1-8541-4815-b84a-fb1cd5cb5ef6",
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "Consultoria Grátis - API",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultoria Grátis - API"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "75c2a48b-8f6c-4a85-8503-017e742d85f3",
                    "leftValue": "={{ $json.payload.scheduled_event.name }}",
                    "rightValue": "CG - Consultoria Grátis - Agendamentos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ISCA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        848,
        320
      ],
      "id": "f1b87d28-f395-425e-badf-69ccd2a12da2",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/39354e52-81a5-4047-b916-62cb33e9e1b2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        304
      ],
      "id": "b87117b1-e08c-4812-a774-b091208ebdcf",
      "name": "Leva para a clint Matheus"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "77f11cde-7411-442b-b1db-ee6b48e4a1da",
      "name": "Notifica grupo | Matheus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4YH49tLjYSDBDmg3",
          "mode": "list",
          "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
          "cachedResultName": "Enfileirador PRE-CALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1408,
        128
      ],
      "id": "37e280e1-d1ac-488d-a8ea-34da9e8ad598",
      "name": "Call 'PRÉ-CALL CLOSERS'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Matheus Schefer",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $json.payload.name }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "add-start_time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event.start_time }}",
              "type": "string"
            },
            {
              "id": "add-event_uri",
              "name": "event_uri",
              "value": "={{ $json.payload.scheduled_event.uri }}",
              "type": "string"
            },
            {
              "id": "add-is_reschedule",
              "name": "is_reschedule",
              "value": "={{ $json.payload.old_invitee != null }}",
              "type": "boolean"
            },
            {
              "id": "email-3faeac66-e7c4-46ca-b4a1-ab55325a6000",
              "name": "email",
              "value": "={{ $json.payload.email }}",
              "type": "string"
            },
            {
              "id": "join-3faeac66-e7c4-46ca-b4a1-ab55325a6000",
              "name": "join_url",
              "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        128
      ],
      "id": "3faeac66-e7c4-46ca-b4a1-ab55325a6000",
      "name": "campos pre call1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=553192106666"
            },
            {
              "name": "message",
              "value": "=*Novo Agendamento - Evento disparado pelo Calendly*\n\n*Data da Reunião:* {{ $json.payload\n   .scheduled_event\n   .start_time\n   .toDateTime()                 \n   .setZone('America/Sao_Paulo') \n   .toFormat('dd/MM/yyyy HH:mm') \n}}\nAgenda: {{ $json.payload.scheduled_event.name }}\n\nNome: {{ $json.payload.name }}\nEmail: {{ $json.payload.email }}\nTelefone: {{ $item(\"0\").$node[\"Evento\"].json[\"body\"][\"payload\"][\"questions_and_answers\"][\"0\"][\"question\"] }}\n\nNome do Closer: {{ $json.payload.scheduled_event.event_memberships[0].user_name }}\n\nPS: Se o nome do closer vier com *sdr*, é agenda reserva."
            }
          ]
        },
        "options": {}
      },
      "id": "c411968e-b205-4d8f-83fe-0ea518fb2049",
      "name": "MSG Alisson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        832
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de6a8ad6-5f43-4068-925a-95c237c31ce7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b147503a-356f-4d39-9355-85cbae122f5b",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f7775150-dc71-4413-b26d-39116c455b75",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Karllos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Karllos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a358e7e-6f78-4075-b66b-f3876bce9758",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Guilherme Luiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Luiz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1408,
        608
      ],
      "id": "422ef26c-677d-4c42-b078-bf7c7b5690a7",
      "name": "Closer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/eb9b7b9a-96c1-4aac-bac9-b12796ee7113",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        512
      ],
      "id": "629c7de5-78c8-44e1-ac9c-8e93fd856dcf",
      "name": "Leva para a clint Matheus1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8c353a87-2609-4ba7-b8f2-e9d461ffff69",
      "name": "Notifica grupo | Matheus1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        512
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4YH49tLjYSDBDmg3",
          "mode": "list",
          "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
          "cachedResultName": "Enfileirador PRE-CALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        336
      ],
      "id": "b27346cb-b23a-405e-bdef-aa3e42e410c1",
      "name": "Call 'PRÉ-CALL CLOSERS'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Matheus Schefer",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $json.payload.name }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "add-start_time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event.start_time }}",
              "type": "string"
            },
            {
              "id": "add-event_uri",
              "name": "event_uri",
              "value": "={{ $json.payload.scheduled_event.uri }}",
              "type": "string"
            },
            {
              "id": "add-is_reschedule",
              "name": "is_reschedule",
              "value": "={{ $json.payload.old_invitee != null }}",
              "type": "boolean"
            },
            {
              "id": "email-f4c865e5-0c45-473b-8712-66b914db4112",
              "name": "email",
              "value": "={{ $json.payload.email }}",
              "type": "string"
            },
            {
              "id": "join-f4c865e5-0c45-473b-8712-66b914db4112",
              "name": "join_url",
              "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        336
      ],
      "id": "f4c865e5-0c45-473b-8712-66b914db4112",
      "name": "campos pre call"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4YH49tLjYSDBDmg3",
          "mode": "list",
          "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
          "cachedResultName": "Enfileirador PRE-CALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        736
      ],
      "id": "b29e7911-b16c-4260-ba2d-36606aaccf66",
      "name": "Call 'PRÉ-CALL CLOSERS'2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Tiago Gregorio",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $json.payload.name }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "add-start_time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event.start_time }}",
              "type": "string"
            },
            {
              "id": "add-event_uri",
              "name": "event_uri",
              "value": "={{ $json.payload.scheduled_event.uri }}",
              "type": "string"
            },
            {
              "id": "add-is_reschedule",
              "name": "is_reschedule",
              "value": "={{ $json.payload.old_invitee != null }}",
              "type": "boolean"
            },
            {
              "id": "email-d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
              "name": "email",
              "value": "={{ $json.payload.email }}",
              "type": "string"
            },
            {
              "id": "join-d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
              "name": "join_url",
              "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        736
      ],
      "id": "d25e110f-1302-4f86-ba98-5ce4b41c6f6d",
      "name": "campos pre call2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        912
      ],
      "id": "214d17f9-b8a7-4aed-900b-7d44d2fa9b72",
      "name": "Leva para a clint Tiago"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22b759df-3c80-4a37-9449-e8f29255a1c5",
      "name": "Notifica grupo | Tiago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        912
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4YH49tLjYSDBDmg3",
          "mode": "list",
          "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
          "cachedResultName": "Enfileirador PRE-CALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        1136
      ],
      "id": "052bc1b9-f979-444d-8f0a-dd332b2e03ba",
      "name": "Call 'PRÉ-CALL CLOSERS'3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Karllos",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $json.payload.name }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "add-start_time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event.start_time }}",
              "type": "string"
            },
            {
              "id": "add-event_uri",
              "name": "event_uri",
              "value": "={{ $json.payload.scheduled_event.uri }}",
              "type": "string"
            },
            {
              "id": "add-is_reschedule",
              "name": "is_reschedule",
              "value": "={{ $json.payload.old_invitee != null }}",
              "type": "boolean"
            },
            {
              "id": "email-b91d14b0-6f2b-4192-8a81-2eb6970098ea",
              "name": "email",
              "value": "={{ $json.payload.email }}",
              "type": "string"
            },
            {
              "id": "join-b91d14b0-6f2b-4192-8a81-2eb6970098ea",
              "name": "join_url",
              "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1136
      ],
      "id": "b91d14b0-6f2b-4192-8a81-2eb6970098ea",
      "name": "campos pre call3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d0137c59-2ebd-4f97-ab54-4e04839e211a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        1312
      ],
      "id": "69fa6997-593b-4f85-a62e-8dcbef01ef15",
      "name": "Leva para a clint Tiago1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Karllos\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afa06fd7-2ea8-4154-b67e-9b649e78f253",
      "name": "Notifica grupo | Tiago1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1312
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4YH49tLjYSDBDmg3",
          "mode": "list",
          "cachedResultUrl": "/workflow/4YH49tLjYSDBDmg3",
          "cachedResultName": "Enfileirador PRE-CALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1920,
        1536
      ],
      "id": "ec2284c3-6d2e-4546-bcba-7d26a6394ddb",
      "name": "Call 'PRÉ-CALL CLOSERS'4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Guilherme Luiz",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $json.payload.name }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $json.payload.scheduled_event.end_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}",
              "type": "string"
            },
            {
              "id": "add-start_time",
              "name": "start_time",
              "value": "={{ $json.payload.scheduled_event.start_time }}",
              "type": "string"
            },
            {
              "id": "add-event_uri",
              "name": "event_uri",
              "value": "={{ $json.payload.scheduled_event.uri }}",
              "type": "string"
            },
            {
              "id": "add-is_reschedule",
              "name": "is_reschedule",
              "value": "={{ $json.payload.old_invitee != null }}",
              "type": "boolean"
            },
            {
              "id": "email-cb360eef-6bf4-4f4d-8534-e4875075b8ea",
              "name": "email",
              "value": "={{ $json.payload.email }}",
              "type": "string"
            },
            {
              "id": "join-cb360eef-6bf4-4f4d-8534-e4875075b8ea",
              "name": "join_url",
              "value": "={{ $json.payload.scheduled_event.location?.join_url || $json.payload.scheduled_event.location?.location || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1536
      ],
      "id": "cb360eef-6bf4-4f4d-8534-e4875075b8ea",
      "name": "campos pre call4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725088d1-0bea-42ed-b27c-f4adbf8eb821",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        1712
      ],
      "id": "6a2dbe8d-706d-49bc-9eba-350637cd14c8",
      "name": "Leva para a clint Tiago2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado Produto 10k JP ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Guilherme Luiz\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*Fatruamento:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"2\"][\"answer\"] }}\n\n*Instagram:* {{ $item(\"0\").$node[\"Closer\"].json[\"payload\"][\"questions_and_answers\"][\"1\"][\"answer\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7bbbd960-116a-47e9-8109-fa00e1c14bed",
      "name": "Notifica grupo | Tiago2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        1712
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de6a8ad6-5f43-4068-925a-95c237c31ce7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b147503a-356f-4d39-9355-85cbae122f5b",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f7775150-dc71-4413-b26d-39116c455b75",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Karllos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Karllos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a358e7e-6f78-4075-b66b-f3876bce9758",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Guilherme Luiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Luiz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1712,
        2336
      ],
      "id": "105ad878-f866-4815-909b-40ea75133707",
      "name": "Closer1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/eb9b7b9a-96c1-4aac-bac9-b12796ee7113",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        2112
      ],
      "id": "541071f6-f8b3-46a7-acec-cc6eee0c3908",
      "name": "Leva para a clint Matheus2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b721114-3028-42e5-8d90-1ed43ee1190b",
      "name": "Notifica grupo | Matheus3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        2112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        2304
      ],
      "id": "a9041b3f-35b4-4e88-8669-727cb4fc7fe6",
      "name": "Leva para a clint Tiago3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10c01ea0-15ac-4d36-b12f-479d8bc6b6f3",
      "name": "Notifica grupo | Tiago3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        2304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d0137c59-2ebd-4f97-ab54-4e04839e211a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        2480
      ],
      "id": "82113b30-da7f-4381-8f52-ced8034d622c",
      "name": "Leva para a clint Tiago4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Karllos\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "417f26ce-dc16-4809-90a3-ef486a5cf582",
      "name": "Notifica grupo | Tiago4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        2480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725088d1-0bea-42ed-b27c-f4adbf8eb821",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.payload.email }}"
            },
            {
              "name": "telefone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            },
            {
              "name": "data_call",
              "value": "={{ $json.payload.scheduled_event.start_time.toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        2640
      ],
      "id": "1a95287f-32bf-43b9-99be-e4a41a607097",
      "name": "Leva para a clint Tiago5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Isca Agendamentos ✅*\n\n*Data e hora da Reunião*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"payload\"][\"scheduled_event\"][\"start_time\"].toDateTime().toUTC().minus(3, 'hour').format(\"dd/MM/yyyy HH:mm\") }}\n\n*Closer Responsável:* Guilherme Luiz\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa76e893-33ac-4f67-9cf3-e6b3bf2b299f",
      "name": "Notifica grupo | Tiago5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        2640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event }}",
              "rightValue": "invitee.canceled",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        764,
        1108
      ],
      "name": "É cancelamento?",
      "id": "cancel-if"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update fila_precall set status='cancelado', updated_at=now() where event_uri = '{{ $json.payload.scheduled_event.uri }}' and status in ('pending','sending');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1004,
        1108
      ],
      "name": "PG: cancela",
      "id": "cancel-pg",
      "credentials": {
        "postgres": {
          "id": "GxgbRWKv7Xal5lZi",
          "name": "Supabase BMA (pooler)"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "Calendly",
            "content-length": "2074",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br, zstd",
            "content-type": "application/json",
            "traceparent": "00-69dc2f93000000000e8ed945b66a4af1-1e53eec6a7848f4f-00",
            "tracestate": "dd=p:1e53eec6a7848f4f;s:0",
            "x-datadog-parent-id": "2185352781186240335",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=69dc2f9300000000",
            "x-datadog-trace-id": "1049014656660294385",
            "x-forwarded-for": "35.221.30.234",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9143be050a6b",
            "x-real-ip": "35.221.30.234"
          },
          "params": {},
          "query": {},
          "body": {
            "created_at": "2026-04-12T23:49:39.000000Z",
            "created_by": "https://api.calendly.com/users/f90cd979-a1b2-4c75-941e-ffd18c6ae192",
            "event": "invitee.created",
            "payload": {
              "cancel_url": "https://calendly.com/cancellations/972ca76c-7591-4b31-9334-6496ebf0b793",
              "created_at": "2026-04-12T23:49:37.520350Z",
              "email": "bma.matheus2024@gmail.com",
              "event": "https://api.calendly.com/scheduled_events/347edc29-f9d6-45c8-b880-e79ac585efa5",
              "first_name": null,
              "invitee_scheduled_by": "https://api.calendly.com/users/f90cd979-a1b2-4c75-941e-ffd18c6ae192",
              "last_name": null,
              "name": "Matheus Cristhyan",
              "new_invitee": null,
              "no_show": null,
              "old_invitee": null,
              "payment": null,
              "questions_and_answers": [
                {
                  "answer": "+55 81 99101-3614",
                  "position": 0,
                  "question": "Seu WhatsApp"
                }
              ],
              "reconfirmation": null,
              "reschedule_url": "https://calendly.com/reschedulings/972ca76c-7591-4b31-9334-6496ebf0b793",
              "rescheduled": false,
              "routing_form_submission": null,
              "scheduled_event": {
                "created_at": "2026-04-12T23:49:37.507053Z",
                "end_time": "2026-04-13T17:30:00.000000Z",
                "event_guests": [],
                "event_memberships": [
                  {
                    "user": "https://api.calendly.com/users/eea4f979-0257-4175-8368-b43426084b88",
                    "user_email": "matheusschefer.bma@gmail.com",
                    "user_name": "Matheus Schefer BMA"
                  }
                ],
                "event_type": "https://api.calendly.com/event_types/cf82a470-9d0f-484b-9553-db7ae7970e9e",
                "invitees_counter": {
                  "total": 1,
                  "active": 1,
                  "limit": 1
                },
                "location": {
                  "location": null,
                  "type": "custom"
                },
                "meeting_notes_html": null,
                "meeting_notes_plain": null,
                "name": "Consultoria Grátis - API",
                "start_time": "2026-04-13T16:00:00.000000Z",
                "status": "active",
                "updated_at": "2026-04-12T23:49:37.507053Z",
                "uri": "https://api.calendly.com/scheduled_events/347edc29-f9d6-45c8-b880-e79ac585efa5"
              },
              "scheduling_method": null,
              "status": "active",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "tracking": {
                "utm_campaign": null,
                "utm_source": null,
                "utm_medium": null,
                "utm_content": null,
                "utm_term": null,
                "salesforce_uuid": null
              },
              "updated_at": "2026-04-12T23:49:37.520350Z",
              "uri": "https://api.calendly.com/scheduled_events/347edc29-f9d6-45c8-b880-e79ac585efa5/invitees/972ca76c-7591-4b31-9334-6496ebf0b793"
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/0e94548e-da55-49c9-85b0-cb48997648dc",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2024-05-14T20:50:55.756Z",
      "createdAt": "2024-05-14T20:50:55.756Z",
      "role": "workflow:owner",
      "workflowId": "SlZo8jyHETfwI6gs",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": {
    "node:Calendly Trigger": {}
  },
  "tags": [
    {
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "createdAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-07-23T02:57:37.415Z",
  "versionId": "393b5a6f-9e1f-4dd1-8e15-5d9c7a71718a"
}