workflows/[JP] [WEBNÁRIO ]Formulário.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "GreatPages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GreatPages": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Path": {
      "main": [
        [
          {
            "node": "Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona na Lista": {
      "main": [
        [
          {
            "node": "Mapeamento de Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID Usuário": {
      "main": [
        [
          {
            "node": "Adiciona Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Tag": {
      "main": [
        [
          {
            "node": "Adiciona na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Extrai Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos": {
      "main": [
        [
          {
            "node": "Dados Planilha |Meteórico 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Planilha |Meteórico 1": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo": {
      "main": [
        [
          {
            "node": "att contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria contato": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "att contact": {
      "main": [
        [
          {
            "node": "add tag2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe": {
      "main": [
        [
          {
            "node": "busca contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca contato": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone1": {
      "main": [
        [
          {
            "node": "Cria contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sem nono digito": {
      "main": [
        [
          {
            "node": "busca contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca contato1": {
      "main": [
        [
          {
            "node": "add tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "sem nono digito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag": {
      "main": [
        [
          {
            "node": "envia fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag1": {
      "main": [
        [
          {
            "node": "envia fluxo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tag2": {
      "main": [
        [
          {
            "node": "envia fluxo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T18:47:02.226Z",
  "id": "KDimuETO9GvRApA8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] [WEBNÁRIO ]Formulário",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "167dca02-0fcd-4402-ba29-3e69c727cfd1",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -120,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['DDD_WhatsApp'] = formataTelefone($node['Trata Webhook'].json['DDD_WhatsApp'])\n\nreturn $input.all();"
      },
      "id": "99503f49-9f0f-4aef-bcd3-02002f261df2",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        280,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a68488c-f0b4-4406-baf9-b2c4bff1f2fb",
              "name": "nome",
              "value": "={{ $('Formata Telefone').item.json.Seu_nome }}",
              "type": "string"
            },
            {
              "id": "62ec3931-595f-43f5-9181-73c400ca8c9a",
              "name": "email",
              "value": "={{ $('Formata Telefone').item.json.Seu_e_mail }}",
              "type": "string"
            },
            {
              "id": "b7f3a6f5-6974-4aaf-9140-e16dffdddf74",
              "name": "whatsapp",
              "value": "={{ $('Formata Telefone').item.json.DDD_WhatsApp }}",
              "type": "string"
            },
            {
              "id": "bcda957c-484a-41a0-aeea-85ec12bc898e",
              "name": "pagina",
              "value": "={{ $json.pathname }}",
              "type": "string"
            },
            {
              "id": "2a6c5226-c045-4095-b133-00f54d82e245",
              "name": "utm_source",
              "value": "={{ $('Formata Telefone').item.json.utm_source }}",
              "type": "string"
            },
            {
              "id": "ae81e3b4-9a73-4b1e-ad38-75bf2fb3682b",
              "name": "utm_medium",
              "value": "={{ $('Formata Telefone').item.json.utm_medium }}",
              "type": "string"
            },
            {
              "id": "30476025-0543-469c-9d9d-a7fee91cde39",
              "name": "utm_campaign",
              "value": "={{ $('Formata Telefone').item.json.utm_campaign }}",
              "type": "string"
            },
            {
              "id": "6b50b30c-15db-4d2b-a3cc-119a4e209925",
              "name": "utm_term",
              "value": "={{ $('Formata Telefone').item.json.utm_term }}",
              "type": "string"
            },
            {
              "id": "0fa84181-01f4-4f7c-85f2-90aafb4906ca",
              "name": "utm_content",
              "value": "={{ $('Formata Telefone').item.json.utm_content }}",
              "type": "string"
            },
            {
              "id": "1cad61e4-9a1a-4934-adc4-c7578f4baffa",
              "name": "Data_da_conversao",
              "value": "={{ $('GreatPages').item.json.Data_da_conversao.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "521979f7-1046-4208-ae94-32c2973fc06b",
              "name": "ip_usuário",
              "value": "={{ $('Trata Webhook').item.json.IP_do_usuario }}",
              "type": "string"
            },
            {
              "id": "02913e47-45c4-4eb6-aaf9-b4b3e3f2eef2",
              "name": "fbclid",
              "value": "={{ $('Formata Telefone').item.json.fbclid }}",
              "type": "string"
            },
            {
              "id": "d7235bfe-e9e2-4086-9fde-56fdeb2732f4",
              "name": "gclid",
              "value": "={{ $('Formata Telefone').item.json.gclid }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4d602554-e918-4462-b941-463073f68fef",
      "name": "Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {},
      "id": "2c57eafb-8411-4262-80f6-e1004fd67f07",
      "name": "GreatPages",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        80,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPathFromURL(url) {\n    try {\n        // Usa regex para extrair o caminho da URL\n        const match = url.match(/^https?:\\/\\/[^/]+(\\/[^?#]*)/);\n        if (match) {\n            return match[1]; // Retorna o path\n        } else {\n            return \"Invalid URL\";\n        }\n    } catch (error) {\n        console.error(\"Erro ao processar a URL:\", error.message);\n        return \"Invalid URL\";\n    }\n}\n\n// Exemplo de uso\nconst url = $input.all()[0].json['URL']\nconst pathname = (getPathFromURL(url)); // Retorna \"/ip-ano-novo-v3\"\n\nreturn {pathname}"
      },
      "id": "72703937-3e84-44cd-af89-c7a55959946e",
      "name": "Extrai Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Campos').item.json.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $('Campos').item.json.nome }}",
          "phone": "={{ $('Campos').item.json.whatsapp }}"
        }
      },
      "id": "2462aa0a-0715-42da-a1d6-26316510ac88",
      "name": "ID Usuário",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1100,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 231,
        "contactId": "={{ $('ID Usuário').item.json.id }}"
      },
      "id": "2053eab9-7dfa-4d79-b704-db0c72bafa62",
      "name": "Adiciona na Lista",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1520,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('ID Usuário').item.json.id }}",
        "updateFields": {
          "fieldValues": {
            "property": [
              {
                "field": "={{ 153 }}",
                "value": "={{ $('Campos').item.json.utm_content }}"
              },
              {
                "field": "={{ 154 }}",
                "value": "={{ $('Campos').item.json.utm_source }}"
              },
              {
                "field": "={{ 155 }}",
                "value": "={{ $('Campos').item.json.utm_medium }}"
              },
              {
                "field": "={{ 156 }}",
                "value": "={{ $('Campos').item.json.utm_campaign }}"
              },
              {
                "field": "={{ 157 }}",
                "value": "={{ $('Campos').item.json.utm_term }}"
              }
            ]
          }
        }
      },
      "id": "d292896a-03fa-4f21-b1aa-6cfbb0e1dccb",
      "name": "Mapeamento de Campos",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1720,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "=1512",
        "contactId": "={{ $json.id }}"
      },
      "id": "6731f4fe-6454-4776-8a08-f35f7a4d7a8c",
      "name": "Adiciona Tag",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1320,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "4ygJeCXAzG5KRUPW",
          "name": "Active Carol"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1nNv-ax09ll2PYa-LgzGQMVDBsW6GZFEtRZqEDryhHIs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 452662438,
          "mode": "list",
          "cachedResultName": "webnario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nNv-ax09ll2PYa-LgzGQMVDBsW6GZFEtRZqEDryhHIs/edit#gid=452662438"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.Data_da_conversao }}",
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "utm_source": "={{ $json.utm_source }}",
            "utm_campaign": "={{ $json.utm_campaign }}",
            "utm_medium": "={{ $json.utm_medium }}",
            "utm_content": "={{ $json.utm_content }}",
            "utm_term": "={{ $json.utm_term }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "pagina": "={{ $json.pagina }}",
            "chave": "={{ $json.whatsapp.slice(-7) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pagina",
              "displayName": "pagina",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "grupo",
              "displayName": "grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chave",
              "displayName": "chave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f6b806ed-ba04-470e-99bb-a454c823a918",
      "name": "Dados Planilha |Meteórico 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        900,
        260
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "49965a1b-6361-4b56-9df5-455bc80c9ab9",
        "options": {}
      },
      "id": "b9e40587-d012-4015-969c-29839bf0d4b8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        260
      ],
      "webhookId": "49965a1b-6361-4b56-9df5-455bc80c9ab9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        -300
      ],
      "id": "939a7ca5-2d5c-43fc-b4d7-fe2d42755078",
      "name": "novo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/createSubscriber",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{\"+\"+ $json.numerosFormatados.comNonoDigito }}\",\n  \"whatsapp_phone\": \"{{\"+\"+ $json.numerosFormatados.comNonoDigito }}\",\n  \"has_opt_in_sms\": false,\n  \"has_opt_in_email\": false,\n  \"consent_phrase\": \"string\"\n} ",
        "options": {}
      },
      "id": "965db04e-4eef-4c28-ad6e-d0e280d793ac",
      "name": "Cria contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -380
      ],
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/setCustomField",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"Cria contato\"].json[\"data\"][\"id\"] }}"
            },
            {
              "name": "field_id",
              "value": "12789794"
            },
            {
              "name": "field_value",
              "value": "={{ $node[\"Formata Telefone1\"].json[\"numerosFormatados\"][\"comNonoDigito\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e5032df-233f-4dfa-8806-163458c5910e",
      "name": "att contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -300
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        -680
      ],
      "id": "118ca216-4535-40e6-b69e-dbbab3920e09",
      "name": "existe"
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=12789794&field_value={{ $('Formata Telefone1').item.json.numerosFormatados.comNonoDigito }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9b895cb5-194a-442f-9cf7-639789c3ba7c",
      "name": "busca contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        -680
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b47ac03-1259-4e8c-9e8e-22786f6bf427",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "This WhatsApp ID already exists",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2ebd499e-9c24-4ef7-b1e8-574343d61917",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        580,
        -380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\");\n    let ddi = \"55\";\n    let ddd, telefone;\n\n    if (number.length === 13) {\n        ddi = number.substring(0, 2);\n        ddd = number.substring(2, 4);\n        telefone = number.substring(4);\n    } else if (number.length === 12) {\n        if (number.startsWith(\"55\")) {\n            ddd = number.substring(2, 4);\n            telefone = number.substring(4);\n        } else if (number.startsWith(\"0\")) {\n            return formataTelefone(number.substring(1));\n        } else {\n            return { comNonoDigito: number, semNonoDigito: number };\n        }\n    } else if (number.length === 11) {\n        ddd = number.substring(0, 2);\n        telefone = number.substring(2);\n    } else if (number.length === 10) {\n        ddd = number.substring(0, 2);\n        telefone = \"9\" + number.substring(2);\n    } else {\n        return { comNonoDigito: number, semNonoDigito: number };\n    }\n\n    let telefoneComNono = telefone.length === 8 ? \"9\" + telefone : telefone;\n    let telefoneSemNono = telefoneComNono.startsWith(\"9\") ? telefoneComNono.substring(1) : telefoneComNono;\n\n    return {\n        comNonoDigito: ddi + ddd + telefoneComNono,\n        semNonoDigito: ddi + ddd + telefoneSemNono\n    };\n}\n\nlet numerosFormatados = formataTelefone($node['Trata Webhook'].json['DDD_WhatsApp']);\n\n$input.all()[0].json[\"numerosFormatados\"] = numerosFormatados\nreturn $input.all();\n"
      },
      "id": "958c39c9-02d8-4b0f-aef7-9bd1f33b6c2d",
      "name": "Formata Telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        100,
        -380
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        -880
      ],
      "id": "b201c139-3375-4657-a2d7-4de919589400",
      "name": "sem nono digito"
    },
    {
      "parameters": {
        "url": "=https://api.manychat.com/fb/subscriber/findByCustomField?field_id=12789794&field_value={{$node[\"Formata Telefone1\"].json[\"numerosFormatados\"][\"semNonoDigito\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "696044fd-98f5-4a8f-815b-404b1de0e5e2",
      "name": "busca contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        -880
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49a86e22-a9c4-4d6a-b179-2a4335dbb72e",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc5201e5-70b9-4940-abbe-3697128879be",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1360,
        -700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "ec7c8349-099a-4654-a4a1-c91f73a2b621",
      "name": "add tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -680
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "fc1ff65d-e4cd-4ccd-a578-1243b96fb62d",
      "name": "add tag1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -900
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/subscriber/addTag",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $json.data[0].id }}"
            },
            {
              "name": "tag_id",
              "value": "61006975"
            }
          ]
        },
        "options": {}
      },
      "id": "06c5d766-93e9-42ea-91a4-d914b8c8106e",
      "name": "add tag2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        -320
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"busca contato1\"].json[\"data\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250404232936_129132"
            }
          ]
        },
        "options": {}
      },
      "id": "a795bca0-40ad-4d1b-84db-437a508d5e01",
      "name": "envia fluxo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        -920
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"busca contato\"].json[\"data\"][\"0\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250404232936_129132"
            }
          ]
        },
        "options": {}
      },
      "id": "db0df416-3c17-4cc4-95a7-b4f12c98429a",
      "name": "envia fluxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        -700
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendFlow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2668563:65dc8b763e88cf8b9b0955b1871493fc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subscriber_id",
              "value": "={{ $node[\"Cria contato\"].json[\"data\"][\"id\"] }}"
            },
            {
              "name": "flow_ns",
              "value": "content20250404232936_129132"
            }
          ]
        },
        "options": {}
      },
      "id": "b825d3af-8637-4a20-b8ce-3b34c70b60b1",
      "name": "envia fluxo3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -340
      ],
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "content-length": "540",
            "accept-encoding": "gzip",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "2a06:98c0:3600::103",
            "cf-ray": "9357db0aa03ceb2f-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "greatsoftwares.workers.dev",
            "content-type": "application/x-www-form-urlencoded",
            "great-auth": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJncGFnZXMtcjItcGFnZXMtaW50ZWdyYXRpb25zIiwiYXVkIjoic2VydmljZSIsImlhdCI6MTc0NTUyMTM1M30.PMGpYvQVUinCIL--qW7c3RzqcSk0ILojo30WKlb4KKQ",
            "great-product": "product",
            "great-server": "GreatApps",
            "great-service": "gpages-r2-pages-integrations",
            "x-forwarded-for": "172.71.170.16",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "706860589d6c",
            "x-real-ip": "172.71.170.16"
          },
          "params": {},
          "query": {},
          "body": {
            "Seu_nome": "matheus",
            "Seu_e_mail": "matheus@gmail.com",
            "DDD_WhatsApp": "81993515055",
            "utm_source": "",
            "utm_campaign": "",
            "utm_medium": "",
            "utm_term": "",
            "utm_content": "",
            "pagina": "webnario",
            "Referral_Source": "https://app.greatpages.com.br/",
            "Dispositivo": "Desktop",
            "URL": "https://www.josepbijari.com/webnario",
            "IP_do_usuario": "2804:29b8:50ad:5268:78ed:d974:11d3:314f",
            "Data_da_conversao": "2025-04-24 19:02:17",
            "Id_do_formulario": "2341170_1_1745496967680a2b8701ccc224932110",
            "Pais_do_usuario": "BR",
            "Regiao_do_usuario": "Pernambuco",
            "Cidade_do_usuario": "Caruaru",
            "Id_da_pagina": "2341170"
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/49965a1b-6361-4b56-9df5-455bc80c9ab9",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-25T04:03:52.126Z",
  "versionId": "07149c01-e96f-48e6-b542-01df9fcd9a34"
}