workflows/[JP] CG MENTOR com Calendly Yay Forms.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "formata data reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "INFOPRODUTOR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Agendada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?1": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?2": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preencheu whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica Maria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Tiago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José3": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preencheu whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José9": {
      "main": [
        []
      ]
    },
    "Clint Reserva2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 22": {
      "main": [
        [
          {
            "node": "Wait16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait16": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 23": {
      "main": [
        [
          {
            "node": "Wait17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait17": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu whatsapp": {
      "main": [
        [
          {
            "node": "Clint Reserva2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu whatsapp1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada7": {
      "main": [
        [
          {
            "node": "Date & Time12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time12": {
      "main": [
        [
          {
            "node": "formata data reunião9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião7": {
      "main": [
        [
          {
            "node": "Notifica grupo | Karllos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Karllos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Karllos": {
      "main": [
        [
          {
            "node": "Notifica pv karllos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada4": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "formata data reunião5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião4": {
      "main": [
        [
          {
            "node": "Notifica grupo | Matheus",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Matheus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Matheus": {
      "main": [
        [
          {
            "node": "Notifica grupo | José11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL ": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 25": {
      "main": [
        [
          {
            "node": "Wait18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait18": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL5": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José11": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 33": {
      "main": [
        [
          {
            "node": "Wait21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait21": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 34": {
      "main": [
        [
          {
            "node": "Wait24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait24": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL6": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica pv karllos": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada8": {
      "main": [
        [
          {
            "node": "Date & Time13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time13": {
      "main": [
        [
          {
            "node": "formata data reunião10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião8": {
      "main": [
        [
          {
            "node": "Notifica grupo | Gui Luiz",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Gui Luiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | Gui Luiz": {
      "main": [
        [
          {
            "node": "Notifica pv Gui Luiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica pv Gui Luiz": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata campos": {
      "main": [
        [
          {
            "node": "ACIONA FLUXO DE PRECALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFOPRODUTOR": {
      "main": [
        [
          {
            "node": "Trata campos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENTOR": {
      "main": [
        [
          {
            "node": "Trata campos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trata campos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata campos1": {
      "main": [
        [
          {
            "node": "ACIONA FLUXO DE PRECALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata campos2": {
      "main": [
        [
          {
            "node": "ACIONA FLUXO DE PRECALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint Tiago": {
      "main": [
        [
          {
            "node": "campos pre call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call1": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint Matheus": {
      "main": [
        [
          {
            "node": "campos pre call1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call2": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint Karllos": {
      "main": [
        [
          {
            "node": "campos pre call2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call3": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint Gui Luiz": {
      "main": [
        [
          {
            "node": "campos pre call3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 36": {
      "main": [
        [
          {
            "node": "Wait22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait22": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 37": {
      "main": [
        [
          {
            "node": "Wait25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait25": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião": {
      "main": [
        [
          {
            "node": "formata data reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião5": {
      "main": [
        [
          {
            "node": "formata data reunião4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião9": {
      "main": [
        [
          {
            "node": "formata data reunião7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião10": {
      "main": [
        [
          {
            "node": "formata data reunião8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada": {
      "main": [
        [
          {
            "node": "Date & Time14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time14": {
      "main": [
        [
          {
            "node": "formata data reunião12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião11": {
      "main": [
        [
          {
            "node": "Notifica grupo | Junior bonfa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Junior bonfa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "campos pre call4": {
      "main": [
        [
          {
            "node": "Call 'PRÉ-CALL CLOSERS'4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 39": {
      "main": [
        [
          {
            "node": "Wait23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait23": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 40": {
      "main": [
        [
          {
            "node": "Wait26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait26": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião12": {
      "main": [
        [
          {
            "node": "formata data reunião11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint Junior bonfa": {
      "main": [
        []
      ]
    },
    "Notifica grupo | Junior bonfa": {
      "main": [
        [
          {
            "node": "Notifica pv Junior bonfa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica pv Junior bonfa": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-26T14:20:49.844Z",
  "id": "Tx23zlyP3mhINlfZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] CG MENTOR com Calendly Yay Forms",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "3feb14d8-677f-47d5-924b-5a95b9bb4f18",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1776,
        -1888
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "2e44a393-fd03-40c4-a680-8c0955795c0f",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1328,
        -1984
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"685d43c035bd886b580246b4\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "c0e77603-165b-4c25-b272-0f98f09e2187",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -2000
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a90fed1-b1ea-47d4-b56f-d99173a92024",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1104,
        -1984
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "c1a2f1da-f337-42c0-be17-b62788ef238b",
      "name": "Call Agendada2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -2080
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "19fb19f3-9609-46bd-b663-adb0a97ad4d7",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -2080
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "c4304d10-8a82-4812-a986-4a3eafdc9c1c",
      "name": "formata data reunião1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        864,
        -2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP ✅*\n\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cf01119-333b-4940-8ef4-665ba25cd532",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -1984
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "6579aa3f-b793-4b21-8e17-f249543c43bf",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Karllos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Karllos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cec977bb-cf7e-480f-8e6f-fe07078feef8",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Matheus Schefer BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Matheus Schefer BMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f5457290-8c16-40ee-836e-acba63b534ec",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Guilherme Luiz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Luiz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "22b19f55-bd9e-43aa-819f-f9459f4ca3ed",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Júnior Bonfá BMA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Júnior Bonfá BMA"
            }
          ]
        },
        "options": {}
      },
      "id": "27308115-81d8-409b-b2cf-ddd9c2a536a6",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16,
        -1632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['685d43796f718f411f0407b8'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "735f8682-9037-47bc-866e-77d149f4341e",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -880,
        -1984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead não agendado*\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"] }}\n\n\n*Origens:*\nFormulário: Mentor(yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b74f7755-c3c6-4993-9dfc-19d01890158b",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['697405f9a45bc7b4d505e18e'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "deb6ae71-ef19-4be1-854d-dc4d83a8b42f",
      "name": "agendou?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -592,
        -1968
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['685d438435bd886b580246b2'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71b7850a-34af-4c9d-8428-8c25c150ade3",
      "name": "agendou?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -432,
        -1360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8e8c13e0-cbb7-45b4-8da2-edb3408ec85a",
        "options": {}
      },
      "id": "976754af-f486-40c9-af3e-44ef982cfed2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        -1888
      ],
      "webhookId": "8e8c13e0-cbb7-45b4-8da2-edb3408ec85a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5534984133437"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5a9068f-8ab1-495d-8234-9961c694ace5",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        -1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "78aff739-5436-49fe-af9e-20fcf1ce6f4c",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"submittedAt\"] }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -1888
      ],
      "id": "a3e1ce55-743d-4ce2-b805-fbc898863ea7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead Parcial funil JP🚨\n*\n\n*SDR Responsável:* Alan\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79b3ebf0-8982-4ba6-9fb2-f4c465b6025e",
      "name": "Notifica grupo | José9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -1792
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time3').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            },
            {
              "name": "dono",
              "value": "tiagogregorio@mentoriahighticket.com.br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -2176
      ],
      "id": "6fc1b507-ad36-4759-ba33-92f84f4cb9b6",
      "name": "Clint Tiago"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/754d899e-b07d-4aca-ad77-592a64eb1800",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        -1792
      ],
      "id": "07616200-d8fe-4b5d-b245-30870b4657ec",
      "name": "Clint Reserva2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "758d1a06-3c19-47e6-a8ac-b46d94555e47",
      "name": "MSG PRE-CALL 22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -1984
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        -1984
      ],
      "id": "d1b3abdb-1d27-4b9c-9023-b641a78d15bc",
      "name": "Wait16",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "ec4f997c-c2b1-4d57-8089-8e8b935f6bdb",
      "name": "MSG PRE-CALL 23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2288,
        -1984
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        -1984
      ],
      "id": "5433becc-5b06-4b70-8ae7-d5fc823df521",
      "name": "Wait17",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?\n\nEm caso de dúvidas, entre em contato com o especialista Tiago Gregório, que fará a reunião com você: +55 34 8413-3437"
            }
          ]
        },
        "options": {}
      },
      "id": "e9bcb717-e921-499b-ad77-32db6d11f3b5",
      "name": "MSG PRE-CALL 24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        -1984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "8cf6e93a-a149-465b-b826-10974dd955dc",
      "name": "VIDEO JP PRE-CALL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -1984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b6fdbd8-bc81-4357-92c9-16786432226b",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        -1792
      ],
      "id": "b0807d1e-a127-4e93-ba69-98c5fb938584",
      "name": "preencheu whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b6fdbd8-bc81-4357-92c9-16786432226b",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -160,
        16
      ],
      "id": "03f9b2db-514f-42d6-b297-2e49f80e2f93",
      "name": "preencheu whatsapp1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "79f2b6a1-d7d0-419e-9228-a15e21a72beb",
      "name": "Call Agendada7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -1312
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "26a8c46d-0ca4-430d-a7c2-7b9f8b21e7eb",
      "name": "Date & Time12",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -1312
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "55e5a75c-1a03-4ea6-9258-df6a70354ed6",
      "name": "formata data reunião7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        880,
        -1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/d0137c59-2ebd-4f97-ab54-4e04839e211a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time12').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            },
            {
              "name": "dono",
              "value": "karllos.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -1408
      ],
      "id": "6626f2ed-6bcb-4500-922b-e5d6cb27b4df",
      "name": "Clint Karllos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP ✅*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável:* Karllos\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f32aba1-58b4-4d96-8425-4c10de3ff20a",
      "name": "Notifica grupo | Karllos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5561998546456"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c6d3ba7-4c5b-42cf-80e1-21ca6542d70b",
      "name": "Notifica pv karllos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -1216
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "2da6495d-3e85-4945-b39a-ce5c80baeb43",
      "name": "Call Agendada4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -1696
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "300b64ac-4078-4cf0-8488-47797e19ba5e",
      "name": "Date & Time8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -1696
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "8b88b5d7-3413-4471-915f-306d1ab34c35",
      "name": "formata data reunião4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        880,
        -1696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5545991195467"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6bfbdf79-8e52-4f01-8230-97488f60e0c0",
      "name": "Notifica grupo | José11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/eb9b7b9a-96c1-4aac-bac9-b12796ee7113",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time8').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            },
            {
              "name": "dono",
              "value": "matheusschefer.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -1792
      ],
      "id": "dc866e82-2ddc-4645-b763-4361b59cd74a",
      "name": "Clint Matheus"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP ✅*\n\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável:* Matheus Schefer\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "515bbb06-eaa5-4e80-a078-02608ca936e0",
      "name": "Notifica grupo | Matheus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "e0094a54-43bf-4539-9ae7-deae205c5016",
      "name": "MSG PRE-CALL ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        -1600
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -1600
      ],
      "id": "8dee325b-e5dc-4859-8dfb-ae15e3b25cee",
      "name": "Wait",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "2e62e690-7e91-4c50-aa86-36bf6df49a35",
      "name": "MSG PRE-CALL 25",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -1600
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -1600
      ],
      "id": "eb2dd35d-4cf8-4a9a-82f8-46c42e084c14",
      "name": "Wait18",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?\n\nEm caso de dúvidas, entre em contato com o especialista Matheus Schefer, que fará a reunião com você: +55 45 9955-3235"
            }
          ]
        },
        "options": {}
      },
      "id": "74a242c4-7392-42bc-b2fb-93f4ff012ac3",
      "name": "MSG PRE-CALL 29",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "ed29bc88-7a36-4290-9bbe-0f2e0006bb81",
      "name": "VIDEO JP PRE-CALL5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "c435cd28-9977-4e8f-aa79-b215b8e41db9",
      "name": "MSG PRE-CALL 33",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        -1216
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -1216
      ],
      "id": "151e3f25-dc6e-4b5a-a2c8-9059efa4a35c",
      "name": "Wait21",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "4ba29781-4c12-4171-a7a7-e2b3038f3698",
      "name": "MSG PRE-CALL 34",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -1216
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -1216
      ],
      "id": "72e07a3e-a52a-4d7a-bf5f-4478fd898b75",
      "name": "Wait24",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?\n\nEm caso de dúvidas, entre em contato com o especialista Karllos, que fará a reunião com você: 5561998546456"
            }
          ]
        },
        "options": {}
      },
      "id": "bcc000c1-bf35-43c5-8bd9-82f7e3e14983",
      "name": "MSG PRE-CALL 35",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "860dc09e-012d-47a8-84e0-36151c58648d",
      "name": "VIDEO JP PRE-CALL6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -1216
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "be5837a0-1e90-446b-b8c4-58889f191ed5",
      "name": "Call Agendada8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "99c1d9b0-b04d-4b51-a073-855a08be2778",
      "name": "Date & Time13",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "f78a2505-45d5-4111-b1c0-14b0731dd656",
      "name": "formata data reunião8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        896,
        -928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/725088d1-0bea-42ed-b27c-f4adbf8eb821",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time13').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            },
            {
              "name": "dono",
              "value": "guilhermeluiz.bma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -1024
      ],
      "id": "ffa7902f-4762-491e-a34d-3150899767e8",
      "name": "Clint Gui Luiz"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP ✅*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável:* Guilherme Luiz\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "72de41c4-a69d-46bd-8cc6-248a49b54b47",
      "name": "Notifica grupo | Gui Luiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=553192265968"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bdb676a7-c00c-4fd3-90e5-10404f1d8401",
      "name": "Notifica pv Gui Luiz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5521965485215"
            },
            {
              "name": "message",
              "value": "=*Novo lead não agendado*\n\n*Nome do lead*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"] }}\n\n\n*Origens:*\nFormulário: Mentor(yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e45f077-0b53-4642-96de-822f6aaa197e",
      "name": "Notifica Maria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "s82MNZSHJPKFP2Ua",
          "mode": "list",
          "cachedResultUrl": "/workflow/s82MNZSHJPKFP2Ua",
          "cachedResultName": "PRECALL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        576,
        -2560
      ],
      "id": "212d23c8-1de9-4c7a-b6bf-3c01828e099b",
      "name": "ACIONA FLUXO DE PRECALL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aff0548b-d0f8-4579-84b3-dc842a268ab4",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "f971f35f-acd5-487a-91b4-988abae74c68",
              "name": "agendamento",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "02668b73-93cf-47d0-b78a-3b6655fd0a47",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "72903080-7b31-49f0-a0e8-619d64b6dba7",
              "name": "segmento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "2ea07efa-2bf2-4f17-a9c0-5e16ce18030c",
              "name": "infoproduto",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d407a97e30a0017089369\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "78240874-72d5-4972-a9d2-df4eed91174d",
              "name": "fluxo",
              "value": "content20260302083045_197215",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -2720
      ],
      "id": "d63b076f-9bac-436a-97da-99d9eff704ad",
      "name": "Trata campos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37187ee9-336d-4e46-a57f-96ae336f8af0",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d407a97e30a0017089369\"][\"content\"][\"0\"] }}",
              "rightValue": "=Sim, com mais de 1.000 alunos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8a73f147-328d-4401-8c8d-bf87f4aa184f",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d407a97e30a0017089369\"][\"content\"][\"0\"] }}",
              "rightValue": "Sim, com até 1.000 alunos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        -2704
      ],
      "id": "4a079968-87cf-41f8-acaf-d195aaeb7f4f",
      "name": "INFOPRODUTOR"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37187ee9-336d-4e46-a57f-96ae336f8af0",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}",
              "rightValue": "=Já sou mentor!",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -2544
      ],
      "id": "74b032fd-cff8-4a19-b124-2cece2370a4e",
      "name": "MENTOR"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aff0548b-d0f8-4579-84b3-dc842a268ab4",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "f971f35f-acd5-487a-91b4-988abae74c68",
              "name": "agendamento",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "02668b73-93cf-47d0-b78a-3b6655fd0a47",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "72903080-7b31-49f0-a0e8-619d64b6dba7",
              "name": "segmento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "2ea07efa-2bf2-4f17-a9c0-5e16ce18030c",
              "name": "infoproduto",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d407a97e30a0017089369\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "78240874-72d5-4972-a9d2-df4eed91174d",
              "name": "fluxo",
              "value": "content20260303032237_212233",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -2560
      ],
      "id": "ed5397fa-bb3e-42a7-8175-1238d62aa66e",
      "name": "Trata campos1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aff0548b-d0f8-4579-84b3-dc842a268ab4",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "f971f35f-acd5-487a-91b4-988abae74c68",
              "name": "agendamento",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "02668b73-93cf-47d0-b78a-3b6655fd0a47",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "72903080-7b31-49f0-a0e8-619d64b6dba7",
              "name": "segmento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "2ea07efa-2bf2-4f17-a9c0-5e16ce18030c",
              "name": "infoproduto",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d407a97e30a0017089369\"][\"content\"][\"0\"] }}",
              "type": "string"
            },
            {
              "id": "78240874-72d5-4972-a9d2-df4eed91174d",
              "name": "fluxo",
              "value": "content20260303032435_584904",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -2384
      ],
      "id": "34891f3c-2fdb-4a93-a7e1-e72b925f7ac1",
      "name": "Trata campos2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9Zc4XBrTKcEUb9y5",
          "mode": "list",
          "cachedResultUrl": "/workflow/9Zc4XBrTKcEUb9y5",
          "cachedResultName": "PRÉ-CALL CLOSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1600,
        -2176
      ],
      "id": "c12d38d8-433d-45bf-a54d-a2e7edde353b",
      "name": "Call 'PRÉ-CALL CLOSERS'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Tiago Gregorio",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $item(\"0\").$node[\"formata data reunião1\"].json[\"formattedDate\"] }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "68f154bb-c22b-499c-82f1-f1d298b79018",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "9ffaac47-4850-4238-890d-f9d6bb2f979b",
              "name": "data_fim",
              "value": "={{ $item(\"0\").$node[\"formata data reunião\"].json[\"formattedDate\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -2176
      ],
      "id": "eaffd2d4-21ef-408e-8311-6f671b193e42",
      "name": "campos pre call"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9Zc4XBrTKcEUb9y5",
          "mode": "list",
          "cachedResultUrl": "/workflow/9Zc4XBrTKcEUb9y5",
          "cachedResultName": "PRÉ-CALL CLOSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1552,
        -1792
      ],
      "id": "be4c0d69-b48a-476c-af46-0cce7e336660",
      "name": "Call 'PRÉ-CALL CLOSERS'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Matheus Schefer",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $item(\"0\").$node[\"formata data reunião4\"].json[\"formattedDate\"] }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "ecd21f76-d9bb-4947-916b-2a534618132c",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "b0957eb3-f6c6-4655-87d3-8469547621aa",
              "name": "data_fim",
              "value": "={{ $item(\"0\").$node[\"formata data reunião5\"].json[\"formattedDate\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -1792
      ],
      "id": "f35f17b1-d8c0-4194-9aa4-5ef1badf618a",
      "name": "campos pre call1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9Zc4XBrTKcEUb9y5",
          "mode": "list",
          "cachedResultUrl": "/workflow/9Zc4XBrTKcEUb9y5",
          "cachedResultName": "PRÉ-CALL CLOSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1536,
        -1408
      ],
      "id": "cee5e3de-3dec-4b8d-8971-dc214bb2e484",
      "name": "Call 'PRÉ-CALL CLOSERS'2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Karllos",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $item(\"0\").$node[\"formata data reunião7\"].json[\"formattedDate\"] }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "8673154b-6a9d-4db7-b36c-aae1120829bc",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "d183f99e-8fd6-4bf4-8f12-244eafb33468",
              "name": "data_fim",
              "value": "={{ $item(\"0\").$node[\"formata data reunião9\"].json[\"formattedDate\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -1408
      ],
      "id": "6cac1cba-1aec-4067-a194-0ae78554acc3",
      "name": "campos pre call2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9Zc4XBrTKcEUb9y5",
          "mode": "list",
          "cachedResultUrl": "/workflow/9Zc4XBrTKcEUb9y5",
          "cachedResultName": "PRÉ-CALL CLOSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1552,
        -1024
      ],
      "id": "5b5eb863-f6fc-4576-ac1a-db3f361eae30",
      "name": "Call 'PRÉ-CALL CLOSERS'3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Guilherme Luiz",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $item(\"0\").$node[\"formata data reunião8\"].json[\"formattedDate\"] }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "8399a4f4-6b2e-4467-ad68-0cf38e5dfdee",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "1e3f9160-256b-4d99-8eb3-a57211665a05",
              "name": "data_fim",
              "value": "={{ $item(\"0\").$node[\"formata data reunião10\"].json[\"formattedDate\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -1024
      ],
      "id": "45b747b7-b9d5-48b8-a11b-0daf9cf97d3c",
      "name": "campos pre call3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "da8cc6b7-c8bc-4dd1-97ec-574cfce45c81",
      "name": "MSG PRE-CALL 36",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        -832
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -832
      ],
      "id": "685880a7-a893-41ed-9b52-608450226349",
      "name": "Wait22",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "72c4d063-ef9f-4bd8-b9f3-8c4591152a74",
      "name": "MSG PRE-CALL 37",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -832
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -832
      ],
      "id": "ac8ac49f-051d-4342-828f-057f459ec423",
      "name": "Wait25",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?\n\nEm caso de dúvidas, entre em contato com o especialista Guilherme Luiz, que fará a reunião com você: +55 31 9226-5968"
            }
          ]
        },
        "options": {}
      },
      "id": "73382d7a-8708-42a4-be6c-e9cb0c1bc83d",
      "name": "MSG PRE-CALL 38",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "ff0ad0b7-8b86-4f85-884a-5a4e3b6b1002",
      "name": "VIDEO JP PRE-CALL7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -832
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"end_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "af1c7501-f582-465e-be7f-ec78e5d445b7",
      "name": "formata data reunião",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        656,
        -2080
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"end_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "2b2fbb10-bc90-4808-aa8a-2ea44bc562f0",
      "name": "formata data reunião5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        -1696
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"end_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "68ad6a48-85b6-40a3-950a-088a75467e07",
      "name": "formata data reunião9",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        -1312
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"end_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "9a910a06-11c2-46f0-b568-15b4b0cee753",
      "name": "formata data reunião10",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "393f833b-3b52-4922-8179-6f270e0093f2",
      "name": "Call Agendada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        240,
        -464
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "de4e9871-4af3-4356-8dc1-acfaa4943856",
      "name": "Date & Time14",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        464,
        -464
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "4a82d92f-ed11-41fa-a02e-ec3afc5605aa",
      "name": "formata data reunião11",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        896,
        -464
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9Zc4XBrTKcEUb9y5",
          "mode": "list",
          "cachedResultUrl": "/workflow/9Zc4XBrTKcEUb9y5",
          "cachedResultName": "PRÉ-CALL CLOSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1552,
        -560
      ],
      "id": "b2f5dd91-5553-457d-ad24-b2ab33c7a3aa",
      "name": "Call 'PRÉ-CALL CLOSERS'4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b3a95a6-5311-45ac-83be-fb6df64a7b99",
              "name": "closer",
              "value": "Guilherme Luiz",
              "type": "string"
            },
            {
              "id": "1e81f073-679e-4d2f-83ab-e77a047b3f32",
              "name": "data",
              "value": "={{ $item(\"0\").$node[\"formata data reunião11\"].json[\"formattedDate\"] }}",
              "type": "string"
            },
            {
              "id": "e27b5789-7c5c-4a6f-bf94-3c8769c676ca",
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "8399a4f4-6b2e-4467-ad68-0cf38e5dfdee",
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}",
              "type": "string"
            },
            {
              "id": "1e3f9160-256b-4d99-8eb3-a57211665a05",
              "name": "data_fim",
              "value": "={{ $item(\"0\").$node[\"formata data reunião12\"].json[\"formattedDate\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -560
      ],
      "id": "fad41d53-b92d-46b0-ba27-23e1b13c7e3d",
      "name": "campos pre call4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "40647fa1-1184-46e9-9cf3-47276114a8c8",
      "name": "MSG PRE-CALL 39",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        -368
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -368
      ],
      "id": "ba2e8194-6582-4916-9dc6-7b90cd0c0031",
      "name": "Wait23",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "3acabf63-9d88-4945-9d5d-1ea521202295",
      "name": "MSG PRE-CALL 40",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -368
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2448,
        -368
      ],
      "id": "d3428812-14b8-411d-87cc-261baf63b742",
      "name": "Wait26",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?\n\nEm caso de dúvidas, entre em contato com o especialista Guilherme Luiz, que fará a reunião com você: +55 31 9226-5968"
            }
          ]
        },
        "options": {}
      },
      "id": "481b4aa3-d10a-4201-a2ef-069a21e653a1",
      "name": "MSG PRE-CALL 41",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "5ee63fd1-bbdf-4e3b-aa57-91dcc08fd75b",
      "name": "VIDEO JP PRE-CALL8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        -368
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $item(\"0\").$node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"end_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "fb6bbac5-c4e6-4c57-a580-1db33da40591",
      "name": "formata data reunião12",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/ed2c585d-b8de-4fd8-8ff8-38a9327ef7ba",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40fd0c7815d8080d5085\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67d85cd963179a9b4503cc8a\"].content[0] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40cb0c7815d8080d5082\"][\"content\"] }}"
            },
            {
              "name": "e_mentor",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d402c58ad4238f4082362\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d438435bd886b580246b2\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43796f718f411f0407b8\"][\"content\"] }} {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d4340b13a7bb2320f94e9\"][\"content\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time14').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            },
            {
              "name": "dificuldade",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40d66128d7c13205cfa8\"][\"content\"] }}"
            },
            {
              "name": "ticket",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d404b97e30a0017089364\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "nicho_mentoria",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40b0b13a7bb2320f94df\"][\"content\"] }}"
            },
            {
              "name": "formulario",
              "value": "mentor"
            },
            {
              "name": "dono",
              "value": "juniorbonfabma@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -560
      ],
      "id": "375d2810-bccf-4aa9-8eb0-14c022d01855",
      "name": "Clint Junior bonfa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP ✅*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável:* Júnior Bonfá\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "708e18ab-0df4-466c-b2be-01e230ec6164",
      "name": "Notifica grupo | Junior bonfa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=558382296382"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Nome do lead*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40e60c7815d8080d5084\"][\"content\"] }}\n\n*E-mail*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d43c035bd886b580246b4\"][\"content\"] }}\n\n*Whatsapp*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40f2f8f9e3904c0b0eb4\"][\"content\"] }}\n\n*Faturamento*: {{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"685d40a0b13a7bb2320f94dd\"][\"content\"][\"0\"] }}\n\n*Origens:*\nFormulário: mentor (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d81834c7-0004-481b-ad7d-4962603c6bdd",
      "name": "Notifica pv Junior bonfa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -368
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "5408",
            "content-type": "application/json",
            "x-forwarded-for": "159.223.107.139",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9143be050a6b",
            "x-real-ip": "159.223.107.139",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "69a6c9363eda937604ab96b2",
              "formId": "685d4019b13a7bb2320f94d6",
              "ipAddress": "2804:14c:192:803b:7001:2f04:ba55:b7ba",
              "operatingSystem": "iOS",
              "operatingSystemVersion": "18_7",
              "userAgent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/23D127 Instagram 418.2.0.34.75 (iPhone18,2; iOS 26_3; pt_BR; pt; scale=3.00; 1320x2868; IABMV/1; 893787717) Safari/604.1",
              "browser": "Safari",
              "browserVersion": "604.1",
              "referrerUrl": "http://instagram.com/",
              "deviceType": "mobile",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "region": "SP",
                "state": "São Paulo",
                "city": "São Paulo",
                "zipcode": "01000",
                "latitude": -23.6293,
                "longitude": -46.6351,
                "timezone": "America/Sao_Paulo",
                "currency": "BRL"
              },
              "aiFeedback": null,
              "hiddenFields": {
                "pagina": "mentor-cg-2"
              },
              "variables": {
                "score": 0,
                "quali": true
              },
              "tracking": {
                "utm_source": "metaads",
                "utm_medium": "00-QUENTE",
                "utm_campaign": "CADASTRO_LEADS_CG-AGENDAMENTO_SEGUIDOR+YAY",
                "utm_content": "AD16- 10MESES-VIDEO",
                "utm_term": "Instagram_Stories",
                "_fbc": "fb.1.1772538165696.PAZXh0bgNhZW0BMABhZGlkAassI3_LL85zcnRjBmFwcF9pZA8xMjQwMjQ1NzQyODc0MTQAAacP9hJCYPMHlTi745NBD3IIEZTCRjOVS5Fp-ILROaa53fc9Ktc7VMgukwZdrg_aem_4JmcI2WzBTtu5alDjIyvsA",
                "_fbp": "fb.1.1772538166313.102438306907267753",
                "_ga": "GA1.1.1278255964.1754218617",
                "_ga_FHRQJESNYQ": "GS2.1.s1754218617$o1$g1$t1754218697$j53$l0$h662884238"
              },
              "timeToComplete": 169.677,
              "startedAt": "2026-03-03T11:42:56.239000Z",
              "submittedAt": "2026-03-03T11:45:45.916000Z",
              "createdAt": "2026-03-03T11:42:46.230000Z",
              "updatedAt": "2026-03-03T11:45:47.552000Z",
              "answers": {
                "685d40e60c7815d8080d5084": {
                  "answerId": "69a6c93636ae2bdc9b5cb4a9",
                  "fieldTitle": "Qual o seu nome e sobrenome?",
                  "fieldDescription": null,
                  "content": "Luiz Binato"
                },
                "685d40f2f8f9e3904c0b0eb4": {
                  "answerId": "69a6c93f36ae2bdc9b5cb4d8",
                  "fieldTitle": "Qual o seu WhatsApp?",
                  "fieldDescription": null,
                  "content": "+5511986590299"
                },
                "685d40fd0c7815d8080d5085": {
                  "answerId": "69a6c94536ae2bdc9b5cb4f1",
                  "fieldTitle": "Qual o seu Instagram?",
                  "fieldDescription": null,
                  "content": "@luizbinato"
                },
                "685d43c035bd886b580246b4": {
                  "answerId": "69a6c94d36ae2bdc9b5cb519",
                  "fieldTitle": "Qual o seu e-mail?",
                  "fieldDescription": null,
                  "content": "lcbinato@instiad.com.br"
                },
                "685d40a0b13a7bb2320f94dd": {
                  "answerId": "69a6c95536ae2bdc9b5cb544",
                  "fieldTitle": "Qual seu faturamento médio mensal? (Somando a venda de mentoria e outras fontes de renda)",
                  "fieldDescription": null,
                  "content": [
                    "R$ 50.000,00 a R$ 100.000,00"
                  ]
                },
                "685d402c58ad4238f4082362": {
                  "answerId": "69a6c95936ae2bdc9b5cb552",
                  "fieldTitle": "Qual das opções abaixo melhor te representa:",
                  "fieldDescription": null,
                  "content": [
                    "Já sou mentor!"
                  ]
                },
                "685d404b97e30a0017089364": {
                  "answerId": "69a6c95e36ae2bdc9b5cb56b",
                  "fieldTitle": "Qual o ticket da sua mentoria?",
                  "fieldDescription": null,
                  "content": [
                    "Entre 21k e 50k"
                  ]
                },
                "685d407a97e30a0017089369": {
                  "answerId": "69a6c96236ae2bdc9b5cb57b",
                  "fieldTitle": "Além da mentoria, você tem algum curso ou infoproduto?",
                  "fieldDescription": null,
                  "content": [
                    "Não tenho."
                  ]
                },
                "685d40b0b13a7bb2320f94df": {
                  "answerId": "69a6c96936ae2bdc9b5cb58b",
                  "fieldTitle": "&nbsp;Em qual nicho você mentora (ou quer mentorar)?",
                  "fieldDescription": null,
                  "content": "Liderança executiva "
                },
                "685d40cb0c7815d8080d5082": {
                  "answerId": "69a6c97436ae2bdc9b5cb5b7",
                  "fieldTitle": "Qual seu objetivo de faturamento para os próximos 12 meses com vendas de mentoria?",
                  "fieldDescription": null,
                  "content": "R$ 150.000 / mês "
                },
                "685d40d66128d7c13205cfa8": {
                  "answerId": "69a6c98036ae2bdc9b5cb5e6",
                  "fieldTitle": "Qual a principal dificuldade que você enfrenta HOJE, para alcançar esse objetivo?",
                  "fieldDescription": null,
                  "content": "Posicionamento, oferta, funil, processo de receita previsível "
                },
                "68712c954b2c93e188055a47": {
                  "answerId": "69a6c9a036ae2bdc9b5cb68d",
                  "fieldTitle": "Porque você acredita que essa Consultoria é a oportunidade ideal para você e para o seu negócio?*",
                  "fieldDescription": null,
                  "content": "Ainda não tenho dados pra isso "
                },
                "68712c9e11c21c36a3063c64": {
                  "answerId": "69a6c9af36ae2bdc9b5cb6e3",
                  "fieldTitle": "Caso recebamos mais aplicações do que vagas disponíveis para a Consultoria, por que deveríamos aceitar sua aplicação dentre os demais interessados?*",
                  "fieldDescription": null,
                  "content": "Por serem experientes vocês saberão avaliar "
                },
                "685d411a574c9086b60d27f9": {
                  "answerId": "69a6c9be36ae2bdc9b5cb741",
                  "fieldTitle": "Você foi pré-aprovado para uma das vagas da nossa Consultoria.Importante: se você não confirmar com o nosso time via WhatsApp dentro do prazo, sua vaga será automaticamente transferida para outro interessado.Você confirma que está ciente e comprometido?",
                  "fieldDescription": null,
                  "content": [
                    "SIM"
                  ]
                },
                "685d438435bd886b580246b2": {
                  "answerId": "69a6c9c936ae2bdc9b5cb78b",
                  "fieldTitle": "Sua consultoria está quase agendada...",
                  "fieldDescription": "<p>Escolha um horário abaixo e clique<strong> \"CONTINUE\" </strong>para confirmar seu agendamento e receber um plano de ação personalizado, seguindo a metodologia que gerou <strong>+R$ 900 MILHÕES</strong> em vendas de <strong>ofertas High Tickets</strong>!</p>",
                  "content": "https://calendly.com/scheduled_events/d61cef55-e468-47c8-8573-235dbc349ea9/invitees/81517f54-bb83-4352-834d-8fd0aa6b080e"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/8e8c13e0-cbb7-45b4-8da2-edb3408ec85a",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-06-26T14:20:49.844Z",
      "createdAt": "2025-06-26T14:20:49.844Z",
      "role": "workflow:owner",
      "workflowId": "Tx23zlyP3mhINlfZ",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "createdAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-25T14:48:35.297Z",
  "versionId": "13a13745-a90b-45af-a6cc-eca2fa678fb8"
}