workflows/[JP] Agendamento Calendly.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Renan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sara",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ActiveCampaign12",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CG10": {
      "main": [
        [
          {
            "node": "Mensagem CG10 | TR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem CG10 | Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CG5": {
      "main": [
        [
          {
            "node": "Mensagem CG5 | TR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem CG5 | Q&A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CG20": {
      "main": [
        [
          {
            "node": "Botões",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Data Inicio": {
      "main": [
        [
          {
            "node": "Hora Inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio": {
      "main": [
        [
          {
            "node": "Lembrete 12h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem CG10 | Q&A": {
      "main": [
        [
          {
            "node": "Data Inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h": {
      "main": [
        [
          {
            "node": "Lembrete 24hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr": {
      "main": [
        [
          {
            "node": "Lembrete 36h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h": {
      "main": [
        [
          {
            "node": "Lembrete 2h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Inicio1": {
      "main": [
        [
          {
            "node": "Hora Inicio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio1": {
      "main": [
        [
          {
            "node": "Lembrete 12h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h1": {
      "main": [
        [
          {
            "node": "Lembrete 24hr1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr1": {
      "main": [
        [
          {
            "node": "Lembrete 36h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h1": {
      "main": [
        [
          {
            "node": "Lembrete 2h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h1": {
      "main": [
        [
          {
            "node": "Formata Telefone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem CG10 | TR": {
      "main": [
        [
          {
            "node": "Data Inicio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Inicio2": {
      "main": [
        [
          {
            "node": "Hora Inicio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio2": {
      "main": [
        [
          {
            "node": "Lembrete 12h2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h2": {
      "main": [
        [
          {
            "node": "Lembrete 24hr2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr2": {
      "main": [
        [
          {
            "node": "Lembrete 36h2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h2": {
      "main": [
        [
          {
            "node": "Lembrete 2h2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h2": {
      "main": [
        [
          {
            "node": "Formata Telefone2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Inicio3": {
      "main": [
        [
          {
            "node": "Hora Inicio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio3": {
      "main": [
        [
          {
            "node": "Lembrete 12h3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h3": {
      "main": [
        [
          {
            "node": "Lembrete 24hr3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr3": {
      "main": [
        [
          {
            "node": "Lembrete 36h3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h3": {
      "main": [
        [
          {
            "node": "Lembrete 2h3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h3": {
      "main": [
        [
          {
            "node": "Formata Telefone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone3": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem CG20 | TR": {
      "main": [
        []
      ]
    },
    "Mensagem CG20 | Q&A": {
      "main": [
        [
          {
            "node": "Data Inicio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Inicio4": {
      "main": [
        [
          {
            "node": "Hora Inicio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio4": {
      "main": [
        [
          {
            "node": "Lembrete 12h4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h4": {
      "main": [
        [
          {
            "node": "Lembrete 24hr4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr4": {
      "main": [
        [
          {
            "node": "Lembrete 36h4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h4": {
      "main": [
        [
          {
            "node": "Lembrete 2h4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h4": {
      "main": [
        [
          {
            "node": "Formata Telefone4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone4": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Inicio5": {
      "main": [
        [
          {
            "node": "Hora Inicio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hora Inicio5": {
      "main": [
        [
          {
            "node": "Lembrete 12h5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h5": {
      "main": [
        [
          {
            "node": "Lembrete 24hr5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24hr5": {
      "main": [
        [
          {
            "node": "Lembrete 36h5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h5": {
      "main": [
        [
          {
            "node": "Lembrete 2h5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 2h5": {
      "main": [
        [
          {
            "node": "Formata Telefone5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone5": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem CG5 | TR": {
      "main": [
        [
          {
            "node": "Data Inicio5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem CG5 | Q&A": {
      "main": [
        [
          {
            "node": "Data Inicio4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "ActiveCampaign3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign4": {
      "main": [
        [
          {
            "node": "ActiveCampaign5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "ActiveCampaign4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign6": {
      "main": [
        [
          {
            "node": "ActiveCampaign7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "ActiveCampaign6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign8": {
      "main": [
        [
          {
            "node": "ActiveCampaign9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "ActiveCampaign8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign10": {
      "main": [
        [
          {
            "node": "ActiveCampaign11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "ActiveCampaign10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign12": {
      "main": [
        [
          {
            "node": "ActiveCampaign13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Botões": {
      "main": [
        [
          {
            "node": "Data Inicio3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CG - Personalizado": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Cria Lead no monday",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Lead no monday1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Lead no monday": {
      "main": [
        [
          {
            "node": "Atualiza informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza informações": {
      "main": [
        [
          {
            "node": "preenche colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preenche colunas": {
      "main": [
        [
          {
            "node": "Notifica grupo | Guilherme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Lead no monday1": {
      "main": [
        [
          {
            "node": "Atualiza informações1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza informações1": {
      "main": [
        [
          {
            "node": "preenche colunas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preenche colunas1": {
      "main": [
        [
          {
            "node": "Notifica grupo | Guilherme1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-14T20:50:55.756Z",
  "id": "SlZo8jyHETfwI6gs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] Agendamento Calendly",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "7ac21b45-68dd-42e5-ac7b-58a1aaa9ee98",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        800,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4b4359e0-d29f-4e27-9485-80524e4359bd",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "invitee.created",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eac61d6e-12a7-4d0a-8a89-3199766ab279",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.text_reminder_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "128eed3b-a365-413f-8bf2-9994a0411fdb",
      "name": "Mensagem CG20 | TR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        -256
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.text_reminder_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0f37fcb3-5900-4824-9c4b-46e88140583d",
      "name": "Mensagem CG10 | TR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.text_reminder_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "988bb621-623b-460b-87a2-00d34324b3c8",
      "name": "Mensagem CG5 | TR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e69bb562-ead9-4c0f-b231-74951d377f0f",
              "leftValue": "={{ $json.payload.text_reminder_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "905ae643-42dd-45ca-992c-240ae3fe7cfe",
      "name": "CG20",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3744,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e69bb562-ead9-4c0f-b231-74951d377f0f",
              "leftValue": "={{ $json.payload.text_reminder_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ab1110c-b592-4b8f-a695-4397b7cf75f4",
      "name": "CG10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3728,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e69bb562-ead9-4c0f-b231-74951d377f0f",
              "leftValue": "={{ $json.payload.text_reminder_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8bc38b19-88b5-4011-a22e-3420c3950dae",
      "name": "CG5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3728,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20168c60-dfd8-4f97-a469-7a7af5a275b0",
      "name": "Mensagem CG10 | Q&A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22b7dfe3-d0cf-4338-8f31-65385f15dba6",
      "name": "Mensagem CG5 | Q&A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b66cdce20f5b2a0a17e64befa48c59c8",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.payload.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.payload.questions_and_answers[0].answer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4c87a2d-2403-4183-b11d-c9a774da0a91",
      "name": "Mensagem CG20 | Q&A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4128,
        -80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "9cb61379-1cab-45a0-86c6-7e49fce2493d",
      "name": "Data Inicio",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        368
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "09b4b565-a783-451e-af22-b4e95678c99c",
      "name": "Hora Inicio",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        368
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {}
      },
      "id": "9fa364cf-5357-40e1-925b-7e48b786ccce",
      "name": "Lembrete 12h",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        368
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "2c2df92a-65be-45b9-b690-7108b9cea3c3",
      "name": "Lembrete 24hr",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        368
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "07d89d8f-e575-4400-a5b9-94ad2c2843f1",
      "name": "Lembrete 36h",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        368
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "59086aae-8b54-4a5f-b8dd-a0019e938c6c",
      "name": "Lembrete 2h",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        368
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4afe21e4-4920-49cb-9c9b-8ae9f67b8753",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"questions_and_answers\"][\"0\"][\"answer\"])\n\nreturn $input.all();"
      },
      "id": "11363a46-442e-497b-8296-31a2d2ea5f01",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        368
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "05201ef7-5d9e-43a4-9052-1d1878e93695",
      "name": "Data Inicio1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        192
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "53ec78a6-abe2-4ded-8909-c1c0fd3250a5",
      "name": "Hora Inicio1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        192
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {}
      },
      "id": "e092c0bd-b03f-4072-9392-d35f725e9792",
      "name": "Lembrete 12h1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        192
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "9d1470c8-0dde-47e9-a719-15deff89c42c",
      "name": "Lembrete 24hr1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        192
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "3e9b9e6a-0251-4ce2-af03-14f2c2e3970e",
      "name": "Lembrete 36h1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        192
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "7711910f-6b0f-44a5-9952-1718a8d7db96",
      "name": "Lembrete 2h1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio1').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio1').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h1').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr1').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h1').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "209fc909-5df0-4d32-ae9c-5f20a56b3e23",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"text_reminder_number\"])\n\nreturn $input.all();"
      },
      "id": "fb2507b2-f107-4c9d-8541-aefc66dedcbe",
      "name": "Formata Telefone1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        192
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "36f19263-cc15-48bb-ae09-4dcc32e55ed5",
      "name": "Data Inicio2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "c313aa74-99d1-4dba-af99-5af48b38ae2b",
      "name": "Hora Inicio2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {}
      },
      "id": "00c22a09-4e56-4b5f-b4ca-99b8e4b54f03",
      "name": "Lembrete 12h2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "c7163c8c-bd44-4884-ab56-c21e0c524988",
      "name": "Lembrete 24hr2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "3e1fc7a8-85d0-4271-8df9-7a187b60ad10",
      "name": "Lembrete 36h2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "2fdf112b-cc26-4d23-96e9-bcb0d794d943",
      "name": "Lembrete 2h2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio2').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio2').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h2').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr2').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h2').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ca695a6c-0346-4f13-877f-36779e691891",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"questions_and_answers\"][\"0\"][\"answer\"])\n\nreturn $input.all();"
      },
      "id": "e3e78b93-1d25-4f95-ab16-8cf0bfc4934e",
      "name": "Formata Telefone2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "1a105b7c-1bce-49c0-af80-32346767d7ad",
      "name": "Data Inicio3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "7172a7f8-d2a0-4db2-a490-706e697dbdab",
      "name": "Hora Inicio3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {
          "includeInputFields": false
        }
      },
      "id": "39403f36-b119-492d-8d58-df6cc98f0c4a",
      "name": "Lembrete 12h3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "d1fbee24-228c-4adf-a456-5d0139129246",
      "name": "Lembrete 24hr3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "754ab058-830a-48cd-a957-de633706d35b",
      "name": "Lembrete 36h3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "b8edf675-a58d-4669-a413-b8e8b596e1d6",
      "name": "Lembrete 2h3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio3').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio3').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h3').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr3').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h3').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "54fcc21f-1762-4b09-aa84-a2006fa5bb9e",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"text_reminder_number\"])\n\nreturn $input.all();"
      },
      "id": "10cb9297-3852-4886-bc97-6263a28992d2",
      "name": "Formata Telefone3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "895da06e-c103-4e89-8489-4b6976a6bba2",
      "name": "Data Inicio4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        832
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "bc1e0891-079f-4b99-8f22-d34174413c33",
      "name": "Hora Inicio4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        832
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {}
      },
      "id": "5cd897ec-0747-4775-a94d-f1cfb9d2f28a",
      "name": "Lembrete 12h4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        832
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "ee4e3f98-a659-4adc-ad03-a7b6407989b0",
      "name": "Lembrete 24hr4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        832
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "263cf48e-f453-48f9-b4c1-cad944bca055",
      "name": "Lembrete 36h4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        832
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "cb84a51c-bd70-405c-bf9a-bea74f9be38e",
      "name": "Lembrete 2h4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        832
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio4').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio4').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h4').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr4').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h4').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4bcb1713-eda9-4b3a-a37a-ce2a8f098c68",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        832
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"questions_and_answers\"][\"0\"][\"answer\"])\n\nreturn $input.all();"
      },
      "id": "5174bc50-8182-4bdd-a20f-52de74a19cbc",
      "name": "Formata Telefone4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        832
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {
          "timezone": true
        }
      },
      "id": "b6313d41-5239-4057-b96e-22bf8559ee85",
      "name": "Data Inicio5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4352,
        640
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "formattedHour",
        "options": {
          "timezone": true
        }
      },
      "id": "1bb54d77-f514-4b95-a143-01a332f453b3",
      "name": "Hora Inicio5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4528,
        640
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 12,
        "outputFieldName": "12depois",
        "options": {}
      },
      "id": "658bc3f9-e205-4e74-9443-c32f938f3dbb",
      "name": "Lembrete 12h5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4704,
        640
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 24,
        "outputFieldName": "24depois",
        "options": {}
      },
      "id": "41a893fe-46ed-4f3a-9165-16794ebbbb9e",
      "name": "Lembrete 24hr5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        4880,
        640
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Trata Webhook').item.json.created_at }}",
        "timeUnit": "hours",
        "duration": 36,
        "outputFieldName": "36depois",
        "options": {}
      },
      "id": "5fe8fc4a-25b4-4349-9c2c-b6f3fd7fa9e5",
      "name": "Lembrete 36h5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5072,
        640
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Trata Webhook').item.json.payload.scheduled_event.start_time }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "2antes",
        "options": {}
      },
      "id": "110bacd4-1bed-476d-a619-ee441265efed",
      "name": "Lembrete 2h5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        5248,
        640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Data Inicio5').item.json.formattedDate }}",
            "Hora inicio": "={{ $('Hora Inicio5').item.json.formattedHour }}",
            "Nome": "={{ $('Trata Webhook').item.json.payload.name }}",
            "Email": "={{ $('Trata Webhook').item.json.payload.email }}",
            "Whatsapp": "={{ $json.whatsapp }}",
            "Link": "={{ $('Trata Webhook').item.json.payload.scheduled_event.location.join_url }}",
            "Criado em": "={{ $('Trata Webhook').item.json.created_at }}",
            "Lembrete 12h": "={{ $('Lembrete 12h5').item.json[\"12depois\"] }}",
            "Lembrete 24h": "={{ $('Lembrete 24hr5').item.json[\"24depois\"] }}",
            "Lembrete 36h": "={{ $('Lembrete 36h5').item.json[\"36depois\"] }}",
            "Lembrete 2h": "={{ $json[\"2antes\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "94c9217d-46be-4644-987f-5a9da3b97f53",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        5600,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json['whatsapp'] = formataTelefone($node[\"Trata Webhook\"].json[\"payload\"][\"text_reminder_number\"])\n\nreturn $input.all();"
      },
      "id": "ae74e2f9-5d27-4e20-bd96-4435a22a44aa",
      "name": "Formata Telefone5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        5424,
        640
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "f37bd0bd-3b24-4c80-9b79-922a5468323b",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        -256
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "e574c01f-6f59-4a82-a666-623f6fc7066b",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        -256
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "89a2049d-d121-4788-a6b8-c3c881bc3df1",
      "name": "ActiveCampaign2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        -80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "933097a2-12f9-4769-b88e-7985e07adaae",
      "name": "ActiveCampaign3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        -80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "dd29b6ed-7f0e-4052-9048-23f0ba06b865",
      "name": "ActiveCampaign4",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        192
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "34d8ec29-b357-4207-87a0-1e5bcb3b5ad6",
      "name": "ActiveCampaign5",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        192
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "a747e957-261b-4fbf-82f5-29026387ef38",
      "name": "ActiveCampaign6",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        368
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "56dea993-96ae-4139-8d63-2342991ce2ed",
      "name": "ActiveCampaign7",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        368
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "9cc313c8-6f73-4be4-ab06-960e7e000a01",
      "name": "ActiveCampaign8",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        640
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "8f2e235c-60fc-4d62-90f2-c469806c4983",
      "name": "ActiveCampaign9",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        640
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Trata Webhook').item.json.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "deb8a353-2933-4374-b016-9e60993dbdb2",
      "name": "ActiveCampaign10",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5792,
        832
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "19",
        "contactId": "={{ $json.id }}"
      },
      "id": "a0405aa9-26f3-4c54-9e02-3da69d11362e",
      "name": "ActiveCampaign11",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        5968,
        832
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.body.payload.email }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "1c72dc1a-ecc9-480c-a69d-37805617fb77",
      "name": "ActiveCampaign12",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        512,
        -144
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "34",
        "contactId": "={{ $json.id }}"
      },
      "id": "46aedabe-6c8c-4f18-bdd5-a2a5c737c4ec",
      "name": "ActiveCampaign13",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        752,
        -144
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e94548e-da55-49c9-85b0-cb48997648dc",
        "options": {}
      },
      "id": "29a534f6-fc27-4c65-a082-a4e84995d7d4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        304
      ],
      "webhookId": "0e94548e-da55-49c9-85b0-cb48997648dc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-button-actions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"phone\": \"5581993515055\",\n    \"message\": \"Parabéns [nome], sua consultoria gratuita foi agendada com sucesso!\\n\\nUm de nossos especialistas está analisando seu perfil para trazer um diagnóstico + plano de ação completo do seu cenário atual. ✅\\n\\n*Agora, só precisamos que confirme sua presença no botão abaixo:* 👇\",\n    \"buttonActions\": [\n        {\n            \"id\": \"1\",\n            \"type\": \"REPLY\",\n            \"label\": \"Confirma minha presença\"\n        },\n        {\n            \"id\": \"2\",\n            \"type\": \"REPLY\",\n            \"label\": \"Não confirmar\"\n        }\n    ]\n}\n",
        "options": {}
      },
      "id": "3d4d4006-34fd-422a-8f26-8fe287062451",
      "name": "Botões",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        -256
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5511993152305"
            },
            {
              "name": "message",
              "value": "=*Novo Agendamento - Evento disparado pelo Calendly*\n\n*Data da Reunião:* {{ $json.payload\n   .scheduled_event\n   .start_time\n   .toDateTime()                 \n   .setZone('America/Sao_Paulo') \n   .toFormat('dd/MM/yyyy HH:mm') \n}}\nAgenda: {{ $json.payload.scheduled_event.name }}\n\nNome: {{ $json.payload.name }}\nEmail: {{ $json.payload.email }}\nTelefone: {{ $item(\"0\").$node[\"If\"].json[\"body\"][\"payload\"][\"questions_and_answers\"][\"0\"][\"question\"] }}\n\nNome do Closer: {{ $json.payload.scheduled_event.event_memberships[0].user_name }}\n\nPS: Se o nome do closer vier com *sdr*, é agenda reserva."
            }
          ]
        },
        "options": {}
      },
      "id": "c411968e-b205-4d8f-83fe-0ea518fb2049",
      "name": "Renan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        144
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5511939325501‬"
            },
            {
              "name": "message",
              "value": "=*Novo Agendamento - Evento disparado pelo Calendly*\n\n*Data da Reunião:* {{ $json.payload\n   .scheduled_event\n   .start_time\n   .toDateTime()                 \n   .setZone('America/Sao_Paulo') \n   .toFormat('dd/MM/yyyy HH:mm') \n}}\nAgenda: {{ $json.payload.scheduled_event.name }}\n\nNome: {{ $json.payload.name }}\nEmail: {{ $json.payload.email }}\nTelefone: {{ $item(\"0\").$node[\"If\"].json[\"body\"][\"payload\"][\"questions_and_answers\"][\"0\"][\"question\"] }}\n\nNome do Closer: {{ $json.payload.scheduled_event.event_memberships[0].user_name }}\n\nPS: Se o nome do closer vier com *sdr*, é agenda reserva."
            }
          ]
        },
        "options": {}
      },
      "id": "76b7232b-74e0-4ea4-9227-df3e8fc4a3cc",
      "name": "Sara",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        368
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "461f0ccc-e896-4547-be36-4a7050941ef6",
              "leftValue": "={{ $json.payload.scheduled_event.name }}",
              "rightValue": "CG - Personalizado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        -144
      ],
      "id": "1abd9243-65e2-48f8-93a8-b7b7fe8fb2d5",
      "name": "CG - Personalizado"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "José Pedro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55295f78-1cc5-483e-bd26-3de680665642"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "José Pedro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff5c30a3-ea60-443b-8a34-351ad9aedc14",
                    "leftValue": "={{ $json.payload.scheduled_event.event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1344,
        -160
      ],
      "id": "81df5f3a-93f6-41b9-9546-2588048651e4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP - Calendly com formulário*\n\n*Data e hora da Reunião*: {{ $('Trata Webhook').item.json.payload.scheduled_event.start_time\n     .toDateTime()          \n     .setZone('UTC')        \n     .toFormat('dd/MM/yyyy HH:mm') }}\n\n\n*Closer Responsável:* Guilherme Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*O que mais te trava hoje em escalar sua oferta?*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[1].answer }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7aeffdf9-3f7f-4e1f-81d5-6c3b0ec9a0e9",
      "name": "Notifica grupo | Guilherme",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        -320
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $json.payload.name }}",
        "additionalFields": {}
      },
      "id": "b0881da3-8399-457c-b597-d8b9c7d60cb2",
      "name": "Cria Lead no monday",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1632,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.payload.name }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.payload.email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n\n----------\nO que mais te trava hoje em escalar sua oferta?\n\n{{ $('Trata Webhook').item.json.payload.questions_and_answers[1].answer }}\n\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.payload.event }}\n\nOrigens:\nFormulário direto do calendly\n"
      },
      "id": "420a58ed-17ec-4540-a43c-acb428110467",
      "name": "Atualiza informações",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1872,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria Lead no monday').item.json.id }}",
        "columnValues": "={\"person\":\"bma.guilhermebijari@gmail.com\" }"
      },
      "id": "3715517a-6ae6-46eb-9d7d-6521c94c2f70",
      "name": "preenche colunas",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2112,
        -320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP - Calendly com formulário*\n\n*Data e hora da Reunião*: {{ $('Trata Webhook').item.json.payload.scheduled_event.start_time\n     .toDateTime()          \n     .setZone('UTC')        \n     .toFormat('dd/MM/yyyy HH:mm') }}\n\n\n*Closer Responsável:* Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.payload.name }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.payload.email }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n*O que mais te trava hoje em escalar sua oferta?*: {{ $('Trata Webhook').item.json.payload.questions_and_answers[1].answer }}\n\n*Informações completas no Bom Controle*: https://new.bomcontrole.com.br/crm/oportunidade/detalhes/{{ $node[\"Criar Oportunidade - Thaís BMA\"].json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14c80205-6865-4d91-9a9f-87e4b9bb025f",
      "name": "Notifica grupo | Guilherme1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        -128
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "topics",
        "name": "={{ $json.payload.name }}",
        "additionalFields": {}
      },
      "id": "291006f4-359e-4a2c-ba4d-95e8f838c291",
      "name": "Cria Lead no monday1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1632,
        -128
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome completo:\n\n{{ $('Trata Webhook').item.json.payload.name }}\n\n\n----------\nEmail:\n\n{{ $('Trata Webhook').item.json.payload.email }}\n\n\n----------\nWhatsapp:\n\n{{ $('Trata Webhook').item.json.payload.questions_and_answers[0].answer }}\n\n\n----------\nO que mais te trava hoje em escalar sua oferta?\n\n{{ $('Trata Webhook').item.json.payload.questions_and_answers[1].answer }}\n\n\n----------\nCalendly\n\n{{ $('Trata Webhook').item.json.payload.event }}\n\nOrigens:\nFormulário direto do calendly\n"
      },
      "id": "0847b02b-193c-4be9-8132-b5ae80b22e56",
      "name": "Atualiza informações1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1872,
        -128
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria Lead no monday1').item.json.id }}",
        "columnValues": "={\"person\":\"tiagogregorio@mentoriahighticket.com.br\" }"
      },
      "id": "ac87ba29-6a4a-4a79-aa78-bb11fff17269",
      "name": "preenche colunas1",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2112,
        -128
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria Lead no monday').item.json.id }}",
        "columnValues": "={\"n_meros\":\"20000\", \"data\":\"{{ $('Trata Webhook').item.json.payload.created_at.toDateTime().setZone('UTC').toFormat('dd/MM/yyyy HH:mm:ss') }}\", \"texto\":\"{{ \"https://wa.me/\"+$('Trata Webhook').item.json.payload.questions_and_answers[0].answer.replace(\"+\",\"\")}}\",\"data2\":\"{{ $('Trata Webhook').item.json.payload.scheduled_event.start_time.toDateTime().setZone('UTC').toFormat('dd/MM/yyyy HH:mm:ss') }}\", \"data\":\"{{ $('Trata Webhook').item.json.payload.created_at.toDateTime().setZone('UTC').toFormat('dd/MM/yyyy HH:mm:ss') }}\",\"person\":\"bma.guilhermebijari@gmail.com\" }"
      },
      "id": "de0d1636-f083-4e9a-8374-7a989a85b950",
      "name": "preenche colunas2",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2112,
        -560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "Calendly",
            "content-length": "2145",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br, zstd",
            "content-type": "application/json",
            "traceparent": "00-683e0032000000002dbf03cffab15b29-2a1075b664dbedbd-00",
            "tracestate": "dd=s:-1",
            "x-datadog-parent-id": "3031051975456976317",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=683e003200000000",
            "x-datadog-trace-id": "3296357644057533225",
            "x-forwarded-for": "34.85.188.170",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b00e11001b6",
            "x-real-ip": "34.85.188.170"
          },
          "params": {},
          "query": {},
          "body": {
            "created_at": "2025-06-02T19:49:06.000000Z",
            "created_by": "https://api.calendly.com/users/f90cd979-a1b2-4c75-941e-ffd18c6ae192",
            "event": "invitee.created",
            "payload": {
              "cancel_url": "https://calendly.com/cancellations/8a123224-3c85-4bc3-b587-6238ae0b9f24",
              "created_at": "2025-06-02T19:49:05.453347Z",
              "email": "matheus@gmail.com",
              "event": "https://api.calendly.com/scheduled_events/8afcc594-41c5-4e4f-ba36-4e584fff98c0",
              "first_name": null,
              "invitee_scheduled_by": "https://api.calendly.com/users/f90cd979-a1b2-4c75-941e-ffd18c6ae192",
              "last_name": null,
              "name": "Matheus",
              "new_invitee": null,
              "no_show": null,
              "old_invitee": null,
              "payment": null,
              "questions_and_answers": [
                {
                  "answer": "+55 81 99351-5055",
                  "position": 0,
                  "question": "Qual é o seu WhatsApp?"
                },
                {
                  "answer": "teste",
                  "position": 1,
                  "question": "O que mais te trava hoje em escalar sua oferta?"
                }
              ],
              "reconfirmation": null,
              "reschedule_url": "https://calendly.com/reschedulings/8a123224-3c85-4bc3-b587-6238ae0b9f24",
              "rescheduled": false,
              "routing_form_submission": null,
              "scheduled_event": {
                "created_at": "2025-06-02T19:49:05.440787Z",
                "end_time": "2025-06-04T14:30:00.000000Z",
                "event_guests": [],
                "event_memberships": [
                  {
                    "user": "https://api.calendly.com/users/f90cd979-a1b2-4c75-941e-ffd18c6ae192",
                    "user_email": "jp@mentoriahighticket.com.br",
                    "user_name": "José Pedro"
                  }
                ],
                "event_type": "https://api.calendly.com/event_types/e6cd4d45-95aa-4ac4-83d9-62fecf288c1d",
                "invitees_counter": {
                  "total": 1,
                  "active": 1,
                  "limit": 1
                },
                "location": {
                  "location": null,
                  "type": "custom"
                },
                "meeting_notes_html": null,
                "meeting_notes_plain": null,
                "name": "CG - Personalizado",
                "start_time": "2025-06-04T13:00:00.000000Z",
                "status": "active",
                "updated_at": "2025-06-02T19:49:05.440787Z",
                "uri": "https://api.calendly.com/scheduled_events/8afcc594-41c5-4e4f-ba36-4e584fff98c0"
              },
              "scheduling_method": null,
              "status": "active",
              "text_reminder_number": null,
              "timezone": "America/Sao_Paulo",
              "tracking": {
                "utm_campaign": null,
                "utm_source": null,
                "utm_medium": null,
                "utm_content": null,
                "utm_term": null,
                "salesforce_uuid": null
              },
              "updated_at": "2025-06-02T19:49:05.453347Z",
              "uri": "https://api.calendly.com/scheduled_events/8afcc594-41c5-4e4f-ba36-4e584fff98c0/invitees/8a123224-3c85-4bc3-b587-6238ae0b9f24"
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/0e94548e-da55-49c9-85b0-cb48997648dc",
          "executionMode": "production"
        }
      }
    ],
    "Cria Lead no monday": [
      {
        "json": {
          "id": "9284987670"
        }
      }
    ],
    "Atualiza informações": [
      {
        "json": {
          "id": "4171455612"
        }
      }
    ],
    "Cria Lead no monday1": [
      {
        "json": {
          "id": "9284987670"
        }
      }
    ],
    "Atualiza informações1": [
      {
        "json": {
          "id": "4171455612"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2024-05-14T20:50:55.756Z",
      "createdAt": "2024-05-14T20:50:55.756Z",
      "role": "workflow:owner",
      "workflowId": "SlZo8jyHETfwI6gs",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": {
    "node:Calendly Trigger": {}
  },
  "tags": [
    {
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "createdAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-17T17:23:45.332Z",
  "versionId": "64c5fd79-c88e-44cb-b173-d1cfa277a8e2"
}