workflows/[JP] CG V3 BIO com Calendly Yay Forms.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time4": {
      "main": [
        [
          {
            "node": "agendou?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "formata data reunião1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Agendada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Agendada5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada": {
      "main": [
        [
          {
            "node": "Date & Time5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time5": {
      "main": [
        [
          {
            "node": "formata data reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?1": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendou?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou?2": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Tiago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião": {
      "main": [
        [
          {
            "node": "Notifica grupo | José1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Guilherme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José": {
      "main": [
        [
          {
            "node": "Notifica grupo | José3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José3": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José4": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada1": {
      "main": [
        [
          {
            "node": "Date & Time6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time6": {
      "main": [
        [
          {
            "node": "formata data reunião2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint João",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José2": {
      "main": [
        [
          {
            "node": "Notifica grupo | José5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José5": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada3": {
      "main": [
        [
          {
            "node": "Date & Time7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time7": {
      "main": [
        [
          {
            "node": "formata data reunião3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião3": {
      "main": [
        [
          {
            "node": "Notifica grupo | José6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Tiago1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José6": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada4": {
      "main": [
        [
          {
            "node": "Date & Time8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time8": {
      "main": [
        [
          {
            "node": "formata data reunião4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião4": {
      "main": [
        [
          {
            "node": "Notifica grupo | José8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Guilherme1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José8": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "preencheu whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time9": {
      "main": [
        [
          {
            "node": "Clint João1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José9": {
      "main": [
        []
      ]
    },
    "Rodizio SDR": {
      "main": [
        [
          {
            "node": "Date & Time9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clint João1": {
      "main": [
        [
          {
            "node": "Notifica grupo | José9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada5": {
      "main": [
        [
          {
            "node": "Date & Time10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time10": {
      "main": [
        [
          {
            "node": "formata data reunião5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata data reunião5": {
      "main": [
        [
          {
            "node": "Notifica grupo | José7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clint Guilherme2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José7": {
      "main": [
        [
          {
            "node": "Notifica grupo | José10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica grupo | José10": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preencheu whatsapp": {
      "main": [
        [
          {
            "node": "Rodizio SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 25": {
      "main": [
        [
          {
            "node": "Wait18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait18": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 26": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait19": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 27": {
      "main": [
        [
          {
            "node": "Wait20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait20": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL1": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL ": {
      "main": [
        [
          {
            "node": "Wait19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 9": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 10": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL2": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL3": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 29": {
      "main": [
        [
          {
            "node": "Wait21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait21": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 30": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait24": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 34": {
      "main": [
        [
          {
            "node": "Wait25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait25": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL7": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 2": {
      "main": [
        [
          {
            "node": "Wait24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL4": {
      "main": [
        [
          {
            "node": "VIDEO JP PRE-CALL7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 41": {
      "main": [
        [
          {
            "node": "Wait31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait31": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 42",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG PRE-CALL 42": {
      "main": [
        [
          {
            "node": "Wait32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait32": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 43",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO JP PRE-CALL5": {
      "main": [
        [
          {
            "node": "MSG PRE-CALL 41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-24T04:11:19.939Z",
  "id": "VxKlrhwUgrmO577V",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] CG V3 BIO com Calendly Yay Forms",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "48826748-65ad-47a4-b56a-7979a0433c1a",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -480,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd",
        "options": {
          "timezone": true
        }
      },
      "id": "063d4e32-8ec9-4971-9145-2845c327246f",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        40,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d97\"].content }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "9d7ec62e-cdb1-471f-9b69-496a4e88fe3c",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1df4902b-9690-4b6b-8211-237dcedfae1d",
      "name": "Date & Time4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        260,
        20
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "8fa172aa-6252-4e8b-9701-61dfd630d9d0",
      "name": "Call Agendada2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        -1500
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "9899fcb8-028b-4b47-8e48-898aa4baf6dd",
      "name": "Date & Time3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        -1500
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "545f9c51-16ec-4eee-82bf-0813f2117b8e",
      "name": "formata data reunião1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        -1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "8d4db926-336d-4f09-ac43-7a05f64d755d",
      "name": "Notifica grupo | José",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -1500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28dd7602-cc58-41a6-a5e2-c16d77c395aa",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8bfc06d0-82a2-405a-8174-f31d901a1941",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "José Pedro",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a67c3a0a-8fee-46d2-80fd-cdf47c6c681c",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "João Bijari",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "João Bijari"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1b6656c1-fab1-4e35-8ca1-6ca255abd390",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Tiago Gregório1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tiago Gregório Reserva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d3a7a76e-3f4e-4ca9-a6d7-b8525768fe01",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Guilherme Bijari1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Bijari Reserva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d63c0587-b693-4db7-897a-a1bcb11001d0",
                    "leftValue": "={{ $json.collection[0].event_memberships[0].user_name }}",
                    "rightValue": "Guilherme Breier",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Guilherme Breier"
            }
          ]
        },
        "options": {}
      },
      "id": "ecde2937-4a4a-4e04-a599-7fe68a08c688",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1600,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "b1d2d3a9-1ab1-48f1-8b4e-35834878a6d3",
      "name": "Call Agendada",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        -1020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "3331ec0d-aa89-4e44-b019-f6e61ea7c0cf",
      "name": "Date & Time5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        -1020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "8c9fd589-8309-4d2f-9029-2cc8c9eb6a75",
      "name": "formata data reunião",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        -1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms) (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/views/168355086/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1ee1cc1-179d-44b7-8808-8bc0c5182910",
      "name": "Notifica grupo | José1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -1020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d9d'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97751b4d-1527-41f6-8f2b-fad683079533",
      "name": "agendou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d9e'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c797a260-26f0-4251-b4d3-93e23952d0cd",
      "name": "agendou?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97cdbf7c-2be4-41e2-b4b0-c3e958c8931a",
              "leftValue": "={{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d9f'].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d421e19-61c1-4287-bf21-ef1f5fc3fde4",
      "name": "agendou?2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        820,
        340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a226f88a-d6fb-4483-aec2-142cde72d07d",
        "options": {}
      },
      "id": "6ee88d11-e807-4747-939f-6bbbb9f60c08",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        20
      ],
      "webhookId": "a226f88a-d6fb-4483-aec2-142cde72d07d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=5534984133437"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "351b1785-318a-490b-92b3-f512e530aaee",
      "name": "Notifica grupo | José3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545991193001‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Tiago Gregório\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "1f486611-c3e1-4a81-9ef6-4d563f67fe41",
      "name": "Notifica grupo | José4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -1020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "e69d24be-9c33-43b6-9d51-dff6033e200e",
      "name": "Call Agendada1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        -420
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "e9614767-4cd3-40a7-9e27-41ad5708c777",
      "name": "Date & Time6",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        -420
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "171ae66c-ce6d-4316-a6bf-6c75e4894282",
      "name": "formata data reunião2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms) (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/views/168355086/pulses/{{ $('Monday.com1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5085a73a-1d08-41c3-8aee-6a253b39d1ab",
      "name": "Notifica grupo | José2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=‪5545998211421‬"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "c503dd61-bcaf-4d43-9782-e3f1356dbdf5",
      "name": "Notifica grupo | José5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        -420
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "65760e01-50cb-445d-9796-32a32639b777",
      "name": "Call Agendada3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "e3868bce-fe0d-429c-a858-e20a1e947e0f",
      "name": "Date & Time7",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "91fa192d-db82-4ec5-8436-79df6fcb28a2",
      "name": "formata data reunião3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva TIAGO GREGÓRIO 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms) (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "eaace8c6-d681-420b-be01-2b6be714d8f8",
      "name": "Notifica grupo | José6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        100
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "013c1129-d0ad-484d-ad45-77e77d7b0082",
      "name": "Call Agendada4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        620
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "63d7a9a5-e42f-47eb-8866-0ccf9efc7221",
      "name": "Date & Time8",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        620
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "8238ba2c-ee51-4c19-880a-15c7ae0b8169",
      "name": "formata data reunião4",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado - Agenda Reserva GUILHERME BIJARI 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* Gislene\n\n*Closer Responsável*: João Bijari\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms) (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "da93920b-666f-4b78-af88-50a9e579a3b6",
      "name": "Notifica grupo | José8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "78aff739-5436-49fe-af9e-20fcf1ce6f4c",
              "leftValue": "={{ $json.response.timeToComplete }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        40
      ],
      "id": "771dfb2a-cf7f-48a0-8a21-433a4fec2e4b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "b24305b8-ed27-4182-9921-bb416e48454e",
      "name": "Date & Time9",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        60,
        1720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=Novo lead Parcial funil JP - Form BIO 🚨\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*SDR Responsável:* {{ $node[\"Rodizio SDR\"].json[\"nome_sdr\"] }}\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec049784-7d19-4297-af7d-b3bee554313f",
      "name": "Notifica grupo | José9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        1720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LWmIGCByIZ3GpWo0",
          "mode": "list",
          "cachedResultName": "Rodízio de SDR BMA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -200,
        1720
      ],
      "id": "ef4e1a31-026e-4d8e-9ad4-341541d39551",
      "name": "Rodizio SDR"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time3').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -1740
      ],
      "id": "5adbc7a7-8f91-4a35-b175-8b34a31656a3",
      "name": "Clint Tiago"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/c7cc4bf0-57c8-446f-aabd-497b8fe7a9c7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time5').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -1200
      ],
      "id": "dfc0f6c8-a054-4727-bfe3-0aa992bf57f0",
      "name": "Clint Guilherme"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/29feda0c-47c3-48b7-bf6b-aa9837ae3eb7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time6').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -600
      ],
      "id": "b1869669-b88c-4159-a021-9c2608649431",
      "name": "Clint João"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/754d899e-b07d-4aca-ad77-592a64eb1800",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        1720
      ],
      "id": "9bae3b3f-7f74-4b19-93e3-8d28512a975a",
      "name": "Clint João1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/834a2a3a-8c87-49fd-a614-d2f85f6f08fe",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time7').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        -100
      ],
      "id": "bc2d1dc1-81f2-4cae-9a1f-5bb9ec4c1995",
      "name": "Clint Tiago1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/c7cc4bf0-57c8-446f-aabd-497b8fe7a9c7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time8').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        440
      ],
      "id": "9a155f6c-1ccf-4e8e-85e1-577f4fb2d4b5",
      "name": "Clint Guilherme1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "b3ea51ca-efcb-4fe7-a6bb-b3db3bd22415",
      "name": "Call Agendada5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1940,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Trata Webhook').item.json.response.submittedAt }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "options": {
          "timezone": true
        }
      },
      "id": "a7075e69-aaa3-4c80-9aa7-be97e1f82731",
      "name": "Date & Time10",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2160,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $node[\"Busca Invite\"].json[\"collection\"][\"0\"][\"start_time\"] }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy HH:mm",
        "options": {
          "timezone": true
        }
      },
      "id": "fe9b3ea0-3780-4839-bc36-28197495a586",
      "name": "formata data reunião5",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3020,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=120363285621576178-group"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado JP 🚨*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Breier\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: BIO (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas na Clint*"
            }
          ]
        },
        "options": {}
      },
      "id": "7162d144-5c5b-4adb-a280-fa43314ad6d8",
      "name": "Notifica grupo | José7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=555193968241"
            },
            {
              "name": "message",
              "value": "=*Novo lead agendado*\n\n*Data e hora da Reunião*: {{ $json[\"formattedDate\"] }}\n\n*Closer Responsável*: Guilherme Breier\n\n*Nome do lead*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d94'].content }}\n\n*E-mail*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d97'].content }}\n\n*Whatsapp*: {{ $('Trata Webhook').item.json.response.answers['67f0b04658c5b6e203042d95'].content }}\n\n*Faturamento*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d99'].content[0] }}\n\n*Modelo de Negócio*: {{ $('Trata Webhook').item.json.response.answers['67f0b04758c5b6e203042d98'].content[0] }}\n\n*Origens:*\nFormulário: v3 calendly (yay forms)\n\nutm_source: {{ $('Trata Webhook').item.json.response.tracking.utm_source }}\nutm_campaign: {{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}\nutm_medium: {{ $('Trata Webhook').item.json.response.tracking.utm_medium }}\nutm_content: {{ $('Trata Webhook').item.json.response.tracking.utm_content }}\nutm_term: {{ $('Trata Webhook').item.json.response.tracking.utm_term }}\n\n*Informações completas no Monday*: https://bma47373.monday.com/boards/5671139092/views/168355086/pulses/{{ $('Monday.com').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19451d25-3057-48c9-8d2c-6251aa658e3d",
      "name": "Notifica grupo | José10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/5241efb6-675f-4c1b-bbf1-b8ada72c2240",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d94\"][\"content\"] }}"
            },
            {
              "name": "email",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d97\"][\"content\"] }}"
            },
            {
              "name": "telefone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "instagram",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d96\"][\"content\"] }}"
            },
            {
              "name": "negocio",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d98\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "faturamento",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d99\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "objetivo",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9b\"][\"content\"] }}"
            },
            {
              "name": "cenario",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04758c5b6e203042d9a\"][\"content\"][\"0\"] }}"
            },
            {
              "name": "calendly",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9d\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9e\"].content || $('Trata Webhook').item.json.response.answers[\"67f0b04758c5b6e203042d9f\"].content }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_source }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_campaign }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_medium }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Trata Webhook').item.json.response.tracking.utm_term }}"
            },
            {
              "name": "Data Aplicação",
              "value": "={{ $('Date & Time10').item.json.formattedDate }}"
            },
            {
              "name": "Data Call Agendada",
              "value": "={{ $json[\"formattedDate\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        1060
      ],
      "id": "f55e6d9f-617e-4709-bf77-0b080a4e1610",
      "name": "Clint Guilherme2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04658c5b6e203042d95\"].content }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "86994d26-948e-4dca-b479-b7ba9248a461",
      "name": "VIDEO JP PRE-CALL4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E3F36E4610C91875DD88258D1F0342D/token/9DD6B5828E972473481638B5/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Trata Webhook').item.json.response.answers[\"67f0b04658c5b6e203042d95\"].content }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "28b14399-0412-48fd-a1f5-00e8f6a7563e",
      "name": "VIDEO JP PRE-CALL5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b6fdbd8-bc81-4357-92c9-16786432226b",
              "leftValue": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -200,
        900
      ],
      "id": "6719490b-77d7-4f26-9dc1-d8af5c19207f",
      "name": "preencheu whatsapp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "b2ba1bc7-e925-4e5e-ae32-211ec6219c0e",
      "name": "VIDEO JP PRE-CALL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -1500
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4260,
        -1500
      ],
      "id": "6110bb89-1e26-4ba4-9e38-7eded994cb8e",
      "name": "Wait",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "58d63675-7de9-41fb-83cf-6285d1e3403b",
      "name": "MSG PRE-CALL 25",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        -1500
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4700,
        -1500
      ],
      "id": "82c36a8a-24bd-4995-9cae-2411fbe2ba0c",
      "name": "Wait18",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "05ce299b-5f74-436a-99bc-b23c7055b934",
      "name": "MSG PRE-CALL 26",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        -1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "0d810215-0046-43e1-801a-fb7618a05335",
      "name": "MSG PRE-CALL 24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4920,
        -1500
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4220,
        -1020
      ],
      "id": "bdac3a6a-8e1d-4342-9a50-e6add065cd3f",
      "name": "Wait19",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "e27d8073-aade-4d74-bb84-ca457dfa4837",
      "name": "MSG PRE-CALL 27",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4440,
        -1020
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4660,
        -1020
      ],
      "id": "80c4852a-6a74-4439-a895-2c2ddb695267",
      "name": "Wait20",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "f737bf37-5bf0-4fdb-82f3-5cc497f618d4",
      "name": "MSG PRE-CALL 28",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4880,
        -1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "4faab01d-aa35-44d2-98e9-ce1cc436c1e5",
      "name": "VIDEO JP PRE-CALL1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        -1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "d549fb76-acc9-4ee0-a4b1-78a5123b182a",
      "name": "MSG PRE-CALL ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        -1020
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "9bca8487-bca8-4b9b-81b2-05714136ea9e",
      "name": "MSG PRE-CALL 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        -420
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4180,
        -420
      ],
      "id": "b1fc38e7-5455-4e7c-8840-d501b1f25142",
      "name": "Wait7",
      "webhookId": "830677be-1112-44f4-9da8-723852a221fe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "33fe3f74-05d0-4393-a6a9-b9124f87953e",
      "name": "MSG PRE-CALL 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        -420
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4640,
        -420
      ],
      "id": "84374efd-b8f4-4618-b49e-3b399ea0abf2",
      "name": "Wait8",
      "webhookId": "79f5be57-8df2-4170-8604-506138f900ae"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "2e8a3d93-84be-4d66-8138-48bce2e57ab4",
      "name": "MSG PRE-CALL 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4860,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "97eddfa8-2bdc-4dc4-b523-4f7f76e1e028",
      "name": "VIDEO JP PRE-CALL2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "46111bc6-7eef-4fd3-a088-8ee7e8055385",
      "name": "VIDEO JP PRE-CALL3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        100
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        100
      ],
      "id": "161ad341-e091-4043-87d1-505a1c39a49e",
      "name": "Wait1",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "d6509eb9-8f3f-4993-bc9f-ea2200ddff14",
      "name": "MSG PRE-CALL 29",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4220,
        100
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4440,
        100
      ],
      "id": "09eabaff-f927-44b4-85d5-abc7b56a99fd",
      "name": "Wait21",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "2ddb27ff-934c-4f16-b00c-90a34221b58e",
      "name": "MSG PRE-CALL 30",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3D988782948B509EAB57D68D1B7EED95/token/8CA26C6FE554568DD46A30A6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "9c1a5cc7-f886-4358-94a1-afe8084ee8c7",
      "name": "MSG PRE-CALL 31",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4660,
        100
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4240,
        620
      ],
      "id": "46c66574-022e-4877-ad2c-49ce40319241",
      "name": "Wait24",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "092a791d-e34f-4cbc-bcc0-426645457baa",
      "name": "MSG PRE-CALL 34",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4460,
        620
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4680,
        620
      ],
      "id": "c4c5fa40-7634-4bd0-b0c0-5d7c53829247",
      "name": "Wait25",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "f43802f0-e90d-4e4e-929e-2642df93b2e9",
      "name": "MSG PRE-CALL 35",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "video",
              "value": "=https://raw.githubusercontent.com/libertas-cris/arquivos-pra-envio/main/Pre%CC%81%20call%20agosto%20-%20editado%20(1).mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "d3ff06f5-70f3-41a0-8fa5-44f9e4fa5914",
      "name": "VIDEO JP PRE-CALL7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "ce3b4bb1-e5f0-4a25-9838-be4b7024efd9",
      "name": "MSG PRE-CALL 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E3F36E4610C91875DD88258D1F0342D/token/9DD6B5828E972473481638B5/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=Bora que depois dessa sua consultoria, você vai ter mapeado certinho o que precisa fazer para escalar suas vendas. "
            }
          ]
        },
        "options": {}
      },
      "id": "ffdb617b-998f-4558-a21a-5be60a6af938",
      "name": "MSG PRE-CALL 41",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        1240
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4240,
        1240
      ],
      "id": "a7c3e9ec-74db-4689-aaff-1a3a61b023e4",
      "name": "Wait31",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E3F36E4610C91875DD88258D1F0342D/token/9DD6B5828E972473481638B5/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=E pode ficar tranquilo, essa não é uma reunião como 90% que o objetivo é só fazer um pitch de vendas, realmente temos uma formação na metodologia do Bijari e entregamos um plano de ação de alto valor, por isso as vagas são bem disputadas"
            }
          ]
        },
        "options": {}
      },
      "id": "f0e6dbc5-0668-4812-879e-22c5ca170a64",
      "name": "MSG PRE-CALL 42",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4460,
        1240
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4680,
        1240
      ],
      "id": "af3c36af-da29-452a-b3f9-7e2f442f223b",
      "name": "Wait32",
      "webhookId": "84036bad-3761-4492-b648-4da6aac54d83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E3F36E4610C91875DD88258D1F0342D/token/9DD6B5828E972473481638B5/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $item(\"0\").$node[\"Trata Webhook\"].json[\"response\"][\"answers\"][\"67f0b04658c5b6e203042d95\"][\"content\"] }}"
            },
            {
              "name": "message",
              "value": "=É importante que você saiba que não existe remarcação, caso você não confirme sua reunião nas próximas horas, sua vaga será transferida para outro empresário. Posso contar com você lá?"
            }
          ]
        },
        "options": {}
      },
      "id": "33555423-a6c6-4a61-8f60-248eaf93164c",
      "name": "MSG PRE-CALL 43",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        1240
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "GuzzleHttp/7",
            "content-length": "4975",
            "content-type": "application/json",
            "x-forwarded-for": "104.248.49.135",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "3b00e11001b6",
            "x-real-ip": "104.248.49.135",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "response": {
              "id": "68681d7d8363803d3d1bfc75",
              "formId": "67f0b04658c5b6e203042d92",
              "ipAddress": "177.137.75.204",
              "operatingSystem": "AndroidOS",
              "operatingSystemVersion": "14",
              "userAgent": "Mozilla/5.0 (Linux; Android 14; SM-A146M Build/UP1A.231005.007; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/137.0.7151.115 Mobile Safari/537.36 Instagram 387.1.0.34.85 Android (34/14; 540dpi; 1080x2182; samsung; SM-A146M; a14x; s5e8535; pt_BR; 756711717)",
              "browser": "Chrome",
              "browserVersion": "137.0.7151.115",
              "referrerUrl": "https://l.instagram.com/",
              "deviceType": "mobile",
              "geolocation": {
                "continent": "South America",
                "country_code": "BR",
                "country_code2": "BR",
                "country_name": "Brazil",
                "state": "São Paulo",
                "city": "Poá",
                "zipcode": "08550",
                "latitude": -23.5262,
                "longitude": -46.346,
                "timezone": "America/Sao_Paulo"
              },
              "aiFeedback": null,
              "hiddenFields": [],
              "variables": {
                "score": 0
              },
              "tracking": [],
              "timeToComplete": 219.697,
              "startedAt": "2025-07-04T18:29:48.538000Z",
              "submittedAt": "2025-07-04T18:33:28.235000Z",
              "createdAt": "2025-07-04T18:29:17.480000Z",
              "updatedAt": "2025-07-04T18:33:29.694000Z",
              "answers": {
                "67f0b05858c5b6e203042da3": {
                  "answerId": "68681d7eec57f369fec59a97",
                  "fieldTitle": "Quer vender mais e mais caro? Preencha para tentar uma vaga:",
                  "fieldDescription": "<p>Quer vender mais e mais caro? Preencha para tentar uma vaga:</p><p></p><p>Nada de uma reunião rápida e superficial como 99.9% do mercado faz — se aprovado, a reunião será de 1:30h com um estrategista formado na nossa metodologia para fazer um diagnóstico e um plano de ação para você:</p><p>- Vender mais e mais caro;</p><p>- Gerar leads mais qualificados e mais baratos;</p><p>- Fazer seu vendedor vender sem depender de você;</p><p>- Ficar menos refém da entrega;</p><p></p><p></p><p>IMPORTANTE: O preenchimento desse formulário NÃO garante que você será aceito para uma das vagas. Temos vagas limitadas e por isso avaliamos cautelosamente cada interessado.</p>",
                  "content": null
                },
                "67f0b04658c5b6e203042d94": {
                  "answerId": "68681d9bec57f369fec59ae9",
                  "fieldTitle": "Qual seu nome completo?",
                  "fieldDescription": null,
                  "content": "Alberto Giovanni "
                },
                "67f0b04658c5b6e203042d95": {
                  "answerId": "68681da8ec57f369fec59b14",
                  "fieldTitle": "Número de WhatsApp com DDD",
                  "fieldDescription": null,
                  "content": "+5511999498883"
                },
                "67f0b04658c5b6e203042d96": {
                  "answerId": "68681dafec57f369fec59b2a",
                  "fieldTitle": "Seu @ no Instagram",
                  "fieldDescription": null,
                  "content": "@dipietro.trader"
                },
                "67f0b04758c5b6e203042d97": {
                  "answerId": "68681dc1ec57f369fec59b5d",
                  "fieldTitle": "Qual o seu e-mail principal?",
                  "fieldDescription": null,
                  "content": "albertogiovanni@uol.com.br"
                },
                "67f0b04758c5b6e203042d98": {
                  "answerId": "68681dc8ec57f369fec59b74",
                  "fieldTitle": "Qual das opções abaixo mais condiz com seu negócio hoje?",
                  "fieldDescription": null,
                  "content": [
                    "Mentor, expert ou infoprodutor"
                  ]
                },
                "67f0b04758c5b6e203042d99": {
                  "answerId": "68681dd6ec57f369fec59ba5",
                  "fieldTitle": "Qual seu faturamento TOTAL (considerando investimento/sociedades/outros negócios);",
                  "fieldDescription": null,
                  "content": [
                    "R$ 5.000,00 a R$ 15.000,00"
                  ]
                },
                "67f0b04758c5b6e203042da1": {
                  "answerId": "68681ddcec57f369fec59bb8",
                  "fieldTitle": "Quanto de RECEITA (entrada de caixa) você tem por mês?",
                  "fieldDescription": "<p>PS: fique tranquilo, não vamos divulgar este dado ou te expor. É para calcularmos seu % de competência X caixa.</p>",
                  "content": [
                    "Até R$ 15.000,00"
                  ]
                },
                "67f0b04758c5b6e203042d9a": {
                  "answerId": "68681de4ec57f369fec59bcf",
                  "fieldTitle": "Em qual cenário você se encaixa",
                  "fieldDescription": null,
                  "content": [
                    "Já tenho mentorados e quero escalar as vendas"
                  ]
                },
                "67f0b04758c5b6e203042d9b": {
                  "answerId": "68681debec57f369fec59bea",
                  "fieldTitle": "Descreva de forma clara o seu objetivo nos próximos 12 meses e as 3 principais dificuldades que estão te impedindo de alcançá-lo.",
                  "fieldDescription": null,
                  "content": "Ter mensalmente um mínimo de 8 mentorados "
                },
                "67f0b04758c5b6e203042d9c": {
                  "answerId": "68681e14ec57f369fec59c70",
                  "fieldTitle": "Você foi pré-aprovado para uma das vagas da Consultoria. Caso você não responda a confirmação do nosso time no seu WhatsApp, sua vaga será transferida para outro interessado. Você está ciente?",
                  "fieldDescription": null,
                  "content": [
                    "Claro, quero aproveitar!"
                  ]
                },
                "67f0b04758c5b6e203042d9d": {
                  "answerId": "68681e21ec57f369fec59c9d",
                  "fieldTitle": "Sua consultoria está quase agendada...",
                  "fieldDescription": "<p>Escolha um horário abaixo e clique<strong> \"CONTINUE\" </strong>para confirmar seu agendamento e receber um plano de ação personalizado, seguindo a metodologia que gerou <strong>+R$ 900 MILHÕES</strong> em vendas de <strong>ofertas High Tickets</strong>!</p>",
                  "content": "https://calendly.com/scheduled_events/95091f22-17c9-4deb-bd99-2fb44da37489/invitees/0f0e33fb-e811-400d-881e-8ca0a48987ee"
                }
              }
            }
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/a226f88a-d6fb-4483-aec2-142cde72d07d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-27T13:50:42.249Z",
  "versionId": "8eb81614-4be1-48d5-b188-4186ab1b893f"
}