workflows/[JP] Lembretes de agendamento Calendly.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Atual": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h": {
      "main": [
        [
          {
            "node": "Filtro 12h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24h": {
      "main": [
        [
          {
            "node": "Filtro 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 12h": {
      "main": [
        [
          {
            "node": "Check 12h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 24h": {
      "main": [
        [
          {
            "node": "Check 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h": {
      "main": [
        [
          {
            "node": "Filtro 36h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 36h": {
      "main": [
        [
          {
            "node": "Check 36h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete Dia": {
      "main": [
        [
          {
            "node": "Filtro Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Dia": {
      "main": [
        [
          {
            "node": "Check Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 12h": {
      "main": [
        [
          {
            "node": "Mensagem 12h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 24h": {
      "main": [
        [
          {
            "node": "Mensagem 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 36h": {
      "main": [
        [
          {
            "node": "Mensagem 36h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dia": {
      "main": [
        [
          {
            "node": "Mensagem Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem 12h": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem 24h": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem 36h": {
      "main": [
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Dia": {
      "main": [
        [
          {
            "node": "ActiveCampaign3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ActiveCampaign9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "ActiveCampaign10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign3": {
      "main": [
        [
          {
            "node": "ActiveCampaign11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lembrete 24h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete 36h",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete Dia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete 12h",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim de semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fim de semana": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 12h1": {
      "main": [
        [
          {
            "node": "Filtro 12h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 24h1": {
      "main": [
        [
          {
            "node": "Filtro 24h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 12h1": {
      "main": [
        [
          {
            "node": "Check 12h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 24h1": {
      "main": [
        [
          {
            "node": "Check 24h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete 36h1": {
      "main": [
        [
          {
            "node": "Filtro 36h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro 36h1": {
      "main": [
        [
          {
            "node": "Check 36h1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembrete Dia1": {
      "main": [
        [
          {
            "node": "Filtro Dia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Dia1": {
      "main": [
        [
          {
            "node": "Check Dia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Lembrete 12h1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete 24h1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete 36h1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lembrete Dia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-16T00:50:16.412Z",
  "id": "Izzrvvq539nazhgn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[JP] Lembretes de agendamento Calendly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "70636bd7-c133-4822-b37e-630cab32afc4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        500,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "function verificarHoraUtil(dataString) {\n    // Converte a string de data para um objeto Date\n    var data = new Date(dataString);\n    \n    // Obtém o dia da semana (0 = Domingo, 1 = Segunda, ..., 6 = Sábado)\n    var diaSemana = data.getDay();\n    \n    // Obtém a hora atual\n    var horaAtual = data.getHours();\n    \n    // Verifica se não é sábado ou domingo e se a hora está entre 7 da manhã e 8 da noite\n    if (diaSemana !== 0 && diaSemana !== 6 && horaAtual >= 7 && horaAtual < 20) {\n        return true;\n    } else {\n        return false;\n    }\n}\n\nvar dataAtual = $input.all()[0].json['currentDate']\n\nvar isValid = (verificarHoraUtil(dataAtual));\n\nreturn {isValid}\n"
      },
      "id": "2c9ae997-a2f5-4474-b404-8b54b518eb15",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "id": "357942ac-5a7e-40f2-bd30-421fbd1e5ad1",
      "name": "Data Atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        740,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f8bae6e8-334c-4468-ad34-603a29cc3763",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73ce0b28-5f18-4e00-bda1-bbfb0e17441e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "02848627-f27c-4a39-9d12-eb1881f6d596",
      "name": "Lembrete 12h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1480,
        -480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "b104d523-de59-4594-a479-a37de7382514",
      "name": "Lembrete 24h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1480,
        -280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 12hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 12h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 12h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "9fa98421-fbf3-4dfa-86d1-ee29983ce7d1",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c9f65ca3-a4be-415e-8a53-c97d776923b8",
      "name": "Filtro 12h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1680,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 12hr": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e6f86aa8-668a-4e62-96a0-4c3b5345189a",
      "name": "Check 12h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1880,
        -480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 24hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 24h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 24h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "f2a71a92-f274-47dc-941b-32cc0b654da6",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a743f8a3-5349-4a2d-a2d0-2a67a71da8a4",
      "name": "Filtro 24h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1680,
        -280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 24hr": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "67c286a2-4567-42ac-9f3e-df36eb6c81fa",
      "name": "Check 24h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1880,
        -280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "270ca9f4-23be-4f23-8cd4-ab65aedda058",
      "name": "Lembrete 36h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1480,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 36hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 36h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 36h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "c56be819-e51a-4c9b-8973-0e50d05b4f1b",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b498c09-88e6-4716-af45-938530a8e9f3",
      "name": "Filtro 36h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1680,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 36hr": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "941460c3-1bc6-4abb-bdad-0870b08aab73",
      "name": "Check 36h",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1880,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "7fa24f23-4c0d-498b-b7c3-03a5f30604aa",
      "name": "Lembrete Dia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1480,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 2hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 2h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 2h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "9f664e07-48c2-4238-aaf1-cdeb344495d4",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54125ad4-abc5-4f70-898a-1f02718c046d",
      "name": "Filtro Dia",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1680,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 2hr": "enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "6a996bac-932b-499e-aad6-7563b0c0900f",
      "name": "Check Dia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1880,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/b5d3559a2b92e8bf5d3badf0bccae195",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Lembrete 12h').item.json.Nome }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Lembrete 12h').item.json.Whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb374679-a3ba-454b-823e-7229e922cf72",
      "name": "Mensagem 12h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/0e1a73e5c8edbe5d4d69d8ca4ad4123e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Lembrete 24h').item.json.Nome }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Lembrete 24h').item.json.Whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ed4ccef-38de-426a-8351-99398e0bbf42",
      "name": "Mensagem 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/676ab400132d68f51cfd8369cccf6e59",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Lembrete 36h').item.json.Nome }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Lembrete 36h').item.json.Whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a85af3f9-d48a-429b-92a3-6981e31d6554",
      "name": "Mensagem 36h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.pluglead.com/webhook/7cd921c6a5b13149f6fd3298442a155b",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Lembrete Dia').item.json.Nome }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Lembrete Dia').item.json.Whatsapp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7caf03a7-57a2-4338-8ab8-d5b6e0254d6c",
      "name": "Mensagem Dia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        120
      ]
    },
    {
      "parameters": {
        "email": "={{ $node[\"Filtro 12h\"].json[\"Email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "c832eec0-cc6a-4782-b275-c32a27a4bfcd",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2280,
        -480
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Filtro 24h\"].json[\"Email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "d8148724-5514-47c6-a31b-b8807ae17cd6",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2280,
        -280
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Filtro 36h\"].json[\"Email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "b12829f1-9f9a-4375-a1b8-66ed5b2ffb6e",
      "name": "ActiveCampaign2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2280,
        -80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $node[\"Filtro Dia\"].json[\"Email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "349d3eaa-a485-43a1-ac11-db4d55986d6e",
      "name": "ActiveCampaign3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2280,
        120
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "21",
        "contactId": "={{ $json.id }}"
      },
      "id": "db41d495-ab49-43ad-9e19-79ccf0dfad5f",
      "name": "ActiveCampaign8",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2460,
        -480
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "22",
        "contactId": "={{ $json.id }}"
      },
      "id": "893af3bc-7098-4d73-ad9b-10d6be0b54c7",
      "name": "ActiveCampaign9",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2460,
        -280
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "23",
        "contactId": "={{ $json.id }}"
      },
      "id": "98db0375-339d-41c5-81e0-d9af1d918819",
      "name": "ActiveCampaign10",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2460,
        -80
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "24",
        "contactId": "={{ $json.id }}"
      },
      "id": "8a6e3409-3f86-4db7-9530-845170a200ec",
      "name": "ActiveCampaign11",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2460,
        120
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function isWeekend(dateString) {\n    // Cria um objeto Date a partir da string de data recebida\n    const date = new Date(dateString);\n\n    // Obtém o dia da semana (0 = Domingo, 1 = Segunda-feira, ..., 6 = Sábado)\n    const dayOfWeek = date.getDay();\n\n    // Verifica se o dia da semana é Sábado (6) ou Domingo (0)\n   return (dayOfWeek === 6 || dayOfWeek === 0) ? true : false;\n}\n\n// Exemplo de uso\nconst dateStr = $('Data Atual').all()[0].json['currentDate'];\nconst isFds = isWeekend(dateStr);\n\nreturn {isFds}\n"
      },
      "id": "09dcced6-ac05-44b0-83bd-4ea51454f393",
      "name": "Fim de semana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2859657a-be1c-4147-935e-a21583ac1d84",
              "leftValue": "={{ $json.isFds }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0602c233-b9db-4272-9e9c-f76bc2af89ec",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1680,
        820
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "35c6cabf-b350-47df-99b6-aa065e4ff991",
      "name": "Lembrete 12h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1940,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "603f262a-b0f2-4154-ba60-d4a942dbb3f3",
      "name": "Lembrete 24h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1940,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 12hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 12h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 12h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "9fa98421-fbf3-4dfa-86d1-ee29983ce7d1",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ecd64a91-74f4-40ac-9ef5-9e38d822d6bf",
      "name": "Filtro 12h1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2140,
        520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 12hr": "fim de semana"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f4baa62e-96f8-41a3-8ee5-693284adad8b",
      "name": "Check 12h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2340,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 24hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 24h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 24h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "f2a71a92-f274-47dc-941b-32cc0b654da6",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b504977c-c00d-4580-8dde-8e4568e9378a",
      "name": "Filtro 24h1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2140,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 24hr": "fim de semana"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "04b013bd-f598-4d08-b18f-84539a2c33f8",
      "name": "Check 24h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2340,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "0ee6a5a9-d450-4eed-b232-0a939d405cb7",
      "name": "Lembrete 36h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1940,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 36hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 36h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 36h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "c56be819-e51a-4c9b-8973-0e50d05b4f1b",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "237b38ac-aec4-4f49-a4d1-4dd804e0802a",
      "name": "Filtro 36h1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2140,
        920
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 36hr": "fim de semana"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c9ed933e-b8ff-4f49-8cfc-ea2c28497e75",
      "name": "Check 36h1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2340,
        920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "options": {
          "returnAllMatches": "returnAllMatches"
        }
      },
      "id": "12305154-e7fd-4dfe-9193-3a1971015143",
      "name": "Lembrete Dia1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1940,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "69284181-5184-4592-a627-6b73b725f657",
              "leftValue": "={{ $json[\"Check 2hr\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "638a9daf-781f-4940-9d0b-a3cbc7ce55a3",
              "leftValue": "={{ $json[\"Lembrete 2h\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b82c848d-af63-4b6c-8ba8-c5d44ec517ad",
              "leftValue": "={{ $json[\"Lembrete 2h\"] }}",
              "rightValue": "={{ $('Data Atual').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "9f664e07-48c2-4238-aaf1-cdeb344495d4",
              "leftValue": "={{ $json['Check 2hr'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a58b9f88-31e8-49b5-a6de-df543d7b0e1f",
      "name": "Filtro Dia1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2140,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bx7QxT6klZimHnlHdtsRJU5oUUYQMHiCZowUY1TLme8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Check 2hr": "fim de semana"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora inicio",
              "displayName": "Hora inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Criado em",
              "displayName": "Criado em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 12h",
              "displayName": "Lembrete 12h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 12hr",
              "displayName": "Check 12hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 24h",
              "displayName": "Lembrete 24h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 24hr",
              "displayName": "Check 24hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 36h",
              "displayName": "Lembrete 36h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 36hr",
              "displayName": "Check 36hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lembrete 2h",
              "displayName": "Lembrete 2h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check 2hr",
              "displayName": "Check 2hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "868102fd-773f-4743-a0fe-6f5d7596d53c",
      "name": "Check Dia1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2340,
        1120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    }
  ],
  "pinData": {
    "Data Atual": [
      {
        "json": {
          "currentDate": "2024-06-08T23:12:32.137-03:00"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-05-15T14:27:40.970Z",
      "updatedAt": "2024-05-15T14:27:40.970Z",
      "id": "992UXVll2thRwTi3",
      "name": "jp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-06-10T13:36:46.498Z",
  "versionId": "1be79622-4ce7-4f89-822d-3933e6c41f4c"
}