workflows/Checkouts Blindados - CGs.json
{
  "active": true,
  "connections": {
    "Trata Webhook": {
      "main": [
        [
          {
            "node": "Formata Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Telefone": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendly": {
      "main": [
        [
          {
            "node": "espera pra consultar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera pra consultar agendamento": {
      "main": [
        [
          {
            "node": "Data Atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Atual": {
      "main": [
        [
          {
            "node": "Busca Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeform": {
      "main": [
        [
          {
            "node": "Cria lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead": {
      "main": [
        [
          {
            "node": "atualiza informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza informações": {
      "main": [
        [
          {
            "node": "define campos personalizados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define campos personalizados": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "typeform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "calendly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Invite": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "agendou",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "não agendou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendou": {
      "main": [
        [
          {
            "node": "Call Agendada v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead v21": {
      "main": [
        [
          {
            "node": "atualiza informações v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza informações v21": {
      "main": [
        [
          {
            "node": "define campos personalizados v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agendada v21": {
      "main": [
        [
          {
            "node": "Cria lead v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define campos personalizados v21": {
      "main": [
        [
          {
            "node": "add info agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add info agendado": {
      "main": [
        [
          {
            "node": "cria/atualiza contato v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "não agendou": {
      "main": [
        [
          {
            "node": "Cria lead v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria lead v21 na": {
      "main": [
        [
          {
            "node": "atualiza informações v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualiza informações v21 na": {
      "main": [
        [
          {
            "node": "define campos personalizados v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define campos personalizados v21 na": {
      "main": [
        [
          {
            "node": "add info agendado v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add info agendado v21 na": {
      "main": [
        [
          {
            "node": "cria/atualiza contato v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza contato v21": {
      "main": [
        [
          {
            "node": "add lista v21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add lista v21": {
      "main": [
        [
          {
            "node": "Notifica Biato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza contato v21 na": {
      "main": [
        [
          {
            "node": "add lista v21 na",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add lista v21 na": {
      "main": [
        [
          {
            "node": "Notifica Biato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "cria/atualiza contato v18-v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add lista v18-v3": {
      "main": [
        [
          {
            "node": "Notifica Biato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria/atualiza contato v18-v3": {
      "main": [
        [
          {
            "node": "add lista v18-v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica Biato2": {
      "main": [
        [
          {
            "node": "Notifica Grupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica Biato": {
      "main": [
        [
          {
            "node": "Notifica Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifica Biato1": {
      "main": [
        [
          {
            "node": "Notifica Grupo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-19T14:33:18.556Z",
  "id": "ACIVxZKbmM7emG9W",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Checkouts Blindados - CGs",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "880a15d0-6bdb-4e5f-baba-e1c35bc2713d",
      "name": "Trata Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1020,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\n$input.all()[0].json[\"No Label telefone\"] = formataTelefone($input.all()[0].json[\"No Label telefone\"] )\n\nreturn $input.all();"
      },
      "id": "8dfa5212-f0eb-45d8-93aa-f008721e4054",
      "name": "Formata Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1220,
        380
      ]
    },
    {
      "parameters": {},
      "id": "b91313f6-bd44-45c7-abd3-14bd0f222059",
      "name": "calendly",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        520
      ]
    },
    {
      "parameters": {},
      "id": "a27d36fa-0b19-41e1-aed6-a4c7e8ec8eff",
      "name": "typeform",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        60
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "0590b9e6-923e-4edd-aef5-9873f87d3437",
      "name": "espera pra consultar agendamento",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        520
      ],
      "webhookId": "8b895ad1-3b48-46a2-a678-ecafa6052b60"
    },
    {
      "parameters": {
        "url": "=https://api.calendly.com/scheduled_events?organization=\thttps://api.calendly.com/organizations/4b1236a1-2b78-48a2-94c4-87a8afb6297d&invitee_email={{ $node[\"espera pra consultar agendamento\"].json[\"No Label email\"] }}&min_start_time={{ $json.currentDate }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJraWQiOiIxY2UxZTEzNjE3ZGNmNzY2YjNjZWJjY2Y4ZGM1YmFmYThhNjVlNjg0MDIzZjdjMzJiZTgzNDliMjM4MDEzNWI0IiwidHlwIjoiUEFUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJodHRwczovL2F1dGguY2FsZW5kbHkuY29tIiwiaWF0IjoxNzI4NDQ0ODg1LCJqdGkiOiJjZTVlOGZjYS1mYmYzLTRmZjgtOTQ2NS0zMTI2NGVkYTgzOGIiLCJ1c2VyX3V1aWQiOiJmOTBjZDk3OS1hMWIyLTRjNzUtOTQxZS1mZmQxOGM2YWUxOTIifQ.7HosiyEvDh8vRpnSoELYpvNgSLN9Nvn0dNsSYJBn38Boabo4FFLxCdONVuOxRHz3f8Kt_3QCCq3u2uxMPu7kJw"
            }
          ]
        },
        "options": {}
      },
      "id": "64f8d8e1-872f-461d-b1b4-c83e6aef164e",
      "name": "Busca Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "927717eb-eecf-4219-afb2-874abfdb2d8b",
      "name": "Data Atual",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2140,
        520
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ new DateTime($now).format(\"dd/MM/yyyy\") }}",
            "id_monday": "={{ $('Cria lead').item.json.id }}",
            "nome": "={{ $('Formata Telefone').item.json[\"No Label nome\"] }}",
            "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
            "telefone": "={{ $('Formata Telefone').item.json[\"No Label telefone\"] }}",
            "página": "v18-v3",
            "utm_source": "={{ $('Formata Telefone').item.json.utm_source }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Formata Telefone').item.json.utm_medium }}",
            "utm_term": "={{ $('Formata Telefone').item.json.utm_term }}",
            "utm_content": "={{ $('Formata Telefone').item.json.utm_content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_monday",
              "displayName": "id_monday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião agendada",
              "displayName": "reunião agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "631a2c70-07f1-4d4b-b1d6-10c4a11161b7",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2560,
        60
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "novo_grupo84291__1",
        "name": "={{ $json[\"No Label nome\"] }}",
        "additionalFields": {}
      },
      "id": "4addef86-ec2e-4e93-883d-702f3a446b1c",
      "name": "Cria lead",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1920,
        60
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome: {{ $('Formata Telefone').item.json[\"No Label nome\"] }}\n\nEmail:{{ $('Formata Telefone').item.json[\"No Label email\"] }}\n\nTelefone:{{ $('Formata Telefone').item.json[\"No Label telefone\"] }}\n\nPágina: V18-V3"
      },
      "id": "0a0791a4-2b37-4938-9715-5eccc7846fdf",
      "name": "atualiza informações",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2140,
        60
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria lead').item.json.id }}",
        "columnValues": "={\n\"texto__1\": \"v18-v3\"\n}"
      },
      "id": "684649d7-0438-4a5c-b851-bb248c66ef7c",
      "name": "define campos personalizados",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        2340,
        60
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.form_name }}",
                    "rightValue": "FORM-V18-V3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORM-V18-V3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "aaf55604-ca64-4d1f-9cf0-1f9447dcc048",
                    "leftValue": "={{ $json.form_name }}",
                    "rightValue": "v21-v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FORM v21-v2"
            }
          ]
        },
        "options": {}
      },
      "id": "5033373a-7adb-4463-9e33-b970f9225acc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1420,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d9ac52c7-1342-41cf-a68f-2f06308874d6",
              "leftValue": "={{ $json.collection }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffe15aab-2f3b-4ea2-9b56-4042c12fd014",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2660,
        500
      ]
    },
    {
      "parameters": {},
      "id": "f53f341f-ed51-4d9c-93ef-ec67b8740bbf",
      "name": "agendou",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2960,
        380
      ]
    },
    {
      "parameters": {},
      "id": "40ff24cf-7a89-4ab7-aa5f-738e92ac9a3d",
      "name": "não agendou",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2960,
        620
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ new DateTime($now).format(\"dd/MM/yyyy\") }}",
            "id_monday": "={{ $('Cria lead v21').item.json.id }}",
            "nome": "={{ $('Formata Telefone').item.json[\"No Label name\"] }}",
            "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
            "telefone": "={{ $('Formata Telefone').item.json[\"No Label telefone\"] }}",
            "página": "cg-21-v2",
            "utm_source": "={{ $('Formata Telefone').item.json.utm_source }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Formata Telefone').item.json.utm_medium }}",
            "utm_term": "={{ $('Formata Telefone').item.json.utm_term }}",
            "utm_content": "={{ $('Formata Telefone').item.json.utm_content }}",
            "reunião agendada": "={{ $('Busca Invite').item.json.collection[0].start_time.toDateTime().format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_monday",
              "displayName": "id_monday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião agendada",
              "displayName": "reunião agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0fb24700-223e-4812-af18-8b4a7c655df2",
      "name": "add info agendado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4040,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "novo_grupo84291__1",
        "name": "={{ \"Formulário Nativo - v21 \" + $('Formata Telefone').item.json[\"No Label name\"] }}",
        "additionalFields": {}
      },
      "id": "503c49ed-2e7a-415b-9b52-6ab9c5697ddd",
      "name": "Cria lead v21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3380,
        380
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome: {{ $('Formata Telefone').item.json[\"No Label nome\"] }}\n\nEmail:{{ $('Formata Telefone').item.json[\"No Label email\"] }}\n\nTelefone:{{ $('Formata Telefone').item.json[\"No Label telefone\"] }}\n\nPágina: V18-V3"
      },
      "id": "54f975b5-c9ae-4fc8-b587-e28b8ed25a21",
      "name": "atualiza informações v21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3600,
        380
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria lead v21').item.json.id }}",
        "columnValues": "={\n\"texto__1\": \"cg-21-v2\", \"data2\":\"{{ $node[\"Call Agendada v21\"].json[\"callAgendada\"] }}\", \"data\":\"{{ new DateTime($now).format(\"yyyy-MM-dd HH:mm:ss\") }}\"\n}"
      },
      "id": "02382e4e-ca30-44bc-9e53-7f26b80b73fd",
      "name": "define campos personalizados v21",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3820,
        380
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Busca Invite').item.json.collection[0].start_time }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd HH:mm:ss",
        "outputFieldName": "callAgendada",
        "options": {
          "timezone": false
        }
      },
      "id": "1d70267c-ba16-4efd-bdad-ffd74e2cc7ed",
      "name": "Call Agendada v21",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3180,
        380
      ]
    },
    {
      "parameters": {},
      "id": "19ae7ec0-b3b3-41d9-940e-e8b7c962138d",
      "name": "Notifica Biato",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4700,
        380
      ]
    },
    {
      "parameters": {},
      "id": "13667b09-13ed-4d62-bcbc-ee6d73ebc261",
      "name": "Notifica Biato1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4480,
        620
      ]
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "5671139092",
        "groupId": "novo_grupo84291__1",
        "name": "={{ \"Formulário Nativo - v21 \" + $('Formata Telefone').item.json[\"No Label name\"] }}",
        "additionalFields": {}
      },
      "id": "4fcec823-14d4-4404-af2a-65eaae7a5364",
      "name": "Cria lead v21 na",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3180,
        620
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "addUpdate",
        "itemId": "={{ $json.id }}",
        "value": "=Nome: {{ $('Formata Telefone').item.json[\"No Label nome\"] }}\n\nEmail:{{ $('Formata Telefone').item.json[\"No Label email\"] }}\n\nTelefone:{{ $('Formata Telefone').item.json[\"No Label telefone\"] }}\n\nPágina: V18-V3"
      },
      "id": "d08df64d-c21d-4e3b-9d2a-c1ed165e8be8",
      "name": "atualiza informações v21 na",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3400,
        620
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "resource": "boardItem",
        "operation": "changeMultipleColumnValues",
        "boardId": "5671139092",
        "itemId": "={{ $('Cria lead v21 na').item.json.id }}",
        "columnValues": "={\n\"texto__1\": \"cg-21-v2\", \"data\":\"{{ new DateTime($now).format(\"yyyy-MM-dd HH:mm:ss\") }}\"\n}"
      },
      "id": "e163664a-3e33-413b-9512-21ad1cb0da65",
      "name": "define campos personalizados v21 na",
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        3620,
        620
      ],
      "credentials": {
        "mondayComApi": {
          "id": "fkqFP3ydsR7WQhmr",
          "name": "JP Bijari"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEM62CIj6ZpqbTMn1jldBYxjUpZTuPsSUyQZJpHi9zY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ new DateTime($now).format(\"dd/MM/yyyy\") }}",
            "id_monday": "={{ $('Cria lead v21 na').item.json.id }}",
            "nome": "={{ $('Formata Telefone').item.json[\"No Label name\"] }}",
            "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
            "telefone": "={{ $('Formata Telefone').item.json[\"No Label telefone\"] }}",
            "página": "cg-21-v2",
            "utm_source": "={{ $('Formata Telefone').item.json.utm_source }}",
            "utm_campaign": "={{ $('Formata Telefone').item.json.utm_campaign }}",
            "utm_medium": "={{ $('Formata Telefone').item.json.utm_medium }}",
            "utm_term": "={{ $('Formata Telefone').item.json.utm_term }}",
            "utm_content": "={{ $('Formata Telefone').item.json.utm_content }}",
            "reunião agendada": "=não"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_monday",
              "displayName": "id_monday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "página",
              "displayName": "página",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reunião agendada",
              "displayName": "reunião agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e228f0ee-86b0-48bd-854c-30dab7ccfa93",
      "name": "add info agendado v21 na",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3840,
        620
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLr9msB1lyoRblyJ",
          "name": "Matheus BMA"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "e225973a-9c03-4bb1-adc9-a73335b3be97",
      "name": "cria/atualiza contato v21",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4260,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 33,
        "contactId": "={{ $json.id }}"
      },
      "id": "9d3d9d4e-f818-421a-b550-ddbcf1f555a0",
      "name": "add lista v21",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4480,
        380
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "list"
      },
      "id": "8abf53c7-14d4-4e7e-843b-3219f48e56c4",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2820,
        1160
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "50007c82-c495-4a41-9ca3-63dfc30abf8e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "[2024][LEADS][CG-21-V2]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c920f36a-27e3-47f7-98a7-d616ae414f19",
              "leftValue": "={{ $json.name }}",
              "rightValue": "[2024][LEADS][V18-V3]",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "48b53d16-f49a-4a7f-ac50-dbdd8c22beca",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        3040,
        1160
      ]
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "a788c524-c772-4b9e-b9d0-46fe9d8f79a4",
      "name": "cria/atualiza contato v21 na",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4040,
        620
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 33,
        "contactId": "={{ $json.id }}"
      },
      "id": "d7eb1e09-e783-496e-a913-cd9904dcb339",
      "name": "add lista v21 na",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        4260,
        620
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {},
      "id": "54db21a0-df7f-42a1-9ed5-358c5479c0dd",
      "name": "Notifica Biato2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        60
      ]
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 32,
        "contactId": "={{ $json.id }}"
      },
      "id": "6f2dd219-ec94-4209-a391-2c4907df16b8",
      "name": "add lista v18-v3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3000,
        60
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Formata Telefone').item.json[\"No Label email\"] }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "id": "2e0c678f-2e43-481c-93ec-427d58918b83",
      "name": "cria/atualiza contato v18-v3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2780,
        60
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "UB9gpytDjdRyLmed",
          "name": "Active JP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2f13fde3-e5b5-41df-b5d2-b87ad0906065",
        "options": {}
      },
      "id": "6edcdbed-3021-405a-987f-522713c49148",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        820,
        380
      ],
      "webhookId": "2f13fde3-e5b5-41df-b5d2-b87ad0906065"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Página V18-V3 - Novo lead 🚨\n\nNome: {{ $node[\"Formata Telefone\"].json[\"No Label name\"] }}\nEmail: {{ $node[\"Formata Telefone\"].json[\"No Label email\"] }}\nTelefone: {{ $node[\"Formata Telefone\"].json[\"No Label telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "120363365606703751-group"
            }
          ]
        },
        "options": {}
      },
      "id": "44a909ff-e1cd-417f-bbf6-afc709943627",
      "name": "Notifica Grupo1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Página V21-V2 - Novo agendamento 🚨\n\nNome: {{ $node[\"Formata Telefone\"].json[\"No Label name\"] }}\nEmail: {{ $node[\"Formata Telefone\"].json[\"No Label email\"] }}\nTelefone: {{ $node[\"Formata Telefone\"].json[\"No Label telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "120363365606703751-group"
            }
          ]
        },
        "options": {}
      },
      "id": "bb779ffe-4539-47d5-bd7e-356eeef4da6c",
      "name": "Notifica Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4940,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3CFE88963A26408D365B72B70F2FFCF9/token/DA84CEA8EC9897345A31EA92/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "Fdeb892ca62d941adbb85b2ec7c8e3a4aS"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=Página V21-V2 - Novo lead nao agendado 🚨\n\nNome: {{ $node[\"Formata Telefone\"].json[\"No Label name\"] }}\nEmail: {{ $node[\"Formata Telefone\"].json[\"No Label email\"] }}\nTelefone: {{ $node[\"Formata Telefone\"].json[\"No Label telefone\"] }}"
            },
            {
              "name": "phone",
              "value": "120363365606703751-group"
            }
          ]
        },
        "options": {}
      },
      "id": "bfe9f28b-e5cb-4c54-8fab-92170b9d9400",
      "name": "Notifica Grupo2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4700,
        620
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.josepbijari.com",
            "user-agent": "WordPress/6.6.2; https://josepbijari.com",
            "content-length": "527",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "177.93.107.23",
            "x-forwarded-host": "webhook.josepbijari.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "096a4782b8aa",
            "x-real-ip": "177.93.107.23"
          },
          "params": {},
          "query": {},
          "body": {
            "No Label name": "Matheus",
            "No Label email": "testev21v2@gmail.com",
            "No Label telefone": "81993515055",
            "No Label instagram": "@matheuscristhyan",
            "Qual das opções abaixo mais condiz com seu negócio hoje?": "Mentor, expert ou infoprodutor",
            "Considerando seus projetos digitais e demais fontes de renda/faturamento. Qual o faturamento mensal médio, somando estas fontes?": "15K a 20K/mês",
            "utm_content": "",
            "utm_source": "",
            "utm_term": "",
            "utm_medium": "",
            "utm_campaign": "",
            "isca_funnel_key": "v21-v2",
            "pagina": "v21-v2",
            "form_id": "1842027",
            "form_name": "v21-v2"
          },
          "webhookUrl": "https://webhook.josepbijari.com/webhook/2f13fde3-e5b5-41df-b5d2-b87ad0906065",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2024-11-19T14:33:18.556Z",
      "createdAt": "2024-11-19T14:33:18.556Z",
      "role": "workflow:owner",
      "workflowId": "ACIVxZKbmM7emG9W",
      "projectId": "AxNpta0sA2v4gJ2a"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-25T14:39:19.678Z",
  "versionId": "80a69729-b1a3-4b15-9b43-5c40db78d110"
}